.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.group_16 {
  width: 1237px;
  height: 44px;
  margin: 118px 0 0 100px;
}

.label_6 {
  width: 24px;
  height: 24px;
  margin-top: 13px;
}

.thumbnail_7 {
  width: 14px;
  height: 14px;
  margin: 19px 0 0 15px;
}

.label_7 {
  width: 40px;
  height: 40px;
  margin: 4px 0 0 22px;
}

.box_4 {
  height: 40px;
  background: url(./img/SketchPng4d0573cc052eb99e1ddb207e042fc3c859f1df726132ff9bb21e84e33872b6f7.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 136px;
  width: 40px;
}

.image-wrapper_9 {
  height: 36px;
  background: url(./img/da429478580947ca9cda6b9cb4ac7ce2_mergeImage.png) 100%
    no-repeat;
  background-size: 100% 100%;
  width: 36px;
  margin: 2px 0 0 2px;
}

.thumbnail_8 {
  width: 14px;
  height: 14px;
  margin: 24px 0 0 27px;
}

.section_9 {
  width: 49px;
  height: 35px;
  margin: 6px 0 0 7px;
}

.text_13 {
  width: 48px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text-wrapper_5 {
  height: 18px;
  background: url(./img/SketchPng3728568b3051d97e7608d279c323fe7dd8ac325b97b8977250a1cfd9181f37ca.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 3px;
  width: 49px;
}

.text_14 {
  width: 39px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(255, 237, 237, 1);
  font-size: 12px;
  letter-spacing: 0.8571428656578064px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin-left: 5px;
}

.text_15 {
  width: 118px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 20px 0 0 6px;
}

.box_6 {
  height: 40px;
  background: url(./img/SketchPng4d0573cc052eb99e1ddb207e042fc3c859f1df726132ff9bb21e84e33872b6f7.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 40px;
  margin: 3px 0 0 30px;
}

.image-wrapper_10 {
  height: 36px;
  background: url(./img/d7e43c2bdca746ef98305040734496d2_mergeImage.png) 100%
    no-repeat;
  background-size: 100% 100%;
  width: 36px;
  margin: 2px 0 0 2px;
}

.thumbnail_9 {
  width: 14px;
  height: 14px;
  margin: 24px 0 0 26px;
}

.section_10 {
  width: 49px;
  height: 35px;
  margin: 6px 0 0 8px;
}

.text_16 {
  width: 48px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text-wrapper_6 {
  height: 18px;
  background: url(./img/SketchPng59f879403fe2b24656ccf0f23a9eacb2cc1019c2e4fb13c018fca27339a925ee.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 3px;
  width: 49px;
}

.text_17 {
  width: 39px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(112, 66, 27, 1);
  font-size: 12px;
  letter-spacing: 0.8571428656578064px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin-left: 5px;
}

.text_18 {
  width: 118px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 20px 0 0 6px;
}

.box_8 {
  height: 40px;
  background: url(./img/SketchPng4d0573cc052eb99e1ddb207e042fc3c859f1df726132ff9bb21e84e33872b6f7.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 40px;
  margin: 3px 0 0 26px;
}

.image-wrapper_11 {
  height: 36px;
  background: url(./img/2f42b718fc60498f8433e8e43a6be101_mergeImage.png) 100%
    no-repeat;
  background-size: 100% 100%;
  width: 36px;
  margin: 2px 0 0 2px;
}

.thumbnail_10 {
  width: 14px;
  height: 14px;
  margin: 24px 0 0 26px;
}

.section_11 {
  width: 49px;
  height: 35px;
  margin: 6px 0 0 12px;
}

.text_19 {
  width: 48px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text-wrapper_7 {
  height: 18px;
  background: url(./img/SketchPng4a21cad6e9c9f218d3aa1cb9613aa4340b222080cfe5f6652ba43c09687dbf4f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 3px;
  width: 49px;
}

.text_20 {
  width: 39px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(69, 88, 109, 1);
  font-size: 12px;
  letter-spacing: 0.8571428656578064px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin-left: 5px;
}

.text_21 {
  width: 118px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 20px 0 0 6px;
}

.image-wrapper_12 {
  height: 40px;
  background: url(./img/SketchPnged0d2ee05232bf6f7ea87a53cdd43bc6ca7fb2fe16d2e04b53fab10eb2d58c43.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 40px;
  margin: 3px 0 0 39px;
}

.label_8 {
  width: 36px;
  height: 36px;
  margin: 2px 0 0 2px;
}

.section_12 {
  width: 49px;
  height: 35px;
  margin: 6px 0 0 12px;
}

.text_22 {
  width: 48px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text-wrapper_8 {
  height: 18px;
  background: url(./img/SketchPng31da7dd36dbe749fed0aa2cc7dd23e2b55b46cfb2dab5ec0ce9479ccf944b3d0.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 3px;
  width: 49px;
}

.text_23 {
  width: 39px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(107, 111, 122, 1);
  font-size: 12px;
  letter-spacing: 0.8571428656578064px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin-left: 5px;
}

.text_24 {
  width: 118px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 20px 0 0 6px;
}

.image-wrapper_18 {
  width: 55px;
  height: 24px;
  margin: 3px 0 0 100px;
}

.label_9 {
  width: 24px;
  height: 24px;
}

.thumbnail_11 {
  width: 14px;
  height: 14px;
  margin-top: 2px;
}

.image-wrapper_19 {
  width: 55px;
  height: 24px;
  margin: 15px 0 0 100px;
}

.label_10 {
  width: 24px;
  height: 24px;
}

.thumbnail_12 {
  width: 14px;
  height: 14px;
  margin-top: 3px;
}

.group_17 {
  width: 641px;
  height: 90px;
  margin: 359px 0 347px 568px;
}

.section_8 {
  height: 90px;
  background: url(./img/SketchPng8162f440fc61695f7fa12f8ff3444585342bb67eaf098519e8a04de62156432d.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 641px;
  position: relative;
}

.text_25 {
  width: 477px;
  height: 33px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 10px 0 0 33px;
}

.group_1 {
  position: absolute;
  left: -494px;
  top: 53px;
  width: 1189px;
  height: 179px;
  background: url(./img/SketchPng70d8f5f0918c8337f39913c44d1a38cfab38a2bd282085ff45fd8dd216f6c1c9.png)
    -1px 0px no-repeat;
  background-size: 1190px 179px;
}

.block_10 {
  width: 369px;
  height: 156px;
  margin: 18px 0 0 250px;
}

.block_11 {
  width: 355px;
  height: 66px;
  margin-left: 14px;
}

.image_1 {
  width: 299px;
  height: 63px;
  margin-top: 3px;
}

.box_13 {
  width: 54px;
  height: 54px;
  background: url(./img/SketchPng9473b5c8b91191f43fc576c62ff3445b6d98f41011efeba9a1bf6e5b3094224c.png)
    -7px -7px no-repeat;
  background-size: 68px 68px;
}

.text-wrapper_9 {
  height: 58px;
  border: 2px solid rgba(255, 181, 229, 1);
  background: url(./img/SketchPnge268340d09b3e52870036d231b455edca0f3ddedd666ae1fe3428cea8cc4347e.png)
    -5px -1px no-repeat;
  background-size: 375px 64px;
  width: 369px;
  margin: 13px 0 0 -2px;
}

.text_26 {
  width: 330px;
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
  margin: 16px 0 0 26px;
}

.box_14 {
  width: 16px;
  height: 16px;
  background: url(./img/SketchPngc20630220702997c73538817a84c5bd7ad17235e2d9991dd99571cd7ae6adc51.png)
    -7px -7px no-repeat;
  background-size: 30px 30px;
  margin: 3px 0 0 71px;
}

.group_3 {
  position: relative;
  width: 319px;
  height: 192px;
  background: url(./img/SketchPng25c92d4661db304e0dbe624187a6c130f89256e80cb7533033296e3bc195594d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0 192px 0 59px;
}

.block_5 {
  height: 189px;
  background: url(./img/SketchPng0b360564fd02041c84bdc61f7b9791cbfdcdca7fac3f9864555efa50d1be532d.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 247px;
  position: absolute;
  left: 163px;
  top: -1px;
}

.group_4 {
  width: 176px;
  height: 150px;
  background: url(./img/SketchPngd2c3ee4538c73e40686252db598346c7c633737c4ef880a75d9d1c5ebc1a5ffa.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
  margin: 20px 0 0 -29px;
}

.section_13 {
  width: 102px;
  height: 25px;
  margin: 10px 0 0 20px;
}

.text_27 {
  width: 54px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
}

.text-wrapper_10 {
  height: 24px;
  background: url(./img/SketchPng0be25c939d46907a8941d1ef10b318d37e6149531041bc09fa1360c156b64a63.png)
    -1px 0px no-repeat;
  background-size: 41px 24px;
  width: 40px;
}

.text_28 {
  width: 26px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
  margin: 3px 0 0 7px;
}

.text-wrapper_11 {
  width: 82px;
  height: 28px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 5px 0 0 20px;
}

.text_29 {
  width: 82px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_30 {
  width: 82px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 28px;
}

.text_31 {
  width: 130px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 10px 0 0 20px;
}

.text-wrapper_12 {
  height: 32px;
  background: url(./img/SketchPng7886543cfd276c0b1fb80567e7093cfde7a00432aa52383803ec292c4cdc31d9.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 146px;
  margin: 10px 0 10px 20px;
}

.text_32 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 249, 233, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 6px 0 0 45px;
}

.block_6 {
  position: absolute;
  left: -47px;
  top: 19px;
  width: 176px;
  height: 150px;
  background: url(./img/SketchPngd2c3ee4538c73e40686252db598346c7c633737c4ef880a75d9d1c5ebc1a5ffa.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
}

.text-group_5 {
  width: 122px;
  height: 88px;
  margin: 10px 0 0 23px;
}

.text_33 {
  width: 54px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
}

.text-wrapper_13 {
  width: 70px;
  height: 28px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 5px;
}

.text_34 {
  width: 70px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_35 {
  width: 70px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 28px;
}

.text_36 {
  width: 122px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 10px;
}

.text-wrapper_14 {
  height: 32px;
  background: url(./img/SketchPng7886543cfd276c0b1fb80567e7093cfde7a00432aa52383803ec292c4cdc31d9.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 146px;
  margin: 10px 0 10px 20px;
}

.text_37 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 249, 233, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 6px 0 0 45px;
}

.group_5 {
  height: 194px;
  background: url(./img/SketchPng98ea6827d73396cbe9803a0565ac8de9e4f7f5607855f3a99cec72faf50ba2d1.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 193px;
  position: absolute;
  left: 53px;
  top: -38px;
}

.group_6 {
  height: 17px;
  background: url(./img/SketchPng378d442f501d5dd3cf1f4046ebbcb28fdbaf7634c3d774eeddbfc58348b8a2a4.png)
    -11px -13px no-repeat;
  background-size: 199px 43px;
  width: 177px;
  margin: 187px 0 0 -1px;
}

.box_16 {
  width: 42px;
  height: 42px;
  background: url(./img/SketchPnge108b5a8f989a712ed70f71b461d994dae061f5a103c4ee2c0a333f5268dba06.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: -14px 0 0 156px;
}

.image_2 {
  position: absolute;
  left: 52px;
  top: -38px;
  width: 178px;
  height: 196px;
}

.group_7 {
  position: absolute;
  left: 3px;
  top: -26px;
  width: 278px;
  height: 161px;
  background: url(./img/SketchPnga2c2a22e8de746b4b8a0dc0d7cfeeac87fe9feea0dbdfd37cd98e1a9b9de7a8c.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.group_8 {
  width: 20px;
  height: 20px;
  background: url(./img/SketchPng3bbfb20ce41ee833461316eed86e9b6c569f294ffe5072137887d8532beacf9f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 12px 0 0 14px;
}

.group_9 {
  width: 14px;
  height: 14px;
  background: url(./img/SketchPng575587f3b61325943e8f0b81e80a23c4dbf39786fd25e1633ff8888e8af3c84b.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 25px 0 0 15px;
}

.group_10 {
  width: 20px;
  height: 20px;
  background: url(./img/SketchPnga47366b4c61d787155796b81ffbfdda653a338af7857df7bd1bb8307522ab5b1.png)
    -7px -7px no-repeat;
  background-size: 34px 34px;
  margin: 26px 32px 0 163px;
}

.image-wrapper_15 {
  height: 236px;
  background: url(./img/SketchPng97709984c087faead6cddbe96ba8e2f6c79754520d378ab10d04aa9c72886777.png)
    0px -1px no-repeat;
  background-size: 199px 237px;
  width: 198px;
  position: absolute;
  left: 506px;
  top: -3px;
}

.image_3 {
  width: 156px;
  height: 136px;
  margin: -39px 0 0 9px;
}

.box_17 {
  position: absolute;
  left: 1067px;
  top: 659px;
  width: 176px;
  height: 150px;
  background: url(./img/SketchPngd2c3ee4538c73e40686252db598346c7c633737c4ef880a75d9d1c5ebc1a5ffa.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
}

.text-group_6 {
  width: 126px;
  height: 88px;
  margin: 10px 0 0 20px;
}

.text_38 {
  width: 54px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 21px;
}

.text-wrapper_15 {
  width: 82px;
  height: 28px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 5px;
}

.text_39 {
  width: 82px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_40 {
  width: 82px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 28px;
}

.text_41 {
  width: 126px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 10px;
}

.text-wrapper_16 {
  height: 32px;
  background: url(./img/SketchPng7886543cfd276c0b1fb80567e7093cfde7a00432aa52383803ec292c4cdc31d9.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 146px;
  margin: 10px 0 10px 20px;
}

.text_42 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 249, 233, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 6px 0 0 45px;
}

.box_18 {
  position: absolute;
  left: 79px;
  top: 769px;
  width: 54px;
  height: 54px;
  background: url(./img/SketchPng9f68a55f0c246cb35b2d78d6fe79f59d1630c399a1cabd99dc4b6877c038c8b1.png)
    100% no-repeat;
  background-size: 100% 100%;
}
