html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 29.974rem;
  overflow: hidden;
}

.section_12 {
  width: 38.4rem;
  height: 1.707rem;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_9 {
  width: 5.467rem;
  height: 1.707rem;
  margin-left: 0.534rem;
}

.text-wrapper_30 {
  height: 0.96rem;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 0.96rem;
  margin: 0.374rem 0 0 27.974rem;
}

.text_40 {
  width: 0.507rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.134rem 0 0 0.24rem;
}

.text_41 {
  width: 1.28rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.667rem 0 0 0.4rem;
}

.thumbnail_13 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.774rem 1.334rem 0 0.187rem;
}

.image_10 {
  width: 38.4rem;
  height: 0.027rem;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  position: relative;
  width: 32.374rem;
  height: 27.467rem;
  margin: 0.267rem 0 0 5.76rem;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 31.387rem;
  height: 1.334rem;
  margin: 0.534rem 0 0 0.534rem;
}

.box_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 0.08rem;
  height: 0.374rem;
  margin: 0.48rem 0 0 0.054rem;
}

.text_4 {
  width: 1.92rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.294rem 0 0 0.267rem;
}

.box_5 {
  box-shadow: 0px 4px 10px 0px rgba(71, 77, 255, 0.45);
  height: 1.067rem;
  width: 3.467rem;
  margin: 0.134rem 0.16rem 0 25.44rem;
}

.group_1 {
  border-radius: 6px;
  background-image: url(./img/76f0d393c6e4412a80d2f7339e3a2999_mergeImage.png);
  width: 3.467rem;
  height: 1.067rem;
}

.thumbnail_2 {
  width: 0.454rem;
  height: 0.454rem;
  margin: 0.32rem 0 0 0.32rem;
}

.text_5 {
  text-shadow: 0px 0px 4px rgba(53, 59, 230, 1);
  width: 2.134rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.267rem 0.347rem 0 0.214rem;
}

.section_13 {
  width: 12.854rem;
  height: 0.96rem;
  margin: 0.534rem 0 0 1.174rem;
}

.text_6 {
  width: 1.6rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.16rem;
}

.text-wrapper_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  margin-left: 0.32rem;
  width: 5.867rem;
}

.text_7 {
  width: 1.12rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.32rem;
}

.box_6 {
  background-color: rgba(233, 237, 255, 1);
  border-radius: 4px;
  width: 2.134rem;
  height: 0.96rem;
  margin-left: 0.534rem;
}

.thumbnail_3 {
  width: 0.347rem;
  height: 0.347rem;
  margin: 0.32rem 0 0 0.48rem;
}

.text_8 {
  width: 0.694rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.346rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.24rem 0.48rem 0 0;
}

.box_7 {
  border-radius: 4px;
  width: 2.134rem;
  height: 0.96rem;
  border: 1px solid rgba(223, 225, 236, 1);
  margin-left: 0.267rem;
}

.thumbnail_4 {
  width: 0.347rem;
  height: 0.347rem;
  margin: 0.32rem 0 0 0.48rem;
}

.text_9 {
  width: 0.694rem;
  height: 0.347rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.346rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.347rem;
  margin: 0.32rem 0.48rem 0 0;
}

.section_14 {
  width: 31.44rem;
  height: 1.227rem;
  margin: 0.507rem 0 0 0.48rem;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 0px;
  height: 1.227rem;
  border: 1px solid rgba(223, 225, 236, 1);
  width: 3.76rem;
}

.text_10 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.32rem 0 0 0.88rem;
}

.text-wrapper_4 {
  height: 1.227rem;
  background: url(./img/SketchPng95c0d021c9b38abe0cb6ce09dce32ff5146c2d6ab87b45d77acf4b72de0e7434.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.867rem 1.28rem;
  margin-left: 3.734rem;
  width: 5.814rem;
}

.text_11 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.374rem 0 0 2.08rem;
}

.text-wrapper_5 {
  height: 1.227rem;
  background: url(./img/SketchPng42d034c190670624f73a79cf414ca59fa5d09521b9c802b6c60e82fe3c044690.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.12rem 1.28rem;
  width: 5.067rem;
}

.text_12 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.374rem 0 0 1.974rem;
}

.text-wrapper_6 {
  height: 1.227rem;
  background: url(./img/SketchPng42d034c190670624f73a79cf414ca59fa5d09521b9c802b6c60e82fe3c044690.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.12rem 1.28rem;
  width: 5.067rem;
}

.text_13 {
  width: 1.387rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.346rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: 0.374rem 0 0 1.84rem;
}

.text-wrapper_7 {
  height: 1.227rem;
  background: url(./img/SketchPng42d034c190670624f73a79cf414ca59fa5d09521b9c802b6c60e82fe3c044690.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.12rem 1.28rem;
  width: 5.067rem;
}

.text_14 {
  width: 2.24rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.374rem 0 0 1.227rem;
}

.text-wrapper_8 {
  height: 1.227rem;
  background: url(./img/SketchPng6f32c80d374622fa119b1675a4558225fc2031991f93bdbd32c9575f7c6fbea3.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 2.987rem 1.28rem;
  width: 2.934rem;
}

.text_15 {
  width: 0.747rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.374rem 0 0 1.094rem;
}

.section_15 {
  width: 31.44rem;
  height: 4.8rem;
  margin: 0 0 17.574rem 0.48rem;
}

.block_4 {
  width: 3.76rem;
  height: 4.8rem;
}

.text-wrapper_9 {
  height: 1.6rem;
  background: url(./img/SketchPng535b81ec39b1f45a33b16808aa9e197c8630235c971af94b137b4bb7b664de30.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 3.814rem 1.654rem;
  width: 3.76rem;
}

.text_16 {
  width: 2.294rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.507rem 0 0 0.48rem;
}

.text-wrapper_10 {
  height: 1.6rem;
  background: url(./img/SketchPng72d9970641d7ad7fed4dc0df777caf188b95e7faa846c1003d745a113b9c91bd.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 3.814rem 1.654rem;
  width: 3.76rem;
}

.text_17 {
  width: 2.294rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.48rem 0 0 0.48rem;
}

.text-wrapper_11 {
  height: 1.6rem;
  background: url(./img/SketchPng535b81ec39b1f45a33b16808aa9e197c8630235c971af94b137b4bb7b664de30.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 3.814rem 1.654rem;
  width: 3.76rem;
}

.text_18 {
  width: 2.294rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.48rem 0 0 0.48rem;
}

.block_5 {
  width: 5.814rem;
  height: 4.8rem;
  margin-left: 3.734rem;
}

.text-wrapper_12 {
  height: 1.6rem;
  background: url(./img/SketchPngd744c42f02a4ebc625f693082c6fab6e1274dd0cd22e0add7e976c42227c4e92.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.867rem 1.654rem;
  width: 5.814rem;
}

.paragraph_1 {
  width: 2.72rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
  margin: 0.187rem 0 0 0.534rem;
}

.text-wrapper_13 {
  height: 1.6rem;
  background: url(./img/SketchPng795aa30034968e6d2062d2c9d039012959f3e26021d3823bc2d0d77468f7ba7b.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.867rem 1.654rem;
  width: 5.814rem;
}

.paragraph_2 {
  width: 2.72rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.534rem;
}

.text-wrapper_14 {
  height: 1.6rem;
  background: url(./img/SketchPngd744c42f02a4ebc625f693082c6fab6e1274dd0cd22e0add7e976c42227c4e92.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.867rem 1.654rem;
  width: 5.814rem;
}

.paragraph_3 {
  width: 2.72rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
  margin: 0.187rem 0 0 0.534rem;
}

.grid_4 {
  width: 15.2rem;
  height: 4.8rem;
  flex-wrap: wrap;
}

.text-wrapper_15-0 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  background: url(./img/SketchPngc4108ba0a5eafc150543f6e37870ac65bd97b79fb1ae49f73fc9ff6cf1791ab4.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-0 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-1 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  background: url(./img/SketchPngc4108ba0a5eafc150543f6e37870ac65bd97b79fb1ae49f73fc9ff6cf1791ab4.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-1 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-2 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  margin-right: 0;
  background: url(./img/SketchPngc4108ba0a5eafc150543f6e37870ac65bd97b79fb1ae49f73fc9ff6cf1791ab4.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-2 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-3 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  background: url(./img/SketchPng546541b35e6d598b1ca2e311e3e523a42fe41d8dc293199f216bbd9c14e5205c.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-3 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-4 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  background: url(./img/SketchPng546541b35e6d598b1ca2e311e3e523a42fe41d8dc293199f216bbd9c14e5205c.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-4 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-5 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  margin-right: 0;
  background: url(./img/SketchPng546541b35e6d598b1ca2e311e3e523a42fe41d8dc293199f216bbd9c14e5205c.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-5 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-6 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  margin-bottom: 0;
  background: url(./img/SketchPngc4108ba0a5eafc150543f6e37870ac65bd97b79fb1ae49f73fc9ff6cf1791ab4.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-6 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-7 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  margin-bottom: 0;
  background: url(./img/SketchPngc4108ba0a5eafc150543f6e37870ac65bd97b79fb1ae49f73fc9ff6cf1791ab4.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-7 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.text-wrapper_15-8 {
  height: 1.6rem;
  background-size: 5.12rem 1.654rem;
  width: 5.067rem;
  margin-right: 0;
  margin-bottom: 0;
  background: url(./img/SketchPngc4108ba0a5eafc150543f6e37870ac65bd97b79fb1ae49f73fc9ff6cf1791ab4.png)
    -0.027rem -0.027rem no-repeat;
}

.text_19-8 {
  width: 3.627rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.56rem 0 0 2.16rem;
}

.block_6 {
  width: 2.934rem;
  height: 4.8rem;
}

.text-wrapper_16 {
  height: 1.6rem;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 2.987rem 1.654rem;
  width: 2.934rem;
}

.text_20 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.507rem 0 0 0.72rem;
}

.text-wrapper_17 {
  height: 1.6rem;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 2.987rem 1.654rem;
  width: 2.934rem;
}

.text_21 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.534rem 0 0 0.72rem;
}

.text-wrapper_18 {
  height: 1.6rem;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 2.987rem 1.654rem;
  width: 2.934rem;
}

.text_22 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.507rem 0 0 0.72rem;
}

.text-wrapper_19 {
  height: 1.6rem;
  background: url(./img/SketchPng73e64e0794c0ea9421a82ba79d1e4988f3889cc353e8856d0792a2262e316fb1.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 4rem 1.654rem;
  width: 3.947rem;
  position: absolute;
  left: 4.107rem;
  top: 5.094rem;
}

.text_23 {
  width: 2.16rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.507rem 0 0 0.854rem;
}

.text-wrapper_20 {
  height: 1.6rem;
  background: url(./img/SketchPng70ba08bc44c6e386f79ec6a3ed3d26614b32a2b5e527aae3cc929bb9ec29a5d3.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 4rem 1.654rem;
  width: 3.947rem;
  position: absolute;
  left: 4.107rem;
  top: 6.694rem;
}

.text_24 {
  width: 2.16rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.48rem 0 0 0.854rem;
}

.text-wrapper_21 {
  height: 1.6rem;
  background: url(./img/SketchPng73e64e0794c0ea9421a82ba79d1e4988f3889cc353e8856d0792a2262e316fb1.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 4rem 1.654rem;
  width: 3.947rem;
  position: absolute;
  left: 4.107rem;
  top: 8.294rem;
}

.text_25 {
  width: 2.16rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.48rem 0 0 0.854rem;
}

.text-wrapper_22 {
  background-color: rgba(245, 245, 250, 1);
  height: 1.227rem;
  border: 1px solid rgba(223, 225, 236, 1);
  width: 3.947rem;
  position: absolute;
  left: 4.107rem;
  top: 3.867rem;
}

.text_26 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.374rem 0 0 1.174rem;
}

.section_16 {
  width: 38.4rem;
  height: 0.534rem;
  margin-bottom: 0.027rem;
}

.group_5 {
  background-color: rgba(255, 255, 255, 1);
  width: 5.494rem;
  height: 28.24rem;
  margin-top: -27.733rem;
}

.group_6 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.32rem 0 0 0.214rem;
}

.thumbnail_5 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.267rem 0 0 0.427rem;
}

.text_27 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 2.48rem 0 0.24rem;
}

.image_3 {
  width: 4.454rem;
  height: 0.027rem;
  margin: 0.24rem 0 0 0.614rem;
}

.group_7 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.294rem 0 0 0.214rem;
}

.thumbnail_6 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.267rem 0 0 0.427rem;
}

.text_28 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.24rem;
}

.thumbnail_7 {
  width: 0.214rem;
  height: 0.134rem;
  margin: 0.427rem 0.294rem 0 1.974rem;
}

.text-wrapper_23 {
  height: 0.96rem;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_29 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.text-wrapper_24 {
  height: 0.96rem;
  background: url(./img/SketchPng9a94e3c56c2301514b9af903048f798e9ba05b4cf22935b6d7bef4601f0db791.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_30 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.text-wrapper_25 {
  height: 0.96rem;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_31 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.group_8 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.267rem 0 0 0.214rem;
}

.image-text_8 {
  width: 2.16rem;
  height: 0.587rem;
  margin: 0.187rem 0 0 0.427rem;
}

.thumbnail_8 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.text-group_1 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.group_9 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.267rem 0 0 0.214rem;
}

.image-text_9 {
  width: 2.16rem;
  height: 0.587rem;
  margin: 0.187rem 0 0 0.427rem;
}

.thumbnail_9 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.text-group_2 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_10 {
  width: 0.214rem;
  height: 0.134rem;
  margin: 0.427rem 0.294rem 0 1.974rem;
}

.text-wrapper_26 {
  height: 0.96rem;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_32 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.text-wrapper_27 {
  height: 0.96rem;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 16.854rem 0.214rem;
}

.text_33 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}
