.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 78.06vw;
  overflow: hidden;
}

.block_8 {
  width: 100vw;
  height: 4.45vw;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_10 {
  width: 14.24vw;
  height: 4.45vw;
  margin-left: 1.39vw;
}

.text-wrapper_11 {
  height: 2.5vw;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2.5vw;
  margin: 0.97vw 0 0 72.84vw;
}

.text_20 {
  width: 1.32vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 1.38vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 0.34vw 0 0 0.62vw;
}

.text_21 {
  width: 3.34vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 1.73vw 0 0 1.04vw;
}

.thumbnail_10 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 2.01vw 3.47vw 0 0.48vw;
}

.block_9 {
  width: 100vw;
  height: 73.69vw;
  margin-bottom: 0.07vw;
}

.image_11 {
  width: 100vw;
  height: 0.07vw;
}

.group_7 {
  width: 99.31vw;
  height: 73.55vw;
  margin-bottom: 0.07vw;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 14.31vw;
  height: 73.55vw;
}

.block_3 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_2 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_4 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 6.45vw 0 0.62vw;
}

.image_3 {
  width: 11.6vw;
  height: 0.07vw;
  margin: 0.62vw 0 0 1.59vw;
}

.block_4 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.76vw 0 0 0.55vw;
}

.thumbnail_3 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_5 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 0.62vw;
}

.thumbnail_4 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_2 {
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_6 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_3 {
  height: 2.5vw;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_7 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_4 {
  height: 2.5vw;
  background: url(./img/SketchPng863ab2fa922ceb5891b35caadf9f4c1372bda3ed77c070303174e851db674ee0.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_8 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.block_5 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_8 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_5 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_1 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.block_6 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_9 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_6 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_2 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.thumbnail_7 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_5 {
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_9 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_6 {
  height: 2.5vw;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 43.88vw 0.55vw;
}

.text_10 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.list_4 {
  width: 84.31vw;
  height: 69.94vw;
  margin-top: 0.7vw;
  justify-content: space-between;
}

.list-items_1-0 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  width: 84.31vw;
  height: 33.82vw;
  margin-bottom: 2.3vw;
}

.box_2-0 {
  background-color: rgba(255, 255, 255, 1);
  width: 81.74vw;
  height: 3.48vw;
  margin: 1.38vw 0 0 1.38vw;
}

.group_3-0 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 0.21vw;
  height: 0.98vw;
  margin: 1.25vw 0 0 0.13vw;
}

.text_11-0 {
  width: 5vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 0.76vw 75.69vw 0 0.69vw;
}

.box_3-0 {
  width: 81.81vw;
  height: 9.45vw;
  background: url(./img/SketchPng2c6fe6598d1e02c3ccedcbc92f7329b5b9f4f9a89723988c93eef23b355e7354.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.62vw 0 18.88vw 1.38vw;
}

.image_4-0 {
  width: 7.37vw;
  height: 8.34vw;
  margin: 0.55vw 0 0 0.62vw;
}

.text-wrapper_8-0 {
  width: 5.91vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 2.23vw;
  margin: 2.5vw 37.98vw 0 29.93vw;
}

.paragraph_2-0 {
  width: 5.91vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.23vw;
}

.text_13-0 {
  width: 5.91vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  line-height: 2.23vw;
}

.list-items_1-1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  width: 84.31vw;
  height: 33.82vw;
  margin-bottom: 2.3vw;
}

.box_2-1 {
  background-color: rgba(255, 255, 255, 1);
  width: 81.74vw;
  height: 3.48vw;
  margin: 1.38vw 0 0 1.38vw;
}

.group_3-1 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 0.21vw;
  height: 0.98vw;
  margin: 1.25vw 0 0 0.13vw;
}

.text_11-1 {
  width: 5vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 0.76vw 75.69vw 0 0.69vw;
}

.box_3-1 {
  width: 81.81vw;
  height: 9.45vw;
  background: url(./img/SketchPng2c6fe6598d1e02c3ccedcbc92f7329b5b9f4f9a89723988c93eef23b355e7354.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.62vw 0 18.88vw 1.38vw;
}

.image_4-1 {
  width: 7.37vw;
  height: 8.34vw;
  margin: 0.55vw 0 0 0.62vw;
}

.text-wrapper_7-1 {
  width: 11.19vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 2.23vw;
  margin: 3.61vw 0 0 27.29vw;
}

.paragraph_1-1 {
  width: 11.19vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.23vw;
}

.text_12-1 {
  width: 11.19vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  line-height: 2.23vw;
}

.label_1-1 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 3.88vw 0 0 1.45vw;
}

.label_2-1 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 3.88vw 29.79vw 0 0.76vw;
}
