html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 38.4rem;
  height: 27.307rem;
  overflow: hidden;
}

.text-wrapper_22 {
  width: 2.56rem;
  height: 0.56rem;
  margin: 2.134rem 0 0 0.96rem;
}

.text_26 {
  width: 2.56rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
}

.group_6 {
  width: 36.827rem;
  height: 20.72rem;
  margin: 1.44rem 0 2.454rem 0.747rem;
}

.box_11 {
  width: 11.84rem;
  height: 20.72rem;
}

.box_12 {
  height: 10.027rem;
  background: url(./img/SketchPng97c85224148ee68000cfd12938b034246862c7d9d74a63630d3dcf77676db2d4.png)
    -0.427rem -0.054rem no-repeat;
  background-size: 12.48rem 10.614rem;
  margin-left: 0.214rem;
  width: 11.627rem;
}

.image-wrapper_7 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.667rem 0 0 10.747rem;
}

.thumbnail_5 {
  width: 0.32rem;
  height: 0.32rem;
}

.group_7 {
  width: 5.6rem;
  height: 2.32rem;
  margin: 3.014rem 0 0 3.014rem;
}

.text-group_5 {
  width: 5.6rem;
  height: 2.32rem;
}

.text_27 {
  width: 4.48rem;
  height: 0.854rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-left: 0.56rem;
}

.text-wrapper_23 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 0.96rem;
  margin-top: 0.507rem;
}

.text_28 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_29 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.96rem;
}

.text_30 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.group_8 {
  width: 5.867rem;
  height: 1.334rem;
  margin: 1.307rem 0 1.067rem 2.72rem;
}

.text-wrapper_24 {
  height: 1.334rem;
  background: url(./img/SketchPng968ecb0f5340980681d7545eeeec0b27cb542277a7a726272df4ba39abd0f6bf.png)
    -0.267rem -0.214rem no-repeat;
  background-size: 6.4rem 1.867rem;
  width: 5.867rem;
}

.text_31 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 2.08rem;
}

.text_16 {
  width: 2.987rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
  margin-top: 1.094rem;
}

.group_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-image: url(./img/e6298093a4d14b45952b68f393f8d070_mergeImage.png);
  border-radius: 10px;
  height: 8.374rem;
  width: 11.627rem;
  margin: 0.667rem 0 0 0.214rem;
}

.image-wrapper_8 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_2 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_9 {
  width: 4.107rem;
  height: 2.454rem;
  margin: 0.56rem 0 0 3.76rem;
}

.image_1 {
  width: 4.107rem;
  height: 2.454rem;
}

.text-wrapper_25 {
  width: 4.774rem;
  height: 0.48rem;
  margin: 0.667rem 0 0 3.414rem;
}

.text_17 {
  width: 4.774rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.section_2 {
  width: 5.867rem;
  height: 1.334rem;
  margin: 1.12rem 0 1.067rem 2.72rem;
}

.text-wrapper_11 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 25px;
  height: 1.334rem;
  width: 5.867rem;
}

.text_18 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 2.08rem;
}

.box_13 {
  width: 24.187rem;
  height: 18.56rem;
  margin-top: 0.827rem;
}

.text-wrapper_26 {
  width: 15.84rem;
  height: 0.56rem;
}

.text_5 {
  width: 2.56rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_11 {
  width: 3.414rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
}

.grid_2 {
  width: 24.187rem;
  height: 17.467rem;
  margin-top: 0.534rem;
  flex-wrap: wrap;
}

.block_1 {
  width: 11.627rem;
  height: 8.107rem;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0 0.8rem 2.427rem 0;
}

.text-group_6 {
  width: 8.32rem;
  height: 2.08rem;
  margin: 2.374rem 0 0 0.854rem;
}

.text_6 {
  width: 8.32rem;
  height: 0.854rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text-wrapper_3 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
  margin-top: 0.267rem;
}

.text_7 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_8 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.box_14 {
  width: 9.334rem;
  height: 1.334rem;
  margin: 1.28rem 0 1.04rem 1.12rem;
}

.text-wrapper_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 1.334rem;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 4.267rem;
}

.text_9 {
  width: 0.854rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.707rem;
}

.text-wrapper_5 {
  height: 1.334rem;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.267rem -0.214rem no-repeat;
  background-size: 4.8rem 1.867rem;
  width: 4.267rem;
}

.text_10 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.28rem;
}

.group_1 {
  width: 11.627rem;
  height: 8.107rem;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-bottom: 2.427rem;
}

.text-group_7 {
  width: 8.32rem;
  height: 3.254rem;
  margin: 1.467rem 0 0 0.854rem;
}

.paragraph_1 {
  width: 8.32rem;
  height: 2.027rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 1.014rem;
}

.text-wrapper_6 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
  margin-top: 0.267rem;
}

.text_12 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_13 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.group_9 {
  width: 9.334rem;
  height: 1.334rem;
  margin: 1.014rem 0 1.04rem 1.12rem;
}

.text-wrapper_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 1.334rem;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 4.267rem;
}

.text_14 {
  width: 0.854rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.707rem;
}

.text-wrapper_8 {
  height: 1.334rem;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.267rem -0.214rem no-repeat;
  background-size: 4.8rem 1.867rem;
  width: 4.267rem;
}

.text_15 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.28rem;
}

.block_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
  margin: 0 0.934rem 2.427rem 0;
}

.image-wrapper_10 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_3 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_27 {
  width: 0.96rem;
  height: 0.48rem;
  margin: 0.107rem 0 0 5.334rem;
}

.text_19 {
  width: 0.96rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_28 {
  width: 6.934rem;
  height: 1.28rem;
  margin: 1.334rem 0 0 2.347rem;
}

.text_20 {
  width: 6.934rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 0.64rem;
}

.box_15 {
  width: 6.4rem;
  height: 0.96rem;
  margin: 0.854rem 0 1.227rem 3.04rem;
}

.text-wrapper_17 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_21 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_18 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_22 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.587rem;
}

.block_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 2.427rem;
  width: 11.627rem;
}

.image-wrapper_11 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_4 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_29 {
  width: 0.96rem;
  height: 0.48rem;
  margin: 0.107rem 0 0 5.334rem;
}

.text_23 {
  width: 0.96rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_30 {
  width: 4.374rem;
  height: 0.64rem;
  margin: 1.334rem 0 0 3.627rem;
}

.text_24 {
  width: 4.374rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
}

.box_16 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.494rem 0 1.227rem 4.48rem;
}

.text-wrapper_21 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_25 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.4rem;
}
