.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100vw;
  height: 71.12vw;
  overflow: hidden;
}

.text-wrapper_22 {
  width: 6.67vw;
  height: 1.46vw;
  margin: 5.55vw 0 0 2.5vw;
}

.text_26 {
  width: 6.67vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
}

.group_6 {
  width: 95.91vw;
  height: 53.96vw;
  margin: 3.75vw 0 6.38vw 1.94vw;
}

.box_11 {
  width: 30.84vw;
  height: 53.96vw;
}

.box_12 {
  height: 26.12vw;
  background: url(./img/SketchPng97c85224148ee68000cfd12938b034246862c7d9d74a63630d3dcf77676db2d4.png)
    -1.12vw -0.14vw no-repeat;
  background-size: 32.5vw 27.63vw;
  margin-left: 0.56vw;
  width: 30.28vw;
}

.image-wrapper_7 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 1.73vw 0 0 27.98vw;
}

.thumbnail_5 {
  width: 0.84vw;
  height: 0.84vw;
}

.group_7 {
  width: 14.59vw;
  height: 6.05vw;
  margin: 7.84vw 0 0 7.84vw;
}

.text-group_5 {
  width: 14.59vw;
  height: 6.05vw;
}

.text_27 {
  width: 11.67vw;
  height: 2.23vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 2.23vw;
  margin-left: 1.46vw;
}

.text-wrapper_23 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 2.5vw;
  margin-top: 1.32vw;
}

.text_28 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.text_29 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 2.5vw;
}

.text_30 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.group_8 {
  width: 15.28vw;
  height: 3.48vw;
  margin: 3.4vw 0 2.77vw 7.08vw;
}

.text-wrapper_24 {
  height: 3.48vw;
  background: url(./img/SketchPng968ecb0f5340980681d7545eeeec0b27cb542277a7a726272df4ba39abd0f6bf.png)
    -0.7vw -0.56vw no-repeat;
  background-size: 16.66vw 4.86vw;
  width: 15.28vw;
}

.text_31 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 5.41vw;
}

.text_16 {
  width: 7.78vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
  margin-top: 2.85vw;
}

.group_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-image: url(./img/e6298093a4d14b45952b68f393f8d070_mergeImage.png);
  border-radius: 10px;
  height: 21.81vw;
  width: 30.28vw;
  margin: 1.73vw 0 0 0.55vw;
}

.image-wrapper_8 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_2 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_9 {
  width: 10.7vw;
  height: 6.39vw;
  margin: 1.45vw 0 0 9.79vw;
}

.image_1 {
  width: 10.7vw;
  height: 6.39vw;
}

.text-wrapper_25 {
  width: 12.44vw;
  height: 1.25vw;
  margin: 1.73vw 0 0 8.88vw;
}

.text_17 {
  width: 12.44vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.section_2 {
  width: 15.28vw;
  height: 3.48vw;
  margin: 2.91vw 0 2.77vw 7.08vw;
}

.text-wrapper_11 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 25px;
  height: 3.48vw;
  width: 15.28vw;
}

.text_18 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 5.41vw;
}

.box_13 {
  width: 62.99vw;
  height: 48.34vw;
  margin-top: 2.16vw;
}

.text-wrapper_26 {
  width: 41.25vw;
  height: 1.46vw;
}

.text_5 {
  width: 6.67vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_11 {
  width: 8.89vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
}

.grid_2 {
  width: 62.99vw;
  height: 45.49vw;
  margin-top: 1.39vw;
  flex-wrap: wrap;
}

.block_1 {
  width: 30.28vw;
  height: 21.12vw;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0 2.08vw 6.31vw 0;
}

.text-group_6 {
  width: 21.67vw;
  height: 5.42vw;
  margin: 6.18vw 0 0 2.22vw;
}

.text_6 {
  width: 21.67vw;
  height: 2.23vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.23vw;
}

.text-wrapper_3 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
  margin-top: 0.7vw;
}

.text_7 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.text_8 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.box_14 {
  width: 24.31vw;
  height: 3.48vw;
  margin: 3.33vw 0 2.7vw 2.91vw;
}

.text-wrapper_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 3.48vw;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 11.12vw;
}

.text_9 {
  width: 2.23vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 4.44vw;
}

.text-wrapper_5 {
  height: 3.48vw;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.7vw -0.56vw no-repeat;
  background-size: 12.5vw 4.86vw;
  width: 11.12vw;
}

.text_10 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 3.33vw;
}

.group_1 {
  width: 30.28vw;
  height: 21.12vw;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-bottom: 6.32vw;
}

.text-group_7 {
  width: 21.67vw;
  height: 8.48vw;
  margin: 3.81vw 0 0 2.22vw;
}

.paragraph_1 {
  width: 21.67vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.64vw;
}

.text-wrapper_6 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
  margin-top: 0.7vw;
}

.text_12 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.text_13 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.group_9 {
  width: 24.31vw;
  height: 3.48vw;
  margin: 2.63vw 0 2.7vw 2.91vw;
}

.text-wrapper_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 3.48vw;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 11.12vw;
}

.text_14 {
  width: 2.23vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 4.44vw;
}

.text-wrapper_8 {
  height: 3.48vw;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.7vw -0.56vw no-repeat;
  background-size: 12.5vw 4.86vw;
  width: 11.12vw;
}

.text_15 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 3.33vw;
}

.block_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
  margin: 0 2.43vw 6.31vw 0;
}

.image-wrapper_10 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_3 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_27 {
  width: 2.5vw;
  height: 1.25vw;
  margin: 0.27vw 0 0 13.88vw;
}

.text_19 {
  width: 2.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_28 {
  width: 18.06vw;
  height: 3.34vw;
  margin: 3.47vw 0 0 6.11vw;
}

.text_20 {
  width: 18.06vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
}

.box_15 {
  width: 16.67vw;
  height: 2.5vw;
  margin: 2.22vw 0 3.19vw 7.91vw;
}

.text-wrapper_17 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_21 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_18 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_22 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.52vw;
}

.block_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 6.32vw;
  width: 30.28vw;
}

.image-wrapper_11 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_4 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_29 {
  width: 2.5vw;
  height: 1.25vw;
  margin: 0.27vw 0 0 13.88vw;
}

.text_23 {
  width: 2.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_30 {
  width: 11.39vw;
  height: 1.67vw;
  margin: 3.47vw 0 0 9.44vw;
}

.text_24 {
  width: 11.39vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
}

.box_16 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 3.88vw 0 3.19vw 11.66vw;
}

.text-wrapper_21 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_25 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.04vw;
}
