html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 29.974rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 29.974rem;
  border: 1px solid rgba(151, 151, 151, 0.5);
  width: 38.4rem;
}

.group_16 {
  width: 36.64rem;
  height: 10.027rem;
  margin: 1.974rem 0 0 0.88rem;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.027rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_15 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_35 {
  width: 1.707rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.96rem;
}

.text_1 {
  width: 1.707rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_36 {
  width: 1.494rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_2 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_17 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.block_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 3.307rem;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_3 {
  width: 2.187rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.267rem 0 0 0.32rem;
}

.thumbnail_2 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.4rem 0.187rem 0 0.347rem;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 4.747rem;
}

.text_4 {
  width: 2.614rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text-wrapper_37 {
  width: 0.747rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_5 {
  width: 0.747rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_18 {
  width: 8.054rem;
  height: 1.654rem;
  margin: 0.214rem 0 0 1.787rem;
}

.image-text_3 {
  width: 8.054rem;
  height: 1.654rem;
}

.group_1 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 8.054rem;
  height: 0.96rem;
}

.text_6 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.label_1 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0 0 4.16rem;
}

.label_2 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0.16rem 0 0.24rem;
}

.text-group_1 {
  width: 6.72rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(239, 157, 0, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  margin-top: 0.214rem;
}

.group_19 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 0.96rem 0 1.067rem 2.747rem;
}

.text-wrapper_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_7 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_6 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_8 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.box_3 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.027rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 0.88rem;
  width: 11.627rem;
}

.image-wrapper_16 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_3 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_38 {
  width: 1.707rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.96rem;
}

.text_9 {
  width: 1.707rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_39 {
  width: 1.494rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_10 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_20 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_9 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 8.054rem;
}

.text_11 {
  width: 2.72rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text-wrapper_40 {
  width: 1.867rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_12 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_21 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_11 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 5.387rem;
}

.text_13 {
  width: 1.147rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text_14 {
  width: 2.214rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.16rem;
}

.group_22 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.147rem 0 1.574rem 2.747rem;
}

.text-wrapper_12 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_15 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.4rem;
}

.text-wrapper_13 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_16 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.987rem;
}

.box_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 0.88rem;
  width: 11.627rem;
}

.image-wrapper_17 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_4 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_18 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 1.014rem 0 0 5.334rem;
}

.label_3 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_41 {
  width: 2.614rem;
  height: 0.48rem;
  margin: 0.587rem 0 0 4.507rem;
}

.text_17 {
  width: 2.614rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.block_9 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.014rem 0 1.227rem 4.48rem;
}

.text-wrapper_15 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_18 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.group_23 {
  width: 24.32rem;
  height: 10.027rem;
  margin: 2.534rem 0 5.414rem 1.227rem;
}

.group_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.027rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_19 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_5 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_42 {
  width: 1.707rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.96rem;
}

.text_19 {
  width: 1.707rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_43 {
  width: 1.494rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_20 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_24 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_18 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 8.054rem;
}

.text_21 {
  width: 2.72rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text-wrapper_44 {
  width: 1.867rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_22 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_25 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.box_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 8.054rem;
  height: 0.96rem;
}

.text_23 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.label_4 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0 0 3.92rem;
}

.label_5 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0.4rem 0 0.24rem;
}

.group_26 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.147rem 0 1.574rem 2.747rem;
}

.text-wrapper_20 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_24 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_21 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_25 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.987rem;
}

.group_9 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_20 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_6 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_21 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 1.014rem 0 0 5.334rem;
}

.label_6 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_45 {
  width: 2.614rem;
  height: 0.48rem;
  margin: 0.587rem 0 0 4.507rem;
}

.text_26 {
  width: 2.614rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.box_9 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.014rem 0 1.227rem 4.48rem;
}

.text-wrapper_23 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_27 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}
