.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 78.06vw;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 78.06vw;
  border: 1px solid rgba(151, 151, 151, 0.5);
  width: 100vw;
}

.group_16 {
  width: 95.42vw;
  height: 26.12vw;
  margin: 5.13vw 0 0 2.29vw;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.12vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_15 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_1 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_35 {
  width: 4.45vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.91vw;
}

.text_1 {
  width: 4.45vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_36 {
  width: 3.89vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_2 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_17 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.block_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 8.62vw;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_3 {
  width: 5.7vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 0.69vw 0 0 0.83vw;
}

.thumbnail_2 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 1.04vw 0.48vw 0 0.9vw;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 12.37vw;
}

.text_4 {
  width: 6.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text-wrapper_37 {
  width: 1.95vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_5 {
  width: 1.95vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_18 {
  width: 20.98vw;
  height: 4.31vw;
  margin: 0.55vw 0 0 4.65vw;
}

.image-text_3 {
  width: 20.98vw;
  height: 4.31vw;
}

.group_1 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 20.98vw;
  height: 2.5vw;
}

.text_6 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.label_1 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 0 0 10.83vw;
}

.label_2 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 0.41vw 0 0.62vw;
}

.text-group_1 {
  width: 17.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(239, 157, 0, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin-top: 0.56vw;
}

.group_19 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 2.5vw 0 2.77vw 7.15vw;
}

.text-wrapper_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_7 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_6 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_8 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.box_3 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.12vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 2.3vw;
  width: 30.28vw;
}

.image-wrapper_16 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_3 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_38 {
  width: 4.45vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.91vw;
}

.text_9 {
  width: 4.45vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_39 {
  width: 3.89vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_10 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_20 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_9 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 20.98vw;
}

.text_11 {
  width: 7.09vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text-wrapper_40 {
  width: 4.87vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_12 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_21 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_11 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 14.03vw;
}

.text_13 {
  width: 2.99vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text_14 {
  width: 5.77vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin-top: 0.42vw;
}

.group_22 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 2.98vw 0 4.09vw 7.15vw;
}

.text-wrapper_12 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_15 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.04vw;
}

.text-wrapper_13 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_16 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.56vw;
}

.box_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 2.3vw;
  width: 30.28vw;
}

.image-wrapper_17 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_4 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_18 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.63vw 0 0 13.88vw;
}

.label_3 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_41 {
  width: 6.81vw;
  height: 1.25vw;
  margin: 1.52vw 0 0 11.73vw;
}

.text_17 {
  width: 6.81vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.block_9 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 2.63vw 0 3.19vw 11.66vw;
}

.text-wrapper_15 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_18 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.group_23 {
  width: 63.34vw;
  height: 26.12vw;
  margin: 6.59vw 0 14.09vw 3.19vw;
}

.group_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.12vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_19 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_5 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_42 {
  width: 4.45vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.91vw;
}

.text_19 {
  width: 4.45vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_43 {
  width: 3.89vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_20 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_24 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_18 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 20.98vw;
}

.text_21 {
  width: 7.09vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text-wrapper_44 {
  width: 4.87vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_22 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_25 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.box_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 20.98vw;
  height: 2.5vw;
}

.text_23 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.label_4 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 0 0 10.2vw;
}

.label_5 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 1.04vw 0 0.62vw;
}

.group_26 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 2.98vw 0 4.09vw 7.15vw;
}

.text-wrapper_20 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_24 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_21 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_25 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.56vw;
}

.group_9 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_20 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_6 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_21 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.63vw 0 0 13.88vw;
}

.label_6 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_45 {
  width: 6.81vw;
  height: 1.25vw;
  margin: 1.52vw 0 0 11.73vw;
}

.text_26 {
  width: 6.81vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.box_9 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 2.63vw 0 3.19vw 11.66vw;
}

.text-wrapper_23 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_27 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}
