.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 78.06vw;
  overflow: hidden;
}

.group_3 {
  width: 100vw;
  height: 4.45vw;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_9 {
  width: 14.24vw;
  height: 4.45vw;
  margin-left: 1.39vw;
}

.text-wrapper_21 {
  height: 2.5vw;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2.5vw;
  margin: 0.97vw 0 0 72.84vw;
}

.text_31 {
  width: 1.32vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 1.38vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 0.34vw 0 0 0.62vw;
}

.text_32 {
  width: 3.34vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 1.73vw 0 0 1.04vw;
}

.thumbnail_11 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 2.01vw 3.47vw 0 0.48vw;
}

.image_10 {
  width: 100vw;
  height: 0.07vw;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 71.53vw;
  width: 84.31vw;
  margin: 0.69vw 0 0 15vw;
}

.group_4 {
  width: 81.53vw;
  height: 1.95vw;
  margin: 1.38vw 0 0 1.38vw;
}

.block_1 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 0.21vw;
  height: 0.98vw;
  margin-top: 0.49vw;
}

.text_4 {
  width: 5vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin-left: 0.7vw;
}

.block_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 4px;
  width: 8.34vw;
  height: 1.95vw;
  border: 1px solid rgba(71, 77, 255, 1);
  margin-left: 67.3vw;
}

.thumbnail_2 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text_5 {
  width: 5vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.27vw 0.83vw 0 0;
}

.text-wrapper_22 {
  width: 31.95vw;
  height: 0.98vw;
  margin: 2.84vw 0 0 2.84vw;
}

.text_6 {
  width: 4.17vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.98vw;
}

.text_7 {
  width: 11.39vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 1.67vw;
}

.text_8 {
  width: 10vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 4.73vw;
}

.text-wrapper_23 {
  width: 34.59vw;
  height: 0.98vw;
  margin: 2.77vw 0 0 2.84vw;
}

.text_9 {
  width: 4.17vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.98vw;
}

.text_10 {
  width: 2.57vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 1.67vw;
}

.text_11 {
  width: 12.64vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 13.55vw;
}

.text-wrapper_24 {
  width: 35.56vw;
  height: 0.98vw;
  margin: 2.77vw 0 0 2.84vw;
}

.text_12 {
  width: 4.17vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.98vw;
}

.text_13 {
  width: 11.39vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 1.67vw;
}

.text_14 {
  width: 13.62vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 4.73vw;
}

.text-wrapper_25 {
  width: 35.56vw;
  height: 0.98vw;
  margin: 2.77vw 0 53.12vw 2.84vw;
}

.text_15 {
  width: 4.17vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.98vw;
}

.text_16 {
  width: 6.67vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 1.67vw;
}

.text_17 {
  width: 13.62vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin-left: 9.45vw;
}

.group_5 {
  width: 100vw;
  height: 1.39vw;
  margin-bottom: 0.07vw;
}

.section_4 {
  background-color: rgba(255, 255, 255, 1);
  width: 14.31vw;
  height: 73.55vw;
  margin-top: -72.22vw;
}

.block_3 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_3 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_18 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 6.45vw 0 0.62vw;
}

.image_3 {
  width: 11.6vw;
  height: 0.07vw;
  margin: 0.62vw 0 0 1.59vw;
}

.block_4 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.76vw 0 0 0.55vw;
}

.thumbnail_4 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_19 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 0.62vw;
}

.thumbnail_5 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_6 {
  height: 2.5vw;
  background: url(./img/SketchPngff90cf7b6da2124351e85cb63c90e28f5ca9fc8168c6ebdba534a4f0199ebce1.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_20 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_7 {
  height: 2.5vw;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_21 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_8 {
  height: 2.5vw;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_22 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.block_5 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_8 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_6 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_1 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.block_6 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_9 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_7 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_2 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.thumbnail_8 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_9 {
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_23 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_10 {
  height: 2.5vw;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 43.88vw 0.55vw;
}

.text_24 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}
