html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 29.974rem;
  overflow: hidden;
}

.group_3 {
  width: 38.4rem;
  height: 1.707rem;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_9 {
  width: 5.467rem;
  height: 1.707rem;
  margin-left: 0.534rem;
}

.text-wrapper_21 {
  height: 0.96rem;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 0.96rem;
  margin: 0.374rem 0 0 27.974rem;
}

.text_31 {
  width: 0.507rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 0.533rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.134rem 0 0 0.24rem;
}

.text_32 {
  width: 1.28rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.667rem 0 0 0.4rem;
}

.thumbnail_11 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.774rem 1.334rem 0 0.187rem;
}

.image_10 {
  width: 38.4rem;
  height: 0.027rem;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 27.467rem;
  width: 32.374rem;
  margin: 0.267rem 0 0 5.76rem;
}

.group_4 {
  width: 31.307rem;
  height: 0.747rem;
  margin: 0.534rem 0 0 0.534rem;
}

.block_1 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 0.08rem;
  height: 0.374rem;
  margin-top: 0.187rem;
}

.text_4 {
  width: 1.92rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: 0.267rem;
}

.block_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 4px;
  width: 3.2rem;
  height: 0.747rem;
  border: 1px solid rgba(71, 77, 255, 1);
  margin-left: 25.84rem;
}

.thumbnail_2 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.134rem 0 0 0.32rem;
}

.text_5 {
  width: 1.92rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.107rem 0.32rem 0 0;
}

.text-wrapper_22 {
  width: 12.267rem;
  height: 0.374rem;
  margin: 1.094rem 0 0 1.094rem;
}

.text_6 {
  width: 1.6rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.374rem;
}

.text_7 {
  width: 4.374rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 0.64rem;
}

.text_8 {
  width: 3.84rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 1.814rem;
}

.text-wrapper_23 {
  width: 13.28rem;
  height: 0.374rem;
  margin: 1.067rem 0 0 1.094rem;
}

.text_9 {
  width: 1.6rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.374rem;
}

.text_10 {
  width: 0.987rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 0.64rem;
}

.text_11 {
  width: 4.854rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 5.2rem;
}

.text-wrapper_24 {
  width: 13.654rem;
  height: 0.374rem;
  margin: 1.067rem 0 0 1.094rem;
}

.text_12 {
  width: 1.6rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.374rem;
}

.text_13 {
  width: 4.374rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 0.64rem;
}

.text_14 {
  width: 5.227rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 1.814rem;
}

.text-wrapper_25 {
  width: 13.654rem;
  height: 0.374rem;
  margin: 1.067rem 0 20.4rem 1.094rem;
}

.text_15 {
  width: 1.6rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.374rem;
}

.text_16 {
  width: 2.56rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 0.64rem;
}

.text_17 {
  width: 5.227rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 3.627rem;
}

.group_5 {
  width: 38.4rem;
  height: 0.534rem;
  margin-bottom: 0.027rem;
}

.section_4 {
  background-color: rgba(255, 255, 255, 1);
  width: 5.494rem;
  height: 28.24rem;
  margin-top: -27.733rem;
}

.block_3 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.32rem 0 0 0.214rem;
}

.thumbnail_3 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.267rem 0 0 0.427rem;
}

.text_18 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 2.48rem 0 0.24rem;
}

.image_3 {
  width: 4.454rem;
  height: 0.027rem;
  margin: 0.24rem 0 0 0.614rem;
}

.block_4 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.294rem 0 0 0.214rem;
}

.thumbnail_4 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.267rem 0 0 0.427rem;
}

.text_19 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.24rem;
}

.thumbnail_5 {
  width: 0.214rem;
  height: 0.134rem;
  margin: 0.427rem 0.294rem 0 1.974rem;
}

.text-wrapper_6 {
  height: 0.96rem;
  background: url(./img/SketchPngff90cf7b6da2124351e85cb63c90e28f5ca9fc8168c6ebdba534a4f0199ebce1.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_20 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.text-wrapper_7 {
  height: 0.96rem;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_21 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.text-wrapper_8 {
  height: 0.96rem;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_22 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.block_5 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.267rem 0 0 0.214rem;
}

.image-text_8 {
  width: 2.16rem;
  height: 0.587rem;
  margin: 0.187rem 0 0 0.427rem;
}

.thumbnail_6 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.text-group_1 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.block_6 {
  width: 5.067rem;
  height: 0.96rem;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.267rem 0 0 0.214rem;
}

.image-text_9 {
  width: 2.16rem;
  height: 0.587rem;
  margin: 0.187rem 0 0 0.427rem;
}

.thumbnail_7 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.text-group_2 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_8 {
  width: 0.214rem;
  height: 0.134rem;
  margin: 0.427rem 0.294rem 0 1.974rem;
}

.text-wrapper_9 {
  height: 0.96rem;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 0 0.214rem;
}

.text_23 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}

.text-wrapper_10 {
  height: 0.96rem;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 5.067rem;
  margin: 0.267rem 0 16.854rem 0.214rem;
}

.text_24 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.094rem;
}
