.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 1440px;
  height: 1124px;
  overflow: hidden;
}

.group_3 {
  width: 1440px;
  height: 64px;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_9 {
  width: 205px;
  height: 64px;
  margin-left: 20px;
}

.text-wrapper_21 {
  height: 36px;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 36px;
  margin: 14px 0 0 1049px;
}

.text_31 {
  width: 19px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 5px 0 0 9px;
}

.text_32 {
  width: 48px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 25px 0 0 15px;
}

.thumbnail_11 {
  width: 10px;
  height: 6px;
  margin: 29px 50px 0 7px;
}

.image_10 {
  width: 1440px;
  height: 1px;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 1030px;
  width: 1214px;
  margin: 10px 0 0 216px;
}

.group_4 {
  width: 1174px;
  height: 28px;
  margin: 20px 0 0 20px;
}

.block_1 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 3px;
  height: 14px;
  margin-top: 7px;
}

.text_4 {
  width: 72px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-left: 10px;
}

.block_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 4px;
  width: 120px;
  height: 28px;
  border: 1px solid rgba(71, 77, 255, 1);
  margin-left: 969px;
}

.thumbnail_2 {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 12px;
}

.text_5 {
  width: 72px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 12px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 4px 12px 0 0;
}

.text-wrapper_22 {
  width: 460px;
  height: 14px;
  margin: 41px 0 0 41px;
}

.text_6 {
  width: 60px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.text_7 {
  width: 164px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 24px;
}

.text_8 {
  width: 144px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 68px;
}

.text-wrapper_23 {
  width: 498px;
  height: 14px;
  margin: 40px 0 0 41px;
}

.text_9 {
  width: 60px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.text_10 {
  width: 37px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 24px;
}

.text_11 {
  width: 182px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 195px;
}

.text-wrapper_24 {
  width: 512px;
  height: 14px;
  margin: 40px 0 0 41px;
}

.text_12 {
  width: 60px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.text_13 {
  width: 164px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 24px;
}

.text_14 {
  width: 196px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 68px;
}

.text-wrapper_25 {
  width: 512px;
  height: 14px;
  margin: 40px 0 765px 41px;
}

.text_15 {
  width: 60px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 14px;
}

.text_16 {
  width: 96px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 24px;
}

.text_17 {
  width: 196px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 136px;
}

.group_5 {
  width: 1440px;
  height: 20px;
  margin-bottom: 1px;
}

.section_4 {
  background-color: rgba(255, 255, 255, 1);
  width: 206px;
  height: 1059px;
  margin-top: -1040px;
}

.block_3 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 12px 0 0 8px;
}

.thumbnail_3 {
  width: 16px;
  height: 16px;
  margin: 10px 0 0 16px;
}

.text_18 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 93px 0 9px;
}

.image_3 {
  width: 167px;
  height: 1px;
  margin: 9px 0 0 23px;
}

.block_4 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 11px 0 0 8px;
}

.thumbnail_4 {
  width: 16px;
  height: 16px;
  margin: 10px 0 0 16px;
}

.text_19 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 9px;
}

.thumbnail_5 {
  width: 8px;
  height: 5px;
  margin: 16px 11px 0 74px;
}

.text-wrapper_6 {
  height: 36px;
  background: url(./img/SketchPngff90cf7b6da2124351e85cb63c90e28f5ca9fc8168c6ebdba534a4f0199ebce1.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_20 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.text-wrapper_7 {
  height: 36px;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_21 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.text-wrapper_8 {
  height: 36px;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_22 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.block_5 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 10px 0 0 8px;
}

.image-text_8 {
  width: 81px;
  height: 22px;
  margin: 7px 0 0 16px;
}

.thumbnail_6 {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.text-group_1 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.block_6 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 10px 0 0 8px;
}

.image-text_9 {
  width: 81px;
  height: 22px;
  margin: 7px 0 0 16px;
}

.thumbnail_7 {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.text-group_2 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.thumbnail_8 {
  width: 8px;
  height: 5px;
  margin: 16px 11px 0 74px;
}

.text-wrapper_9 {
  height: 36px;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_23 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.text-wrapper_10 {
  height: 36px;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 632px 8px;
}

.text_24 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}
