html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 38.4rem;
  height: 27.307rem;
  overflow: hidden;
}

.group_24 {
  background-image: url(./img/5284d823e9004acc89621030853e4614_mergeImage.png);
  border-radius: 10px;
  width: 32rem;
  height: 4.907rem;
  margin: 2.854rem 0 0 3.2rem;
}

.image-wrapper_13 {
  height: 1.067rem;
  background: url(./img/SketchPnged0d2ee05232bf6f7ea87a53cdd43bc6ca7fb2fe16d2e04b53fab10eb2d58c43.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1.067rem;
  margin: 0.56rem 0 0 0.56rem;
}

.label_9 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.054rem 0 0 0.054rem;
}

.group_46 {
  width: 1.307rem;
  height: 0.934rem;
  margin: 0.64rem 0 0 0.32rem;
}

.text_62 {
  width: 1.28rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
}

.text-wrapper_17 {
  height: 0.48rem;
  background: url(./img/SketchPng31da7dd36dbe749fed0aa2cc7dd23e2b55b46cfb2dab5ec0ce9479ccf944b3d0.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.08rem;
  width: 1.307rem;
}

.text_63 {
  width: 1.04rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(107, 111, 122, 1);
  font-size: 0.32rem;
  letter-spacing: 0.8571428656578064px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-left: 0.134rem;
}

.text_64 {
  width: 3.147rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 1.014rem 0 0 0.16rem;
}

.group_47 {
  width: 9.6rem;
  height: 1.547rem;
  margin: 0.454rem 0.614rem 0 15.227rem;
}

.thumbnail_7 {
  width: 0.32rem;
  height: 0.32rem;
  margin-left: 9.12rem;
}

.text-wrapper_18 {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  height: 0.854rem;
  margin-top: 0.374rem;
  width: 9.6rem;
}

.text_65 {
  width: 8.4rem;
  height: 0.427rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.214rem 0 0 0.48rem;
}

.group_27 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px 16px 8px 8px;
  position: absolute;
  left: 3.2rem;
  top: 5.36rem;
  width: 32rem;
  height: 19.094rem;
}

.group_28 {
  width: 32rem;
  height: 1.84rem;
  background: url(./img/SketchPng89659023908220fbe5c0ee17211848016111d02d2bda835990e44d435138995a.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_11 {
  width: 2.054rem;
  height: 1.494rem;
  margin: 0.187rem 0 0 7.574rem;
}

.text_66 {
  width: 7.04rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.507rem 0 0 3.28rem;
}

.text-wrapper_19 {
  background-color: rgba(255, 250, 245, 1);
  border-radius: 8px;
  height: 1.28rem;
  width: 1.28rem;
  margin: 0.32rem 0 0 0.347rem;
}

.text_67 {
  width: 1.147rem;
  height: 1.014rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 0.853rem;
  letter-spacing: 2.2857143878936768px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.014rem;
  margin: 0.054rem 0 0 0.08rem;
}

.text_68 {
  width: 0.64rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.507rem 0 0 0.214rem;
}

.image_12 {
  width: 2.294rem;
  height: 1.254rem;
  margin: 0.24rem 6.8rem 0 0.48rem;
}

.text_69 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: 0.454rem 0 0 0.907rem;
}

.group_48 {
  width: 29.44rem;
  height: 5.68rem;
  margin: 0.8rem 0 0 1.307rem;
}

.group_30 {
  height: 5.68rem;
  background: url(./img/SketchPng844a0123538e9aeac222c20d6dabc69a6f1b3d46ed5106a77588915139bebd1c.png)
    -0.534rem -0.374rem no-repeat;
  background-size: 10.347rem 6.747rem;
  width: 9.28rem;
}

.group_49 {
  position: relative;
  width: 5.494rem;
  height: 1.68rem;
  margin: 0.054rem 0 0 0.614rem;
}

.text_70 {
  width: 1.92rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.747rem;
}

.image-wrapper_14 {
  height: 1.68rem;
  background: url(./img/SketchPng9ee323c84c40112ad35af245774f17a986e3d66f7df39c3fc5d3c5a9c63e8164.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 3.36rem;
}

.image_13 {
  width: 3.36rem;
  height: 1.68rem;
}

.label_10 {
  position: absolute;
  left: 2.054rem;
  top: 0.88rem;
  width: 0.64rem;
  height: 0.64rem;
}

.group_50 {
  width: 3.68rem;
  height: 0.747rem;
  margin: 0.32rem 0 0 0.614rem;
}

.text-wrapper_20 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_71 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 0.48rem;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_72 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 0.64rem;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_73 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.text_74 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.text_75 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.group_51 {
  width: 8.614rem;
  height: 2.64rem;
  margin: 0.24rem 0 0 0.667rem;
}

.box_38 {
  width: 0.107rem;
  height: 1.467rem;
  margin-top: 0.294rem;
}

.box_23 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
}

.box_24 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
  margin-top: 0.587rem;
}

.box_25 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
  margin-top: 0.56rem;
}

.paragraph_9 {
  width: 4.24rem;
  height: 2.08rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.694rem;
  margin-left: 0.107rem;
}

.image-wrapper_15 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 100px 0px 12px 0px;
  height: 1.067rem;
  width: 1.067rem;
  margin: 1.574rem 0 0 3.094rem;
}

.thumbnail_8 {
  width: 0.48rem;
  height: 0.48rem;
  margin: 0.4rem 0 0 0.4rem;
}

.group_34 {
  width: 9.28rem;
  height: 5.68rem;
  background: url(./img/SketchPng25094eb9761313947b3c89028c0da59afbda1cc4f30290464c6869a83005d8cf.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 9.334rem 5.734rem;
  margin-left: 0.8rem;
}

.group_52 {
  position: relative;
  width: 5.547rem;
  height: 1.68rem;
  margin-left: 0.614rem;
}

.text_76 {
  width: 1.92rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.8rem;
}

.image-wrapper_16 {
  height: 1.68rem;
  background: url(./img/SketchPng0f413d08af606d35ace17a8fce68ca0d603533e0b474d38d70d0a0d87220ce23.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 3.36rem;
}

.image_14 {
  width: 3.36rem;
  height: 1.68rem;
}

.label_11 {
  position: absolute;
  left: 2.08rem;
  top: 0.934rem;
  width: 0.64rem;
  height: 0.64rem;
}

.text-wrapper_21 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
  margin: 0.374rem 0 0 0.614rem;
}

.text_77 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 0.48rem;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_78 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 0.64rem;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_79 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.text_80 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.text_81 {
  width: 3.68rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.group_53 {
  width: 4.454rem;
  height: 2.08rem;
  margin: 0.24rem 0 0.56rem 0.667rem;
}

.group_54 {
  width: 0.107rem;
  height: 1.467rem;
  margin-top: 0.294rem;
}

.box_27 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
}

.box_28 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
  margin-top: 0.587rem;
}

.box_29 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
  margin-top: 0.56rem;
}

.paragraph_10 {
  width: 4.24rem;
  height: 2.08rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.694rem;
}

.group_37 {
  width: 9.28rem;
  height: 5.68rem;
  background: url(./img/SketchPngebbb0e592b776884ffeb8f2f28079b3b0b0cc37a2d998dbb393dae2d47d4ae7e.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 9.334rem 5.734rem;
  margin-left: 0.8rem;
}

.group_55 {
  width: 2.694rem;
  height: 0.88rem;
  margin: 0.8rem 0 0 0.614rem;
}

.text_82 {
  width: 1.92rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.label_12 {
  width: 0.64rem;
  height: 0.64rem;
  margin-top: 0.107rem;
}

.text-wrapper_22 {
  width: 3.36rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
  margin: 0.374rem 0 0 0.614rem;
}

.text_83 {
  width: 3.36rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 0.48rem;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_84 {
  width: 3.36rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 0.64rem;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.56rem;
}

.text_85 {
  width: 3.36rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.text_86 {
  width: 3.36rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.text_87 {
  width: 3.36rem;
  height: 0.747rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.56rem;
}

.group_56 {
  width: 4.134rem;
  height: 2.08rem;
  margin: 0.24rem 0 0.56rem 0.667rem;
}

.box_39 {
  width: 0.107rem;
  height: 1.467rem;
  margin-top: 0.294rem;
}

.section_23 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
}

.section_24 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
  margin-top: 0.587rem;
}

.section_25 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.107rem;
  height: 0.107rem;
  margin-top: 0.56rem;
}

.paragraph_11 {
  width: 3.92rem;
  height: 2.08rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.694rem;
}

.group_57 {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 4px;
  width: 30.4rem;
  height: 7.734rem;
  justify-content: flex-center;
  margin: 1.2rem 0 0.8rem 0.8rem;
}

.text-wrapper_26 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 1.494rem;
  width: 30.214rem;
  margin: 0.107rem 0 0 0.08rem;
}

.text_95 {
  width: 6.16rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.454rem 0 0 0.507rem;
}

.group_58 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 30.214rem;
  height: 5.92rem;
  margin: 0.107rem 0 0.107rem 0.08rem;
}

.group_59 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 5.067rem;
  border: 1px solid rgba(240, 225, 255, 1);
  width: 5.067rem;
  margin: 0.374rem 0 0 5.734rem;
}

.group_60 {
  height: 4.24rem;
  background: url(./img/SketchPng2095dab1bd146d5da23ae5046a3ab4bf9d183230c87728df15430fcaab278c40.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 4.24rem;
  margin: 0.427rem 0 0 0.427rem;
}

.image-wrapper_18 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  height: 1.12rem;
  width: 1.12rem;
  margin: 1.574rem 0 0 1.574rem;
}

.label_15 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.24rem 0 0 0.24rem;
}

.group_61 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 5.067rem;
  border: 1px solid rgba(240, 225, 255, 1);
  width: 5.067rem;
  margin: 0.374rem 0 0 0.8rem;
}

.section_30 {
  height: 4.24rem;
  background: url(./img/SketchPng2095dab1bd146d5da23ae5046a3ab4bf9d183230c87728df15430fcaab278c40.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 4.24rem;
  margin: 0.427rem 0 0 0.427rem;
}

.image-wrapper_19 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  height: 1.12rem;
  width: 1.12rem;
  margin: 1.574rem 0 0 1.574rem;
}

.image_17 {
  width: 0.64rem;
  height: 0.534rem;
  margin: 0.294rem 0 0 0.24rem;
}

.text-group_11 {
  width: 6.374rem;
  height: 4.054rem;
  margin: 0.987rem 6.507rem 0 0.667rem;
}

.text-wrapper_27 {
  width: 6.374rem;
  height: 2.08rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 0.587rem;
}

.text_96 {
  width: 6.374rem;
  height: 2.08rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 0.587rem;
}

.text_97 {
  width: 6.374rem;
  height: 2.08rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 1.493rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 0.587rem;
}

.text_98 {
  width: 6.374rem;
  height: 2.08rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 0.587rem;
}

.text-wrapper_28 {
  width: 5.974rem;
  height: 1.334rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.667rem;
  margin-top: 0.64rem;
}

.text_99 {
  width: 5.974rem;
  height: 1.334rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.667rem;
}

.text_100 {
  width: 5.974rem;
  height: 1.334rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.667rem;
}

.paragraph_13 {
  width: 5.974rem;
  height: 1.334rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 0.667rem;
}

.image_16 {
  position: absolute;
  left: 9.6rem;
  top: -0.72rem;
  width: 2.96rem;
  height: 2.56rem;
}

.group_40 {
  position: absolute;
  left: 1.254rem;
  top: 3.414rem;
  width: 4.267rem;
  height: 0.64rem;
  background: url(./img/SketchPng654632925c72e5973fce53f4b9ee27de5fca029350cb325285a1896a151aaf4a.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image-text_10 {
  width: 3.84rem;
  height: 0.48rem;
  margin: 0.08rem 0 0 0.214rem;
}

.thumbnail_9 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.027rem;
}

.text-group_9 {
  width: 3.307rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.346rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}
