.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100vw;
  height: 71.12vw;
  overflow: hidden;
}

.group_24 {
  background-image: url(./img/5284d823e9004acc89621030853e4614_mergeImage.png);
  border-radius: 10px;
  width: 83.34vw;
  height: 12.78vw;
  margin: 7.43vw 0 0 8.33vw;
}

.image-wrapper_13 {
  height: 2.78vw;
  background: url(./img/SketchPnged0d2ee05232bf6f7ea87a53cdd43bc6ca7fb2fe16d2e04b53fab10eb2d58c43.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2.78vw;
  margin: 1.45vw 0 0 1.45vw;
}

.label_9 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0.13vw 0 0 0.13vw;
}

.group_46 {
  width: 3.41vw;
  height: 2.44vw;
  margin: 1.66vw 0 0 0.83vw;
}

.text_62 {
  width: 3.34vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
}

.text-wrapper_17 {
  height: 1.25vw;
  background: url(./img/SketchPng31da7dd36dbe749fed0aa2cc7dd23e2b55b46cfb2dab5ec0ce9479ccf944b3d0.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.21vw;
  width: 3.41vw;
}

.text_63 {
  width: 2.71vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(107, 111, 122, 1);
  font-size: 0.83vw;
  letter-spacing: 0.8571428656578064px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin-left: 0.35vw;
}

.text_64 {
  width: 8.2vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  letter-spacing: 1px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 2.63vw 0 0 0.41vw;
}

.group_47 {
  width: 25vw;
  height: 4.03vw;
  margin: 1.18vw 1.59vw 0 39.65vw;
}

.thumbnail_7 {
  width: 0.84vw;
  height: 0.84vw;
  margin-left: 23.75vw;
}

.text-wrapper_18 {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  height: 2.23vw;
  margin-top: 0.98vw;
  width: 25vw;
}

.text_65 {
  width: 21.88vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 0.55vw 0 0 1.25vw;
}

.group_27 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px 16px 8px 8px;
  position: absolute;
  left: 8.34vw;
  top: 13.96vw;
  width: 83.34vw;
  height: 49.73vw;
}

.group_28 {
  width: 83.34vw;
  height: 4.8vw;
  background: url(./img/SketchPng89659023908220fbe5c0ee17211848016111d02d2bda835990e44d435138995a.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_11 {
  width: 5.35vw;
  height: 3.89vw;
  margin: 0.48vw 0 0 19.72vw;
}

.text_66 {
  width: 18.34vw;
  height: 2.3vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.66vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 1.31vw 0 0 8.54vw;
}

.text-wrapper_19 {
  background-color: rgba(255, 250, 245, 1);
  border-radius: 8px;
  height: 3.34vw;
  width: 3.34vw;
  margin: 0.83vw 0 0 0.9vw;
}

.text_67 {
  width: 2.99vw;
  height: 2.64vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 2.22vw;
  letter-spacing: 2.2857143878936768px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.64vw;
  margin: 0.13vw 0 0 0.2vw;
}

.text_68 {
  width: 1.67vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.66vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 1.31vw 0 0 0.55vw;
}

.image_12 {
  width: 5.98vw;
  height: 3.27vw;
  margin: 0.62vw 17.7vw 0 1.25vw;
}

.text_69 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 1.18vw 0 0 2.36vw;
}

.group_48 {
  width: 76.67vw;
  height: 14.8vw;
  margin: 2.08vw 0 0 3.4vw;
}

.group_30 {
  height: 14.8vw;
  background: url(./img/SketchPng844a0123538e9aeac222c20d6dabc69a6f1b3d46ed5106a77588915139bebd1c.png)
    -1.39vw -0.98vw no-repeat;
  background-size: 26.94vw 17.56vw;
  width: 24.17vw;
}

.group_49 {
  position: relative;
  width: 14.31vw;
  height: 4.38vw;
  margin: 0.13vw 0 0 1.59vw;
}

.text_70 {
  width: 5vw;
  height: 2.3vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin-top: 1.95vw;
}

.image-wrapper_14 {
  height: 4.38vw;
  background: url(./img/SketchPng9ee323c84c40112ad35af245774f17a986e3d66f7df39c3fc5d3c5a9c63e8164.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 8.75vw;
}

.image_13 {
  width: 8.75vw;
  height: 4.38vw;
}

.label_10 {
  position: absolute;
  left: 5.35vw;
  top: 2.3vw;
  width: 1.67vw;
  height: 1.67vw;
}

.group_50 {
  width: 9.59vw;
  height: 1.95vw;
  margin: 0.83vw 0 0 1.59vw;
}

.text-wrapper_20 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_71 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 1.25vw;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_72 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 1.66vw;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_73 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.text_74 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.text_75 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.group_51 {
  width: 22.44vw;
  height: 6.88vw;
  margin: 0.62vw 0 0 1.73vw;
}

.box_38 {
  width: 0.28vw;
  height: 3.82vw;
  margin-top: 0.77vw;
}

.box_23 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
}

.box_24 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
  margin-top: 1.53vw;
}

.box_25 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
  margin-top: 1.46vw;
}

.paragraph_9 {
  width: 11.05vw;
  height: 5.42vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.81vw;
  margin-left: 0.28vw;
}

.image-wrapper_15 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 100px 0px 12px 0px;
  height: 2.78vw;
  width: 2.78vw;
  margin: 4.09vw 0 0 8.05vw;
}

.thumbnail_8 {
  width: 1.25vw;
  height: 1.25vw;
  margin: 1.04vw 0 0 1.04vw;
}

.group_34 {
  width: 24.17vw;
  height: 14.8vw;
  background: url(./img/SketchPng25094eb9761313947b3c89028c0da59afbda1cc4f30290464c6869a83005d8cf.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 24.3vw 14.93vw;
  margin-left: 2.09vw;
}

.group_52 {
  position: relative;
  width: 14.45vw;
  height: 4.38vw;
  margin-left: 1.6vw;
}

.text_76 {
  width: 5vw;
  height: 2.3vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin-top: 2.09vw;
}

.image-wrapper_16 {
  height: 4.38vw;
  background: url(./img/SketchPng0f413d08af606d35ace17a8fce68ca0d603533e0b474d38d70d0a0d87220ce23.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 8.75vw;
}

.image_14 {
  width: 8.75vw;
  height: 4.38vw;
}

.label_11 {
  position: absolute;
  left: 5.42vw;
  top: 2.44vw;
  width: 1.67vw;
  height: 1.67vw;
}

.text-wrapper_21 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin: 0.97vw 0 0 1.59vw;
}

.text_77 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 1.25vw;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_78 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 1.66vw;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_79 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.text_80 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.text_81 {
  width: 9.59vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.group_53 {
  width: 11.6vw;
  height: 5.42vw;
  margin: 0.62vw 0 1.45vw 1.73vw;
}

.group_54 {
  width: 0.28vw;
  height: 3.82vw;
  margin-top: 0.77vw;
}

.box_27 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
}

.box_28 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
  margin-top: 1.53vw;
}

.box_29 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
  margin-top: 1.46vw;
}

.paragraph_10 {
  width: 11.05vw;
  height: 5.42vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.81vw;
}

.group_37 {
  width: 24.17vw;
  height: 14.8vw;
  background: url(./img/SketchPngebbb0e592b776884ffeb8f2f28079b3b0b0cc37a2d998dbb393dae2d47d4ae7e.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 24.3vw 14.93vw;
  margin-left: 2.09vw;
}

.group_55 {
  width: 7.02vw;
  height: 2.3vw;
  margin: 2.08vw 0 0 1.59vw;
}

.text_82 {
  width: 5vw;
  height: 2.3vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
}

.label_12 {
  width: 1.67vw;
  height: 1.67vw;
  margin-top: 0.28vw;
}

.text-wrapper_22 {
  width: 8.75vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
  margin: 0.97vw 0 0 1.59vw;
}

.text_83 {
  width: 8.75vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 1.25vw;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_84 {
  width: 8.75vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(242, 43, 36, 1);
  font-size: 1.66vw;
  font-family: DINAlternate-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 1.46vw;
}

.text_85 {
  width: 8.75vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.text_86 {
  width: 8.75vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.text_87 {
  width: 8.75vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.46vw;
}

.group_56 {
  width: 10.77vw;
  height: 5.42vw;
  margin: 0.62vw 0 1.45vw 1.73vw;
}

.box_39 {
  width: 0.28vw;
  height: 3.82vw;
  margin-top: 0.77vw;
}

.section_23 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
}

.section_24 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
  margin-top: 1.53vw;
}

.section_25 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 50%;
  width: 0.28vw;
  height: 0.28vw;
  margin-top: 1.46vw;
}

.paragraph_11 {
  width: 10.21vw;
  height: 5.42vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.81vw;
}

.group_57 {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 4px;
  width: 79.17vw;
  height: 20.14vw;
  justify-content: flex-center;
  margin: 3.12vw 0 2.08vw 2.08vw;
}

.text-wrapper_26 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 3.89vw;
  width: 78.69vw;
  margin: 0.27vw 0 0 0.2vw;
}

.text_95 {
  width: 16.05vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 1.18vw 0 0 1.31vw;
}

.group_58 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 78.69vw;
  height: 15.42vw;
  margin: 0.27vw 0 0.27vw 0.2vw;
}

.group_59 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 13.2vw;
  border: 1px solid rgba(240, 225, 255, 1);
  width: 13.2vw;
  margin: 0.97vw 0 0 14.93vw;
}

.group_60 {
  height: 11.05vw;
  background: url(./img/SketchPng2095dab1bd146d5da23ae5046a3ab4bf9d183230c87728df15430fcaab278c40.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 11.05vw;
  margin: 1.11vw 0 0 1.11vw;
}

.image-wrapper_18 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  height: 2.92vw;
  width: 2.92vw;
  margin: 4.09vw 0 0 4.09vw;
}

.label_15 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.62vw 0 0 0.62vw;
}

.group_61 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 13.2vw;
  border: 1px solid rgba(240, 225, 255, 1);
  width: 13.2vw;
  margin: 0.97vw 0 0 2.08vw;
}

.section_30 {
  height: 11.05vw;
  background: url(./img/SketchPng2095dab1bd146d5da23ae5046a3ab4bf9d183230c87728df15430fcaab278c40.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 11.05vw;
  margin: 1.11vw 0 0 1.11vw;
}

.image-wrapper_19 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  height: 2.92vw;
  width: 2.92vw;
  margin: 4.09vw 0 0 4.09vw;
}

.image_17 {
  width: 1.67vw;
  height: 1.39vw;
  margin: 0.76vw 0 0 0.62vw;
}

.text-group_11 {
  width: 16.6vw;
  height: 10.56vw;
  margin: 2.56vw 16.94vw 0 1.73vw;
}

.text-wrapper_27 {
  width: 16.6vw;
  height: 5.42vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 1.53vw;
}

.text_96 {
  width: 16.6vw;
  height: 5.42vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 1.53vw;
}

.text_97 {
  width: 16.6vw;
  height: 5.42vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 3.88vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 1.53vw;
}

.text_98 {
  width: 16.6vw;
  height: 5.42vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  line-height: 1.53vw;
}

.text-wrapper_28 {
  width: 15.56vw;
  height: 3.48vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.74vw;
  margin-top: 1.67vw;
}

.text_99 {
  width: 15.56vw;
  height: 3.48vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.74vw;
}

.text_100 {
  width: 15.56vw;
  height: 3.48vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.74vw;
}

.paragraph_13 {
  width: 15.56vw;
  height: 3.48vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 1.74vw;
}

.image_16 {
  position: absolute;
  left: 25vw;
  top: -1.87vw;
  width: 7.71vw;
  height: 6.67vw;
}

.group_40 {
  position: absolute;
  left: 3.27vw;
  top: 8.89vw;
  width: 11.12vw;
  height: 1.67vw;
  background: url(./img/SketchPng654632925c72e5973fce53f4b9ee27de5fca029350cb325285a1896a151aaf4a.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image-text_10 {
  width: 10vw;
  height: 1.25vw;
  margin: 0.2vw 0 0 0.55vw;
}

.thumbnail_9 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.07vw;
}

.text-group_9 {
  width: 8.62vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.9vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}
