.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.group_1 {
  width: 1388px;
  height: 708px;
  margin: 222px 0 0 26px;
}

.grid_1 {
  width: 912px;
  height: 708px;
  flex-wrap: wrap;
}

.section_1 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 260px;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 436px;
  margin: 0 40px 72px 0;
}

.image-wrapper_1 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_1 {
  width: 12px;
  height: 12px;
}

.text-wrapper_1 {
  width: 36px;
  height: 18px;
  margin: 4px 0 0 200px;
}

.text_1 {
  width: 36px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.text-wrapper_2 {
  width: 294px;
  height: 18px;
  margin: 45px 0 0 71px;
}

.text_2 {
  width: 294px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.box_1 {
  width: 240px;
  height: 36px;
  margin: 67px 0 46px 114px;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_3 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}

.text-wrapper_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_4 {
  width: 70px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 15px;
}

.section_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 260px;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 72px;
  width: 436px;
}

.image-wrapper_2 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_2 {
  width: 12px;
  height: 12px;
}

.image-text_1 {
  width: 154px;
  height: 75px;
  margin: 38px 0 0 141px;
}

.label_1 {
  width: 36px;
  height: 36px;
  margin-left: 59px;
}

.text-group_1 {
  width: 154px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 21px;
}

.section_3 {
  width: 100px;
  height: 36px;
  margin: 39px 0 46px 168px;
}

.text-wrapper_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_5 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}

.section_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 376px;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 436px;
  margin: 0 40px 72px 0;
}

.image-wrapper_3 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_3 {
  width: 12px;
  height: 12px;
}

.text-wrapper_6 {
  width: 64px;
  height: 18px;
  margin: 14px 0 0 186px;
}

.text_6 {
  width: 64px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.text-wrapper_7 {
  width: 56px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_7 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_2 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 302px;
}

.text_8 {
  width: 102px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.text-wrapper_9 {
  width: 302px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_9 {
  width: 70px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.text_10 {
  width: 83px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_3 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.text-wrapper_10 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 302px;
}

.text_11 {
  width: 98px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.group_4 {
  width: 230px;
  height: 36px;
  margin: 43px 0 59px 103px;
}

.text-wrapper_11 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_12 {
  width: 70px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 15px;
}

.text-wrapper_12 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_13 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 37px;
}

.section_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 376px;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 72px;
  width: 436px;
}

.image-wrapper_4 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_4 {
  width: 12px;
  height: 12px;
}

.text-wrapper_13 {
  width: 64px;
  height: 18px;
  margin: 14px 0 0 186px;
}

.text_14 {
  width: 64px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.text-wrapper_14 {
  width: 56px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_15 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.section_6 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.text-wrapper_15 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 302px;
}

.text_16 {
  width: 102px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.text-wrapper_16 {
  width: 70px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_17 {
  width: 70px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.section_7 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.group_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 302px;
  height: 36px;
}

.text_18 {
  width: 70px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.label_2 {
  width: 24px;
  height: 24px;
  margin: 6px 0 0 147px;
}

.label_3 {
  width: 24px;
  height: 24px;
  margin: 6px 15px 0 9px;
}

.section_8 {
  width: 230px;
  height: 36px;
  margin: 43px 0 59px 103px;
}

.text-wrapper_17 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_19 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}

.text-wrapper_18 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_20 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 37px;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 260px;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-top: 332px;
  width: 436px;
}

.image-wrapper_5 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_5 {
  width: 12px;
  height: 12px;
}

.image-wrapper_6 {
  width: 36px;
  height: 36px;
  margin: 38px 0 0 200px;
}

.label_4 {
  width: 36px;
  height: 36px;
}

.text-wrapper_19 {
  width: 98px;
  height: 18px;
  margin: 22px 0 0 169px;
}

.text_21 {
  width: 98px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.box_3 {
  width: 100px;
  height: 36px;
  margin: 38px 0 46px 168px;
}

.text-wrapper_20 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_22 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}
