html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 38.4rem;
  height: 27.307rem;
  overflow: hidden;
}

.group_1 {
  width: 37.014rem;
  height: 18.88rem;
  margin: 5.92rem 0 0 0.694rem;
}

.grid_1 {
  width: 24.32rem;
  height: 18.88rem;
  flex-wrap: wrap;
}

.section_1 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
  margin: 0 1.067rem 1.92rem 0;
}

.image-wrapper_1 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_1 {
  width: 0.96rem;
  height: 0.48rem;
  margin: 0.107rem 0 0 5.334rem;
}

.text_1 {
  width: 0.96rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_2 {
  width: 7.84rem;
  height: 0.48rem;
  margin: 1.2rem 0 0 1.894rem;
}

.text_2 {
  width: 7.84rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.box_1 {
  width: 6.4rem;
  height: 0.96rem;
  margin: 1.787rem 0 1.227rem 3.04rem;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_3 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_4 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.4rem;
}

.section_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 1.92rem;
  width: 11.627rem;
}

.image-wrapper_2 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_2 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-text_1 {
  width: 4.107rem;
  height: 2rem;
  margin: 1.014rem 0 0 3.76rem;
}

.label_1 {
  width: 0.96rem;
  height: 0.96rem;
  margin-left: 1.574rem;
}

.text-group_1 {
  width: 4.107rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
  margin-top: 0.56rem;
}

.section_3 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.04rem 0 1.227rem 4.48rem;
}

.text-wrapper_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_5 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.section_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.027rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
  margin: 0 1.067rem 1.92rem 0;
}

.image-wrapper_3 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_3 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_6 {
  width: 1.707rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.96rem;
}

.text_6 {
  width: 1.707rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_7 {
  width: 1.494rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_7 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_2 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 8.054rem;
}

.text_8 {
  width: 2.72rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text-wrapper_9 {
  width: 8.054rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_9 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.text_10 {
  width: 2.214rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_3 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_10 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 8.054rem;
}

.text_11 {
  width: 2.614rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.group_4 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.147rem 0 1.574rem 2.747rem;
}

.text-wrapper_11 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_12 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.4rem;
}

.text-wrapper_12 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_13 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.987rem;
}

.section_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.027rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 1.92rem;
  width: 11.627rem;
}

.image-wrapper_4 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_4 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_13 {
  width: 1.707rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.96rem;
}

.text_14 {
  width: 1.707rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_14 {
  width: 1.494rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_15 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.section_6 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_15 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 8.054rem;
}

.text_16 {
  width: 2.72rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text-wrapper_16 {
  width: 1.867rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_17 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.section_7 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.group_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 8.054rem;
  height: 0.96rem;
}

.text_18 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.label_2 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0 0 3.92rem;
}

.label_3 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0.4rem 0 0.24rem;
}

.section_8 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.147rem 0 1.574rem 2.747rem;
}

.text-wrapper_17 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_19 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_18 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_20 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.987rem;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-top: 8.854rem;
  width: 11.627rem;
}

.image-wrapper_5 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_5 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_6 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 1.014rem 0 0 5.334rem;
}

.label_4 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_19 {
  width: 2.614rem;
  height: 0.48rem;
  margin: 0.587rem 0 0 4.507rem;
}

.text_21 {
  width: 2.614rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.box_3 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.014rem 0 1.227rem 4.48rem;
}

.text-wrapper_20 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_22 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}
