.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100vw;
  height: 71.12vw;
  overflow: hidden;
}

.group_1 {
  width: 96.39vw;
  height: 49.17vw;
  margin: 15.41vw 0 0 1.8vw;
}

.grid_1 {
  width: 63.34vw;
  height: 49.17vw;
  flex-wrap: wrap;
}

.section_1 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
  margin: 0 2.77vw 5vw 0;
}

.image-wrapper_1 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_1 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_1 {
  width: 2.5vw;
  height: 1.25vw;
  margin: 0.27vw 0 0 13.88vw;
}

.text_1 {
  width: 2.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_2 {
  width: 20.42vw;
  height: 1.25vw;
  margin: 3.12vw 0 0 4.93vw;
}

.text_2 {
  width: 20.42vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.box_1 {
  width: 16.67vw;
  height: 2.5vw;
  margin: 4.65vw 0 3.19vw 7.91vw;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_3 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_4 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.04vw;
}

.section_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 5vw;
  width: 30.28vw;
}

.image-wrapper_2 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_2 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-text_1 {
  width: 10.7vw;
  height: 5.21vw;
  margin: 2.63vw 0 0 9.79vw;
}

.label_1 {
  width: 2.5vw;
  height: 2.5vw;
  margin-left: 4.1vw;
}

.text-group_1 {
  width: 10.7vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin-top: 1.46vw;
}

.section_3 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 2.7vw 0 3.19vw 11.66vw;
}

.text-wrapper_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_5 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.section_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.12vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
  margin: 0 2.77vw 5vw 0;
}

.image-wrapper_3 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_3 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_6 {
  width: 4.45vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.91vw;
}

.text_6 {
  width: 4.45vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_7 {
  width: 3.89vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_7 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_2 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 20.98vw;
}

.text_8 {
  width: 7.09vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text-wrapper_9 {
  width: 20.98vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_9 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.text_10 {
  width: 5.77vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.group_3 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_10 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 20.98vw;
}

.text_11 {
  width: 6.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.group_4 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 2.98vw 0 4.09vw 7.15vw;
}

.text-wrapper_11 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_12 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.04vw;
}

.text-wrapper_12 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_13 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.56vw;
}

.section_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.12vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-bottom: 5vw;
  width: 30.28vw;
}

.image-wrapper_4 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_4 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_13 {
  width: 4.45vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.91vw;
}

.text_14 {
  width: 4.45vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_14 {
  width: 3.89vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_15 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.section_6 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_15 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 20.98vw;
}

.text_16 {
  width: 7.09vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text-wrapper_16 {
  width: 4.87vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_17 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.section_7 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.group_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 20.98vw;
  height: 2.5vw;
}

.text_18 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.label_2 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 0 0 10.2vw;
}

.label_3 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 1.04vw 0 0.62vw;
}

.section_8 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 2.98vw 0 4.09vw 7.15vw;
}

.text-wrapper_17 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_19 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_18 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_20 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.56vw;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-top: 23.06vw;
  width: 30.28vw;
}

.image-wrapper_5 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_5 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_6 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.63vw 0 0 13.88vw;
}

.label_4 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_19 {
  width: 6.81vw;
  height: 1.25vw;
  margin: 1.52vw 0 0 11.73vw;
}

.text_21 {
  width: 6.81vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.box_3 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 2.63vw 0 3.19vw 11.66vw;
}

.text-wrapper_20 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_22 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}
