.page {
  position: relative;
  width: 100vw;
  height: 71.12vw;
  overflow: hidden;
}

.group_1 {
  background-image: url(./img/311a516704a9495d9d226cf3849ca426_mergeImage.png);
  position: relative;
  width: 50vw;
  height: 71.12vw;
}

.box_1 {
  width: 15.07vw;
  height: 15vw;
  background: url(./img/SketchPngeceff6185bf61a6e6cf336413a4cf9cfa4d8500810314e9d2d5418dcd39b3943.png)
    -8.27vw 0vw no-repeat;
  background-size: 31.59vw 23.26vw;
}

.box_2 {
  width: 32.57vw;
  height: 32.57vw;
  background: url(./img/SketchPng9ce1ffdc9f5aed19cdb0af516633e6ff8fde6c0ddfedabde8d743b5aabda977f.png)
    1.39vw -8.62vw no-repeat;
  background-size: 38.54vw 16.11vw;
  margin: 48.61vw 0 25.06vw -1.38vw;
}

.box_3 {
  position: absolute;
  left: -33.61vw;
  top: 9.1vw;
  width: 76.81vw;
  height: 81.81vw;
  background: url(./img/SketchPng6e5f651e88e15886405767937886e4634b5846d67b4ca8933fccafb8eda3909d.png)
    -3.06vw -8.48vw no-repeat;
  background-size: 85.27vw 90.34vw;
}

.text_1 {
  width: 28.27vw;
  height: 4.94vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 4.16vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.94vw;
  margin: 6.87vw 0 0 38.47vw;
}

.text_2 {
  width: 28.2vw;
  height: 3.48vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 2.5vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.99vw;
  margin: 2.98vw 0 0 38.47vw;
}

.group_4 {
  width: 51.25vw;
  height: 24.66vw;
  margin: 0.48vw 0 0 27.84vw;
}

.image-wrapper_1 {
  width: 9.8vw;
  height: 9.8vw;
  background: url(./img/SketchPngc82e9f33dda4dbff8aa8c9f3db5b8cef5cf4399a3dca319b231f4afaca6bf4f5.png)
    5.77vw -8.27vw no-repeat;
  background-size: 12.29vw 26.31vw;
  margin-top: 4.31vw;
}

.thumbnail_1 {
  width: 1.25vw;
  height: 1.25vw;
  margin: 0.06vw 0 0 10.55vw;
}

.thumbnail_2 {
  width: 1.25vw;
  height: 1.25vw;
  margin: 2.43vw 0 4.79vw 10.55vw;
}

.image_1 {
  width: 4.1vw;
  height: 3.96vw;
  margin: 14.44vw 0 0 -0.9vw;
}

.image-text_3 {
  width: 40.7vw;
  height: 10.21vw;
  margin-left: -2.43vw;
}

.thumbnail_3 {
  width: 1.25vw;
  height: 1.25vw;
  margin-top: 1.12vw;
}

.text-group_1 {
  width: 38.55vw;
  height: 10.21vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.45vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 3.41vw;
}

.label_1 {
  width: 1.88vw;
  height: 1.95vw;
  margin: 20.27vw 0 0 -33.88vw;
}

.box_4 {
  border-radius: 50%;
  background-image: url(./img/faa49ca6d9764ae794867e225df5a2b3_mergeImage.png);
  width: 5.84vw;
  height: 5.84vw;
  margin: 13.05vw 0 0 3.47vw;
}

.box_5 {
  border-radius: 50%;
  background-image: url(./img/88b794c403134a41ac7fec270f12a52e_mergeImage.png);
  width: 6.25vw;
  height: 6.25vw;
  margin: 18.4vw 3.26vw 0 13.19vw;
}

.group_5 {
  width: 30.49vw;
  height: 9.24vw;
  margin: 2.84vw 0 26.31vw 37.29vw;
}

.section_3 {
  width: 10.35vw;
  height: 1.25vw;
  background: url(./img/SketchPng95f28e4055087f672cf059df2c11b0c511de8a1f9489624393a555bf7098837c.png)
    -1.05vw -1.19vw no-repeat;
  background-size: 12.43vw 3.61vw;
  margin-top: 2.99vw;
}

.section_4 {
  width: 9.24vw;
  height: 9.24vw;
  background: url(./img/403a3fbc2d264bc791dea4e8e3324913_mergeImage.png) 100%
    no-repeat;
  background-size: 100% 100%;
}

.image_2 {
  position: absolute;
  left: 37.37vw;
  top: 39.24vw;
  width: 9.87vw;
  height: 10.7vw;
}

.group_2 {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 50vw;
  top: 0;
  width: 50vw;
  height: 71.12vw;
}

.text_3 {
  width: 8.34vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(47, 51, 54, 1);
  font-size: 1.94vw;
  letter-spacing: 2px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.5vw;
  margin: 11.94vw 0 0 20.83vw;
}

.image-text_4 {
  width: 16.25vw;
  height: 9.1vw;
  margin: 1.38vw 0 0 16.87vw;
}

.image_3 {
  width: 13.41vw;
  height: 5.35vw;
  margin-left: 1.46vw;
}

.text-group_2 {
  width: 16.25vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  letter-spacing: 2px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 2.5vw;
  margin-top: 1.25vw;
}

.group_6 {
  width: 17.85vw;
  height: 2.71vw;
  margin: 4.09vw 0 0 10.69vw;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.64vw;
  width: 8.75vw;
}

.text_4 {
  width: 7.23vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.69vw 0 0 0.76vw;
}

.box_7 {
  width: 7.23vw;
  height: 1.95vw;
  margin-top: 0.77vw;
}

.text_5 {
  width: 7.23vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.12vw;
}

.group_3 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 3px;
  width: 7.23vw;
  height: 0.14vw;
  margin-top: 0.7vw;
}

.image_4 {
  width: 13.89vw;
  height: 13.89vw;
  margin: 2.77vw 0 0 18.05vw;
}

.text-wrapper_2 {
  width: 12.64vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 2.22vw 0 0 18.68vw;
}

.text_6 {
  width: 12.64vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text_7 {
  width: 12.64vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text_8 {
  width: 12.64vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_3 {
  width: 22.37vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 2.91vw 0 0 13.68vw;
}

.text_9 {
  width: 22.37vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text_10 {
  width: 22.37vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text_11 {
  width: 7.78vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 7.08vw 0 6.45vw 27.22vw;
}

.image_5 {
  position: absolute;
  left: 10.84vw;
  top: 31.67vw;
  width: 28.48vw;
  height: 0.07vw;
}
