.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 78.06vw;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 78.06vw;
  width: 100vw;
}

.text-wrapper_15 {
  width: 45.84vw;
  height: 1.39vw;
  margin: 5.55vw 0 0 3.05vw;
}

.text_1 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
}

.text_2 {
  width: 4.87vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
}

.block_4 {
  width: 71.25vw;
  height: 20.42vw;
  margin: 1.31vw 0 0 3.05vw;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 20.42vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_8 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_1 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_9 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 1.52vw 0 0 13.88vw;
}

.label_1 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_16 {
  width: 25.42vw;
  height: 3.34vw;
  margin: 2.43vw 0 0 2.5vw;
}

.text_3 {
  width: 25.42vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
}

.box_6 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 3.54vw 0 2.77vw 7.22vw;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_4 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_5 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.box_3 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 20.42vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_10 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_2 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_17 {
  width: 5.56vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.36vw;
}

.text_6 {
  width: 5.56vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_18 {
  width: 6.81vw;
  height: 1.67vw;
  margin: 2.22vw 0 0 4.65vw;
}

.text_7 {
  width: 6.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.section_1 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.block_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 8.62vw;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_8 {
  width: 5.7vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 0.69vw 0 0 0.83vw;
}

.thumbnail_3 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 1.04vw 0.48vw 0 0.9vw;
}

.text-wrapper_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 12.37vw;
}

.text_9 {
  width: 6.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.section_2 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 4.16vw 0 2.77vw 7.15vw;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_10 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_9 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_11 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.56vw;
}

.block_5 {
  width: 34.87vw;
  height: 24.45vw;
  margin: 2.7vw 0 0 44.02vw;
}

.group_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 24.45vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 34.87vw;
}

.image-wrapper_11 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 33.05vw;
}

.thumbnail_4 {
  width: 0.84vw;
  height: 0.84vw;
}

.block_6 {
  width: 6.6vw;
  height: 7.64vw;
  margin: 1.25vw 0 0 14.65vw;
}

.image-wrapper_5 {
  height: 7.64vw;
  background: url(./img/SketchPng2829544ab092e4ff2668cf3b3ef8b3ca7a9307c6167f6a27446a500e33ed01ae.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 6.6vw;
}

.image_1 {
  width: 6.6vw;
  height: 7.64vw;
}

.block_7 {
  width: 30vw;
  height: 4.45vw;
  margin: 1.04vw 0 0 2.01vw;
}

.text-wrapper_10 {
  width: 30vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.23vw;
}

.paragraph_1 {
  width: 30vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.23vw;
}

.text_12 {
  width: 30vw;
  height: 4.45vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 2.23vw;
}

.block_8 {
  width: 20.28vw;
  height: 2.5vw;
  margin: 2.84vw 0 2.91vw 7.29vw;
}

.text-wrapper_11 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 9.45vw;
}

.text_13 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 3.75vw;
}

.text-wrapper_12 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 9.45vw;
}

.text_14 {
  width: 5.84vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.87vw;
}

.block_9 {
  width: 30.28vw;
  height: 18.06vw;
  margin: 2.63vw 0 1.52vw 44.02vw;
}

.box_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_12 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_5 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_13 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.63vw 0 0 13.88vw;
}

.label_2 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_19 {
  width: 8.75vw;
  height: 1.25vw;
  margin: 1.52vw 0 0 10.76vw;
}

.text_15 {
  width: 8.75vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.section_3 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 2.63vw 0 3.19vw 11.66vw;
}

.text-wrapper_14 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_16 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}
