html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 29.974rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 29.974rem;
  width: 38.4rem;
}

.text-wrapper_15 {
  width: 17.6rem;
  height: 0.534rem;
  margin: 2.134rem 0 0 1.174rem;
}

.text_1 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_2 {
  width: 1.867rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.534rem;
}

.block_4 {
  width: 27.36rem;
  height: 7.84rem;
  margin: 0.507rem 0 0 1.174rem;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 7.84rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_8 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_9 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.587rem 0 0 5.334rem;
}

.label_1 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_16 {
  width: 9.76rem;
  height: 1.28rem;
  margin: 0.934rem 0 0 0.96rem;
}

.text_3 {
  width: 9.76rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 0.64rem;
}

.box_6 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.36rem 0 1.067rem 2.774rem;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_4 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_5 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.box_3 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 7.84rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_10 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_2 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_17 {
  width: 2.134rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.747rem;
}

.text_6 {
  width: 2.134rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_18 {
  width: 2.614rem;
  height: 0.64rem;
  margin: 0.854rem 0 0 1.787rem;
}

.text_7 {
  width: 2.614rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.section_1 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.block_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 3.307rem;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_8 {
  width: 2.187rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.267rem 0 0 0.32rem;
}

.thumbnail_3 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.4rem 0.187rem 0 0.347rem;
}

.text-wrapper_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 4.747rem;
}

.text_9 {
  width: 2.614rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.section_2 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.6rem 0 1.067rem 2.747rem;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_10 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_9 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_11 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.987rem;
}

.block_5 {
  width: 13.387rem;
  height: 9.387rem;
  margin: 1.04rem 0 0 16.907rem;
}

.group_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 9.387rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 13.387rem;
}

.image-wrapper_11 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 12.694rem;
}

.thumbnail_4 {
  width: 0.32rem;
  height: 0.32rem;
}

.block_6 {
  width: 2.534rem;
  height: 2.934rem;
  margin: 0.48rem 0 0 5.627rem;
}

.image-wrapper_5 {
  height: 2.934rem;
  background: url(./img/SketchPng2829544ab092e4ff2668cf3b3ef8b3ca7a9307c6167f6a27446a500e33ed01ae.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2.534rem;
}

.image_1 {
  width: 2.534rem;
  height: 2.934rem;
}

.block_7 {
  width: 11.52rem;
  height: 1.707rem;
  margin: 0.4rem 0 0 0.774rem;
}

.text-wrapper_10 {
  width: 11.52rem;
  height: 1.707rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.854rem;
}

.paragraph_1 {
  width: 11.52rem;
  height: 1.707rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.854rem;
}

.text_12 {
  width: 11.52rem;
  height: 1.707rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.854rem;
}

.block_8 {
  width: 7.787rem;
  height: 0.96rem;
  margin: 1.094rem 0 1.12rem 2.8rem;
}

.text-wrapper_11 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 3.627rem;
}

.text_13 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 1.44rem;
}

.text-wrapper_12 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 3.627rem;
}

.text_14 {
  width: 2.24rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.72rem;
}

.block_9 {
  width: 11.627rem;
  height: 6.934rem;
  margin: 1.014rem 0 0.587rem 16.907rem;
}

.box_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_12 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_5 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_13 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 1.014rem 0 0 5.334rem;
}

.label_2 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_19 {
  width: 3.36rem;
  height: 0.48rem;
  margin: 0.587rem 0 0 4.134rem;
}

.text_15 {
  width: 3.36rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.section_3 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.014rem 0 1.227rem 4.48rem;
}

.text-wrapper_14 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_16 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}
