.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 69.03vw;
  overflow: hidden;
}

.group_4 {
  width: 100vw;
  height: 4.45vw;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_9 {
  width: 14.24vw;
  height: 4.45vw;
  margin-left: 1.39vw;
}

.text-wrapper_66 {
  height: 2.5vw;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2.5vw;
  margin: 0.97vw 0 0 72.84vw;
}

.text_81 {
  width: 1.32vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 1.38vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 0.34vw 0 0 0.62vw;
}

.text_82 {
  width: 3.34vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 1.73vw 0 0 1.04vw;
}

.thumbnail_15 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 2.01vw 3.47vw 0 0.48vw;
}

.group_5 {
  position: relative;
  width: 100vw;
  height: 0.84vw;
}

.image_10 {
  width: 100vw;
  height: 0.07vw;
}

.group_3 {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  top: 0.07vw;
  width: 14.31vw;
  height: 64.52vw;
}

.section_1 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_2 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_4 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 6.45vw 0 0.62vw;
}

.image_3 {
  width: 11.6vw;
  height: 0.07vw;
  margin: 0.62vw 0 0 1.59vw;
}

.section_2 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.76vw 0 0 0.55vw;
}

.thumbnail_3 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_5 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 0.62vw;
}

.thumbnail_4 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_2 {
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_6 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_3 {
  height: 2.5vw;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_7 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_4 {
  height: 2.5vw;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_8 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.section_3 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng863ab2fa922ceb5891b35caadf9f4c1372bda3ed77c070303174e851db674ee0.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_8 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_5 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_1 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.section_4 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_9 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_6 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_2 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.thumbnail_7 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_5 {
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_9 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_6 {
  height: 2.5vw;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 34.86vw 0.55vw;
}

.text_10 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 63.2vw;
  width: 84.31vw;
  position: relative;
  margin: -0.06vw 0 0.62vw 15vw;
}

.group_6 {
  width: 5.91vw;
  height: 1.95vw;
  margin: 1.38vw 0 0 1.38vw;
}

.section_6 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 0.21vw;
  height: 0.98vw;
  margin-top: 0.49vw;
}

.text_11 {
  width: 5vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
}

.group_7 {
  width: 77.37vw;
  height: 2.5vw;
  margin: 1.38vw 0 0 2.7vw;
}

.text_12 {
  width: 4.17vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.67vw;
  margin-top: 0.42vw;
}

.text-wrapper_7 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  margin-left: 0.84vw;
  width: 15.28vw;
}

.text_13 {
  width: 6.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_14 {
  width: 4.17vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.55vw 0 0 1.87vw;
}

.section_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 15.28vw;
  height: 2.5vw;
  margin-left: 0.91vw;
}

.text_15 {
  width: 1.95vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.55vw 0 0 0.83vw;
}

.thumbnail_8 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.9vw 0 11.04vw;
}

.text_16 {
  width: 4.17vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.55vw 0 0 1.38vw;
}

.section_9 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 15.28vw;
  height: 2.5vw;
  margin-left: 0.84vw;
}

.text_17 {
  width: 2.57vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.55vw 0 0 0.83vw;
}

.thumbnail_9 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0.69vw 0 10.06vw;
}

.section_10 {
  background-color: rgba(233, 237, 255, 1);
  border-radius: 4px;
  width: 5.56vw;
  height: 2.5vw;
  margin-left: 1.39vw;
}

.thumbnail_10 {
  width: 0.91vw;
  height: 0.91vw;
  margin: 0.83vw 0 0 1.25vw;
}

.text_18 {
  width: 1.81vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.9vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 0.62vw 1.25vw 0 0;
}

.section_11 {
  border-radius: 4px;
  width: 5.56vw;
  height: 2.5vw;
  border: 1px solid rgba(223, 225, 236, 1);
  margin-left: 0.7vw;
}

.thumbnail_11 {
  width: 0.91vw;
  height: 0.91vw;
  margin: 0.83vw 0 0 1.25vw;
}

.text_19 {
  width: 1.81vw;
  height: 0.91vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.9vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.91vw;
  margin: 0.83vw 1.25vw 0 0;
}

.group_8 {
  width: 67.09vw;
  height: 3.2vw;
  margin: 1.31vw 0 0 1.25vw;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 0px;
  height: 3.2vw;
  border: 1px solid rgba(223, 225, 236, 1);
  width: 11.05vw;
}

.text_20 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.83vw 0 0 3.19vw;
}

.text-wrapper_9 {
  height: 3.2vw;
  background: url(./img/SketchPng753dee5f06f88965f4ed0d96daa3e0967547328de811f0b6e5a808e39f4a9e90.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.97vw 3.33vw;
  margin-left: 5.91vw;
  width: 5.84vw;
}

.text_21 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 0.97vw;
}

.text-wrapper_10 {
  height: 3.2vw;
  background: url(./img/SketchPng627513f8c59ede76029495d487ec851b19ef72552629025335ac941601f9ae27.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 3.33vw;
  width: 7.64vw;
}

.text_22 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 1.87vw;
}

.text-wrapper_11 {
  height: 3.2vw;
  background: url(./img/SketchPng7a4ade0be0c5e7348cc66523c5e7dc770196f1521fb6d1fbcbca7cb4fe566616.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.83vw 3.33vw;
  width: 5.7vw;
}

.text_23 {
  width: 1.81vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.9vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 0.97vw 0 0 1.94vw;
}

.text-wrapper_12 {
  height: 3.2vw;
  background: url(./img/SketchPng419922626c38795555b33f171aa9b75dbf10b49ff7189c1302feb33adf0d74e6.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.87vw 3.33vw;
  margin-left: 4.94vw;
  width: 6.74vw;
}

.text_24 {
  width: 4.59vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.9vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 0.97vw 0 0 1.11vw;
}

.text-wrapper_13 {
  height: 3.2vw;
  background: url(./img/SketchPngcdcc8890d21289e25e725d642feb335129893b6696cd836f4bae38d32ba5f8ef.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.25vw 3.33vw;
  margin-left: 5.14vw;
  width: 6.12vw;
}

.text_25 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 1.11vw;
}

.text-wrapper_14 {
  height: 3.2vw;
  background: url(./img/SketchPngadc0ace07e0a15e2e16e64c74c30c682265629177254e3ba5d898f05c2ebed06.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 8.19vw 3.33vw;
  width: 8.06vw;
}

.text_26 {
  width: 3.62vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.9vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 0.97vw 0 0 2.22vw;
}

.group_9 {
  width: 73.27vw;
  height: 4.17vw;
  margin-left: 1.25vw;
}

.text-wrapper_15 {
  height: 4.17vw;
  background: url(./img/SketchPng976474ca7de5e29025c4767c35abcf1b457417a492d2d4e731d78992c5c3ea11.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 11.18vw 4.3vw;
  width: 11.05vw;
}

.text_27 {
  width: 7.37vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.25vw;
}

.text-wrapper_16 {
  height: 4.17vw;
  background: url(./img/SketchPngde0a4abcc9fe9d639dec2dff4d2c66b41beae1d8036915fd1b3747d701fc20c7.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.97vw 4.3vw;
  margin-left: 5.91vw;
  width: 5.84vw;
}

.text_28 {
  width: 2.92vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.45vw;
}

.text-wrapper_17 {
  height: 4.17vw;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
}

.text_29 {
  width: 2.92vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.45vw 0 0 2.36vw;
}

.text-wrapper_18 {
  height: 4.17vw;
  background: url(./img/SketchPng7b396721d5d19004fe8cf0f5c16b681d6b36fd9fb7e325cf2b433c7f878404be.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.83vw 4.3vw;
  width: 5.7vw;
}

.text_30 {
  width: 2.23vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_19 {
  height: 4.17vw;
  background: url(./img/SketchPng45658472e466b03c0ce7ceeb30343bbe27e1dee0a8bb7eded2f127a3a4e56730.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.87vw 4.3vw;
  margin-left: 4.94vw;
  width: 6.74vw;
}

.text_31 {
  width: 2.23vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 2.29vw;
}

.text-wrapper_20 {
  height: 4.17vw;
  background: url(./img/SketchPng39ca3bbca9d4f570976d8f73992c9017c95ae9103dc10ef2d0f5be72505eb33c.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.25vw 4.3vw;
  margin-left: 5.14vw;
  width: 6.12vw;
}

.text_32 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.45vw 0 0 2.15vw;
}

.text-wrapper_21 {
  height: 4.17vw;
  background: url(./img/SketchPng7c8c059f46bb4c6bdfa4e4fe1413f3ba20ac737386651deec62007bda5870047.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 8.19vw 4.3vw;
  width: 8.06vw;
}

.paragraph_1 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 1.11vw;
}

.paragraph_2 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 0.34vw;
}

.group_10 {
  width: 73.27vw;
  height: 4.17vw;
  margin-left: 1.25vw;
}

.text-wrapper_22 {
  height: 4.17vw;
  background: url(./img/SketchPngb1de6729f0d550bbc84c55b45cd91b9b9196dc12e003c70065a121a229ad0b21.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 11.18vw 4.3vw;
  width: 11.05vw;
}

.text_33 {
  width: 7.64vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.25vw 0 0 1.25vw;
}

.text-wrapper_23 {
  height: 4.17vw;
  background: url(./img/SketchPng7d40be04dc4d7378ff2069b7c795681a74aceeee0fdccd0a36a0e308836d4f07.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.97vw 4.3vw;
  margin-left: 5.91vw;
  width: 5.84vw;
}

.text_34 {
  width: 4.59vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 0.62vw;
}

.text-wrapper_24 {
  height: 4.17vw;
  background: url(./img/SketchPnga9e167a51b3362a4290558ac0e519d2cb6f762674e65af67d69df4dbf7227305.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
}

.text_35 {
  width: 2.92vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.45vw 0 0 2.36vw;
}

.text-wrapper_25 {
  height: 4.17vw;
  background: url(./img/SketchPngdb5254804ad7bb4cef609ac55cdd5c8d69a5c768b2f814fa87289394f151586b.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.83vw 4.3vw;
  width: 5.7vw;
}

.text_36 {
  width: 2.23vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_26 {
  height: 4.17vw;
  background: url(./img/SketchPngf6bec285d4109237e5199a0a46cc8def89a9589d77175f204b4804c7dc4167a5.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.87vw 4.3vw;
  margin-left: 4.94vw;
  width: 6.74vw;
}

.text_37 {
  width: 2.23vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 2.29vw;
}

.text-wrapper_27 {
  height: 4.17vw;
  background: url(./img/SketchPng884d0d50a995f1f59685e485269a8589930682b552c40e42d3b0082fac9d114d.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.25vw 4.3vw;
  margin-left: 5.14vw;
  width: 6.12vw;
}

.text_38 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.45vw 0 0 2.15vw;
}

.text-wrapper_28 {
  height: 4.17vw;
  background: url(./img/SketchPng274e06b7571b4bfbade3bda06cdd137c41d9644eb11e95aa8f1cef9d319e4618.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 8.19vw 4.3vw;
  width: 8.06vw;
}

.paragraph_3 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 1.11vw;
}

.paragraph_4 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 0.34vw;
}

.group_11 {
  width: 73.27vw;
  height: 4.17vw;
  margin-left: 1.25vw;
}

.text-wrapper_29 {
  height: 4.17vw;
  background: url(./img/SketchPng976474ca7de5e29025c4767c35abcf1b457417a492d2d4e731d78992c5c3ea11.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 11.18vw 4.3vw;
  width: 11.05vw;
}

.text_39 {
  width: 7.64vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.25vw 0 0 1.25vw;
}

.text-wrapper_30 {
  height: 4.17vw;
  background: url(./img/SketchPngde0a4abcc9fe9d639dec2dff4d2c66b41beae1d8036915fd1b3747d701fc20c7.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.97vw 4.3vw;
  margin-left: 5.91vw;
  width: 5.84vw;
}

.text_40 {
  width: 4.73vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 0.55vw;
}

.text-wrapper_31 {
  height: 4.17vw;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
}

.text_41 {
  width: 1.95vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.45vw 0 0 2.91vw;
}

.text-wrapper_32 {
  height: 4.17vw;
  background: url(./img/SketchPng7b396721d5d19004fe8cf0f5c16b681d6b36fd9fb7e325cf2b433c7f878404be.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.83vw 4.3vw;
  width: 5.7vw;
}

.text_42 {
  width: 1.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.94vw;
}

.text-wrapper_33 {
  height: 4.17vw;
  background: url(./img/SketchPng45658472e466b03c0ce7ceeb30343bbe27e1dee0a8bb7eded2f127a3a4e56730.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.87vw 4.3vw;
  margin-left: 4.94vw;
  width: 6.74vw;
}

.text_43 {
  width: 1.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 2.5vw;
}

.text-wrapper_34 {
  height: 4.17vw;
  background: url(./img/SketchPng39ca3bbca9d4f570976d8f73992c9017c95ae9103dc10ef2d0f5be72505eb33c.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.25vw 4.3vw;
  margin-left: 5.14vw;
  width: 6.12vw;
}

.text_44 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.45vw 0 0 2.15vw;
}

.text-wrapper_35 {
  height: 4.17vw;
  background: url(./img/SketchPng7c8c059f46bb4c6bdfa4e4fe1413f3ba20ac737386651deec62007bda5870047.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 8.19vw 4.3vw;
  width: 8.06vw;
}

.paragraph_5 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 1.11vw;
}

.paragraph_6 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 0.34vw;
}

.group_12 {
  width: 42.64vw;
  height: 2.23vw;
  margin: 35.27vw 0 1.45vw 1.38vw;
}

.text_45 {
  width: 5.35vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin-top: 0.7vw;
}

.box_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 5.77vw;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.7vw;
}

.text_46 {
  width: 3.2vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.83vw;
}

.thumbnail_12 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 0.9vw 0.83vw 0 0;
}

.text-wrapper_36 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.7vw;
  width: 4.17vw;
}

.text_47 {
  width: 2.5vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.55vw 0 0 0.83vw;
}

.text-wrapper_37 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_48 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text-wrapper_38 {
  background-color: rgba(233, 237, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_49 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text-wrapper_39 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_50 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.9vw;
}

.text-wrapper_40 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_51 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text_52 {
  width: 0.7vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.34vw 0 0 0.34vw;
}

.text-wrapper_41 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_53 {
  width: 1.05vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.55vw;
}

.text-wrapper_42 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 4.17vw;
}

.text_54 {
  width: 2.5vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text_55 {
  width: 1.67vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.69vw;
}

.text-wrapper_43 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.28vw;
  width: 3.41vw;
}

.text_56 {
  width: 1.88vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.76vw;
}

.text_57 {
  width: 0.84vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.27vw;
}

.text-wrapper_44 {
  height: 4.17vw;
  background: url(./img/SketchPng47402a6d19a472a323794cd3d024c02a065ce40742e6fdcbf18ce3161ea7fd85.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 4.3vw;
  width: 5.28vw;
  position: absolute;
  left: 37.16vw;
  top: 11.74vw;
}

.text_58 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_45 {
  height: 4.17vw;
  background: url(./img/SketchPng47402a6d19a472a323794cd3d024c02a065ce40742e6fdcbf18ce3161ea7fd85.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 4.3vw;
  width: 5.28vw;
  position: absolute;
  left: 48.89vw;
  top: 11.74vw;
}

.text_59 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_46 {
  height: 4.17vw;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
  position: absolute;
  left: 67.92vw;
  top: 11.74vw;
}

.paragraph_7 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 0.76vw;
}

.text-wrapper_47 {
  height: 4.17vw;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
  position: absolute;
  left: 75.49vw;
  top: 11.74vw;
}

.text_60 {
  width: 2.92vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 2.56vw;
}

.text-wrapper_48 {
  height: 4.17vw;
  background: url(./img/SketchPng972693f3cc3bae942832ae8a49e5bf8eb350604a0643b9e054ec3ea15f01d639.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.11vw 4.3vw;
  width: 5.98vw;
  position: absolute;
  left: 12.3vw;
  top: 11.74vw;
}

.text_61 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.04vw;
}

.text-wrapper_49 {
  height: 4.17vw;
  background: url(./img/SketchPng840ac167f371d49b47e51d57eafcead34620896e4c5a4112b26b1196855ab3e4.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 4.3vw;
  width: 5.28vw;
  position: absolute;
  left: 37.16vw;
  top: 15.91vw;
}

.text_62 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_50 {
  height: 4.17vw;
  background: url(./img/SketchPng840ac167f371d49b47e51d57eafcead34620896e4c5a4112b26b1196855ab3e4.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 4.3vw;
  width: 5.28vw;
  position: absolute;
  left: 48.89vw;
  top: 15.91vw;
}

.text_63 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_51 {
  height: 4.17vw;
  background: url(./img/SketchPnga9e167a51b3362a4290558ac0e519d2cb6f762674e65af67d69df4dbf7227305.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
  position: absolute;
  left: 67.92vw;
  top: 15.91vw;
}

.paragraph_8 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 0.76vw;
}

.text-wrapper_52 {
  height: 4.17vw;
  background: url(./img/SketchPnga9e167a51b3362a4290558ac0e519d2cb6f762674e65af67d69df4dbf7227305.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
  position: absolute;
  left: 75.49vw;
  top: 15.91vw;
}

.text_64 {
  width: 2.92vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 2.56vw;
}

.text-wrapper_53 {
  height: 4.17vw;
  background: url(./img/SketchPng1477b22df436f030733f0ab0ceb05753a94dab5981176136a5039ec1ffc145b0.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.11vw 4.3vw;
  width: 5.98vw;
  position: absolute;
  left: 12.3vw;
  top: 15.91vw;
}

.text_65 {
  width: 2.92vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.25vw 0 0 1.52vw;
}

.text-wrapper_54 {
  height: 4.17vw;
  background: url(./img/SketchPng47402a6d19a472a323794cd3d024c02a065ce40742e6fdcbf18ce3161ea7fd85.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 4.3vw;
  width: 5.28vw;
  position: absolute;
  left: 37.16vw;
  top: 20.07vw;
}

.text_66 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_55 {
  height: 4.17vw;
  background: url(./img/SketchPng47402a6d19a472a323794cd3d024c02a065ce40742e6fdcbf18ce3161ea7fd85.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 4.3vw;
  width: 5.28vw;
  position: absolute;
  left: 48.89vw;
  top: 20.07vw;
}

.text_67 {
  width: 1.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 1.73vw;
}

.text-wrapper_56 {
  height: 4.17vw;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
  position: absolute;
  left: 67.92vw;
  top: 20.07vw;
}

.paragraph_9 {
  width: 5.84vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
  margin: 0.34vw 0 0 0.76vw;
}

.text-wrapper_57 {
  height: 4.17vw;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 4.3vw;
  width: 7.64vw;
  position: absolute;
  left: 75.49vw;
  top: 20.07vw;
}

.text_68 {
  width: 2.92vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.31vw 0 0 2.56vw;
}

.text-wrapper_58 {
  height: 4.17vw;
  background: url(./img/SketchPng972693f3cc3bae942832ae8a49e5bf8eb350604a0643b9e054ec3ea15f01d639.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 6.11vw 4.3vw;
  width: 5.98vw;
  position: absolute;
  left: 12.3vw;
  top: 20.07vw;
}

.text_69 {
  width: 2.92vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 1.25vw 0 0 1.52vw;
}

.text-wrapper_59 {
  height: 3.2vw;
  background: url(./img/SketchPng4d7c8eb27b7718bb5938a881ee2f94bb6a704b1006b49e91273d243b6fa8ba39.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 3.33vw;
  width: 5.28vw;
  position: absolute;
  left: 37.16vw;
  top: 8.55vw;
}

.text_70 {
  width: 2.92vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 1.18vw;
}

.text-wrapper_60 {
  height: 3.2vw;
  background: url(./img/SketchPng4d7c8eb27b7718bb5938a881ee2f94bb6a704b1006b49e91273d243b6fa8ba39.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 5.41vw 3.33vw;
  width: 5.28vw;
  position: absolute;
  left: 48.89vw;
  top: 8.55vw;
}

.text_71 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 0.69vw;
}

.text-wrapper_61 {
  height: 3.2vw;
  background: url(./img/SketchPng627513f8c59ede76029495d487ec851b19ef72552629025335ac941601f9ae27.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 3.33vw;
  width: 7.64vw;
  position: absolute;
  left: 67.92vw;
  top: 8.55vw;
}

.text_72 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 2.36vw;
}

.text-wrapper_62 {
  height: 3.2vw;
  background: url(./img/SketchPng6f32c80d374622fa119b1675a4558225fc2031991f93bdbd32c9575f7c6fbea3.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 7.77vw 3.33vw;
  width: 7.64vw;
  position: absolute;
  left: 75.49vw;
  top: 8.55vw;
}

.text_73 {
  width: 1.95vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 2.84vw;
}

.text-wrapper_63 {
  background-color: rgba(245, 245, 250, 1);
  height: 3.2vw;
  border: 1px solid rgba(223, 225, 236, 1);
  width: 5.98vw;
  position: absolute;
  left: 12.3vw;
  top: 8.55vw;
}

.text_74 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 1.04vw;
}
