.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 1440px;
  height: 994px;
  overflow: hidden;
}

.box_7 {
  width: 1440px;
  height: 64px;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_12 {
  width: 205px;
  height: 64px;
  margin-left: 20px;
}

.text-wrapper_35 {
  height: 36px;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 36px;
  margin: 14px 0 0 1049px;
}

.text_50 {
  width: 19px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  margin: 5px 0 0 9px;
}

.text_51 {
  width: 48px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 25px 0 0 15px;
}

.thumbnail_15 {
  width: 10px;
  height: 6px;
  margin: 29px 50px 0 7px;
}

.box_8 {
  position: relative;
  width: 1440px;
  height: 12px;
}

.image_13 {
  width: 1440px;
  height: 1px;
}

.block_1 {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  top: 1px;
  width: 206px;
  height: 929px;
}

.group_2 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 12px 0 0 8px;
}

.thumbnail_2 {
  width: 16px;
  height: 16px;
  margin: 10px 0 0 16px;
}

.text_4 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 93px 0 9px;
}

.image_3 {
  width: 167px;
  height: 1px;
  margin: 9px 0 0 23px;
}

.group_3 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 11px 0 0 8px;
}

.thumbnail_3 {
  width: 16px;
  height: 16px;
  margin: 10px 0 0 16px;
}

.text_5 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 9px;
}

.thumbnail_4 {
  width: 8px;
  height: 5px;
  margin: 16px 11px 0 74px;
}

.text-wrapper_2 {
  height: 36px;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_6 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.text-wrapper_3 {
  height: 36px;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_7 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.text-wrapper_4 {
  height: 36px;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_8 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.group_4 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPng863ab2fa922ceb5891b35caadf9f4c1372bda3ed77c070303174e851db674ee0.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 10px 0 0 8px;
}

.image-text_8 {
  width: 81px;
  height: 22px;
  margin: 7px 0 0 16px;
}

.thumbnail_5 {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.text-group_1 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.group_5 {
  width: 190px;
  height: 36px;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 10px 0 0 8px;
}

.image-text_9 {
  width: 81px;
  height: 22px;
  margin: 7px 0 0 16px;
}

.thumbnail_6 {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.text-group_2 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.thumbnail_7 {
  width: 8px;
  height: 5px;
  margin: 16px 11px 0 74px;
}

.text-wrapper_5 {
  height: 36px;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 0 8px;
}

.text_9 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.text-wrapper_6 {
  height: 36px;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 190px;
  margin: 10px 0 502px 8px;
}

.text_10 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 41px;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 910px;
  width: 1214px;
  position: relative;
  margin: -1px 0 9px 216px;
}

.group_30 {
  width: 85px;
  height: 28px;
  margin: 20px 0 0 20px;
}

.box_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 3px;
  height: 14px;
  margin-top: 7px;
}

.text_11 {
  width: 72px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.group_31 {
  width: 1114px;
  height: 36px;
  margin: 20px 0 0 39px;
}

.text_12 {
  width: 60px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 24px;
  margin-top: 6px;
}

.text-wrapper_7 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  margin-left: 12px;
  width: 220px;
}

.text_13 {
  width: 98px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 12px;
}

.text_14 {
  width: 60px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 8px 0 0 27px;
}

.section_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 220px;
  height: 36px;
  margin-left: 13px;
}

.text_15 {
  width: 28px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 8px 0 0 12px;
}

.thumbnail_8 {
  width: 8px;
  height: 5px;
  margin: 16px 13px 0 159px;
}

.text_16 {
  width: 60px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 20px;
  margin: 8px 0 0 20px;
}

.section_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 220px;
  height: 36px;
  margin-left: 12px;
}

.text_17 {
  width: 37px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 8px 0 0 12px;
}

.thumbnail_9 {
  width: 16px;
  height: 16px;
  margin: 10px 10px 0 145px;
}

.section_4 {
  background-color: rgba(233, 237, 255, 1);
  border-radius: 4px;
  width: 80px;
  height: 36px;
  margin-left: 20px;
}

.thumbnail_10 {
  width: 13px;
  height: 13px;
  margin: 12px 0 0 18px;
}

.text_18 {
  width: 26px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 13px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 9px 18px 0 0;
}

.section_5 {
  border-radius: 4px;
  width: 80px;
  height: 36px;
  border: 1px solid rgba(223, 225, 236, 1);
  margin-left: 10px;
}

.thumbnail_11 {
  width: 13px;
  height: 13px;
  margin: 12px 0 0 18px;
}

.text_19 {
  width: 26px;
  height: 13px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 13px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 13px;
  margin: 12px 18px 0 0;
}

.group_32 {
  width: 966px;
  height: 46px;
  margin: 19px 0 0 18px;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 0px;
  height: 46px;
  border: 1px solid rgba(223, 225, 236, 1);
  width: 159px;
}

.text_20 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 12px 0 0 46px;
}

.text-wrapper_9 {
  background-color: rgba(245, 245, 250, 1);
  height: 46px;
  border: 1px solid rgba(223, 225, 236, 1);
  width: 86px;
}

.text_21 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 14px 0 0 15px;
}

.image_4 {
  width: 116px;
  height: 46px;
  margin-left: 605px;
}

.group_33 {
  width: 1055px;
  height: 60px;
  margin-left: 18px;
}

.text-wrapper_10 {
  height: 60px;
  background: url(./img/SketchPng976474ca7de5e29025c4767c35abcf1b457417a492d2d4e731d78992c5c3ea11.png)
    -1px -1px no-repeat;
  background-size: 161px 62px;
  width: 159px;
}

.text_22 {
  width: 106px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 19px 0 0 18px;
}

.text-wrapper_11 {
  height: 60px;
  background: url(./img/SketchPng972693f3cc3bae942832ae8a49e5bf8eb350604a0643b9e054ec3ea15f01d639.png)
    -1px -1px no-repeat;
  background-size: 88px 62px;
  width: 86px;
}

.text_23 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 19px 0 0 15px;
}

.text-wrapper_12 {
  height: 60px;
  background: url(./img/SketchPng7c8c059f46bb4c6bdfa4e4fe1413f3ba20ac737386651deec62007bda5870047.png)
    -1px -1px no-repeat;
  background-size: 118px 62px;
  margin-left: 605px;
  width: 116px;
}

.paragraph_1 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 16px;
}

.paragraph_2 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 5px;
}

.group_34 {
  width: 1055px;
  height: 60px;
  margin-left: 18px;
}

.text-wrapper_13 {
  height: 60px;
  background: url(./img/SketchPngb1de6729f0d550bbc84c55b45cd91b9b9196dc12e003c70065a121a229ad0b21.png)
    -1px -1px no-repeat;
  background-size: 161px 62px;
  width: 159px;
}

.text_24 {
  width: 110px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 18px 0 0 18px;
}

.image_5 {
  width: 86px;
  height: 60px;
}

.text-wrapper_14 {
  height: 60px;
  background: url(./img/SketchPng274e06b7571b4bfbade3bda06cdd137c41d9644eb11e95aa8f1cef9d319e4618.png)
    -1px -1px no-repeat;
  background-size: 118px 62px;
  margin-left: 605px;
  width: 116px;
}

.paragraph_3 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 16px;
}

.paragraph_4 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 5px;
}

.group_35 {
  width: 1055px;
  height: 60px;
  margin-left: 18px;
}

.text-wrapper_15 {
  height: 60px;
  background: url(./img/SketchPng976474ca7de5e29025c4767c35abcf1b457417a492d2d4e731d78992c5c3ea11.png)
    -1px -1px no-repeat;
  background-size: 161px 62px;
  width: 159px;
}

.text_25 {
  width: 110px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 18px 0 0 18px;
}

.image_6 {
  width: 86px;
  height: 60px;
}

.text-wrapper_16 {
  height: 60px;
  background: url(./img/SketchPng7c8c059f46bb4c6bdfa4e4fe1413f3ba20ac737386651deec62007bda5870047.png)
    -1px -1px no-repeat;
  background-size: 118px 62px;
  margin-left: 605px;
  width: 116px;
}

.paragraph_5 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 16px;
}

.paragraph_6 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 5px;
}

.group_36 {
  width: 614px;
  height: 32px;
  margin: 508px 0 21px 20px;
}

.text_26 {
  width: 77px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin-top: 10px;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 83px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 10px;
}

.text_27 {
  width: 46px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin: 10px 0 0 12px;
}

.thumbnail_12 {
  width: 8px;
  height: 5px;
  margin: 13px 12px 0 0;
}

.text-wrapper_17 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 10px;
  width: 60px;
}

.text_28 {
  width: 36px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 8px 0 0 12px;
}

.text-wrapper_18 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 6px;
  width: 32px;
}

.text_29 {
  width: 8px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 9px 0 0 12px;
}

.text-wrapper_19 {
  background-color: rgba(233, 237, 255, 1);
  border-radius: 4px;
  height: 32px;
  margin-left: 6px;
  width: 32px;
}

.text_30 {
  width: 8px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 9px 0 0 12px;
}

.text-wrapper_20 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 6px;
  width: 32px;
}

.text_31 {
  width: 8px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 9px 0 0 13px;
}

.text-wrapper_21 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 6px;
  width: 32px;
}

.text_32 {
  width: 8px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 9px 0 0 12px;
}

.text_33 {
  width: 10px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 5px 0 0 5px;
}

.text-wrapper_22 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 6px;
  width: 32px;
}

.text_34 {
  width: 15px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
  margin: 9px 0 0 8px;
}

.text-wrapper_23 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 6px;
  width: 60px;
}

.text_35 {
  width: 36px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin: 9px 0 0 12px;
}

.text_36 {
  width: 24px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 12px;
  margin: 10px 0 0 10px;
}

.text-wrapper_24 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 32px;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 4px;
  width: 49px;
}

.text_37 {
  width: 27px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin: 10px 0 0 11px;
}

.text_38 {
  width: 12px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 12px;
  margin: 10px 0 0 4px;
}

.text-wrapper_25 {
  height: 60px;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -1px -1px no-repeat;
  background-size: 112px 62px;
  width: 110px;
  position: absolute;
  left: 978px;
  top: 169px;
}

.paragraph_7 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 11px;
}

.text-wrapper_26 {
  height: 60px;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -1px -1px no-repeat;
  background-size: 112px 62px;
  width: 110px;
  position: absolute;
  left: 1087px;
  top: 169px;
}

.text_39 {
  width: 42px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  margin: 19px 0 0 37px;
}

.text-wrapper_27 {
  height: 60px;
  background: url(./img/SketchPnga9e167a51b3362a4290558ac0e519d2cb6f762674e65af67d69df4dbf7227305.png)
    -1px -1px no-repeat;
  background-size: 112px 62px;
  width: 110px;
  position: absolute;
  left: 978px;
  top: 229px;
}

.paragraph_8 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 11px;
}

.text-wrapper_28 {
  height: 60px;
  background: url(./img/SketchPnga9e167a51b3362a4290558ac0e519d2cb6f762674e65af67d69df4dbf7227305.png)
    -1px -1px no-repeat;
  background-size: 112px 62px;
  width: 110px;
  position: absolute;
  left: 1087px;
  top: 229px;
}

.text_40 {
  width: 42px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  margin: 19px 0 0 37px;
}

.text-wrapper_29 {
  height: 60px;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -1px -1px no-repeat;
  background-size: 112px 62px;
  width: 110px;
  position: absolute;
  left: 978px;
  top: 289px;
}

.paragraph_9 {
  width: 84px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
  margin: 5px 0 0 11px;
}

.text-wrapper_30 {
  height: 60px;
  background: url(./img/SketchPng58bd869705be640a44f0b5d616769b642ae9f1359803553e465ac2d38157c195.png)
    -1px -1px no-repeat;
  background-size: 112px 62px;
  width: 110px;
  position: absolute;
  left: 1087px;
  top: 289px;
}

.text_41 {
  width: 42px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  margin: 19px 0 0 37px;
}

.text-wrapper_31 {
  height: 46px;
  background: url(./img/SketchPng627513f8c59ede76029495d487ec851b19ef72552629025335ac941601f9ae27.png)
    -1px -1px no-repeat;
  background-size: 112px 48px;
  width: 110px;
  position: absolute;
  left: 978px;
  top: 123px;
}

.text_42 {
  width: 56px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 14px 0 0 34px;
}

.text-wrapper_32 {
  height: 46px;
  background: url(./img/SketchPng6f32c80d374622fa119b1675a4558225fc2031991f93bdbd32c9575f7c6fbea3.png)
    -1px -1px no-repeat;
  background-size: 112px 48px;
  width: 110px;
  position: absolute;
  left: 1087px;
  top: 123px;
}

.text_43 {
  width: 28px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  margin: 14px 0 0 41px;
}

.group_13 {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  background-image: url(./img/b77a64ee2de645d0a9cb757b2ae0c203_mergeImage.png);
  position: absolute;
  left: 193px;
  top: 114px;
  width: 770px;
  height: 400px;
}
