.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 69.03vw;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 69.03vw;
}

.text_1 {
  width: 3.89vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 19.02vw 0 0 34.86vw;
}

.group_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
  margin: 1.66vw 0 28.88vw 34.86vw;
}

.image-wrapper_3 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_1 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_4 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.36vw 0 0 13.88vw;
}

.label_1 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_3 {
  width: 16.88vw;
  height: 1.25vw;
  margin: 1.66vw 0 0 6.66vw;
}

.text_2 {
  width: 16.88vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.box_2 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 3.19vw 0 2.77vw 11.66vw;
}

.text-wrapper_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_3 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.52vw;
}
