html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 26.507rem;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 38.4rem;
  height: 26.507rem;
}

.text_1 {
  width: 1.494rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 7.307rem 0 0 13.387rem;
}

.group_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
  margin: 0.64rem 0 11.094rem 13.387rem;
}

.image-wrapper_3 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_4 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.907rem 0 0 5.334rem;
}

.label_1 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_3 {
  width: 6.48rem;
  height: 0.48rem;
  margin: 0.64rem 0 0 2.56rem;
}

.text_2 {
  width: 6.48rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.box_2 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.227rem 0 1.067rem 4.48rem;
}

.text-wrapper_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_3 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.587rem;
}
