.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 1440px;
  height: 994px;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 994px;
  width: 1440px;
}

.text-wrapper_10 {
  width: 576px;
  height: 20px;
  margin: 109px 0 0 166px;
}

.text_1 {
  width: 98px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.text_2 {
  width: 98px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.block_1 {
  width: 914px;
  height: 320px;
  margin: 24px 0 521px 166px;
}

.box_1 {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 320px;
  width: 436px;
}

.box_4 {
  width: 248px;
  height: 30px;
  margin: 14px 0 0 173px;
}

.text_3 {
  width: 90px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  margin-top: 10px;
}

.thumbnail_1 {
  width: 11px;
  height: 12px;
}

.text-wrapper_11 {
  width: 70px;
  height: 22px;
  margin: 10px 0 0 43px;
}

.text_4 {
  width: 70px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.box_5 {
  width: 354px;
  height: 36px;
  margin: 8px 0 0 43px;
}

.section_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 150px;
  height: 36px;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_5 {
  width: 82px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
  margin: 10px 0 0 12px;
}

.thumbnail_2 {
  width: 10px;
  height: 6px;
  margin: 15px 10px 0 36px;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 36px;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 204px;
}

.text_6 {
  width: 84px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 15px;
  margin: 9px 0 0 12px;
}

.text-wrapper_12 {
  width: 56px;
  height: 22px;
  margin: 20px 0 0 43px;
}

.text_7 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.box_6 {
  width: 339px;
  height: 36px;
  margin: 10px 0 0 43px;
}

.image-text_2 {
  width: 339px;
  height: 36px;
}

.text-wrapper_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 36px;
  border: 1px solid rgba(232, 232, 232, 1);
  width: 154px;
}

.text_8 {
  width: 9px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 12px;
}

.text-group_1 {
  width: 175px;
  height: 22px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 7px;
}

.text_9 {
  width: 175px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_10 {
  width: 175px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.box_7 {
  width: 208px;
  height: 36px;
  margin: 36px 0 40px 113px;
}

.text-wrapper_6 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 89px;
}

.text_11 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 30px;
}

.text-wrapper_7 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 89px;
}

.text_12 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 31px;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 260px;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 436px;
}

.image-wrapper_3 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_3 {
  width: 12px;
  height: 12px;
}

.image-wrapper_4 {
  width: 36px;
  height: 36px;
  margin: 34px 0 0 200px;
}

.label_1 {
  width: 36px;
  height: 36px;
}

.text-wrapper_13 {
  width: 220px;
  height: 18px;
  margin: 24px 0 0 108px;
}

.text_13 {
  width: 220px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.group_6 {
  width: 100px;
  height: 36px;
  margin: 46px 0 40px 168px;
}

.text-wrapper_9 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_14 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 22px;
}
