html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 26.507rem;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 26.507rem;
  width: 38.4rem;
}

.text-wrapper_10 {
  width: 15.36rem;
  height: 0.534rem;
  margin: 2.907rem 0 0 4.427rem;
}

.text_1 {
  width: 2.614rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_2 {
  width: 2.614rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.block_1 {
  width: 24.374rem;
  height: 8.534rem;
  margin: 0.64rem 0 13.894rem 4.427rem;
}

.box_1 {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 8.534rem;
  width: 11.627rem;
}

.box_4 {
  width: 6.614rem;
  height: 0.8rem;
  margin: 0.374rem 0 0 4.614rem;
}

.text_3 {
  width: 2.4rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.267rem;
}

.thumbnail_1 {
  width: 0.294rem;
  height: 0.32rem;
}

.text-wrapper_11 {
  width: 1.867rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 1.147rem;
}

.text_4 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.box_5 {
  width: 9.44rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.147rem;
}

.section_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 4rem;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_5 {
  width: 2.187rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.267rem 0 0 0.32rem;
}

.thumbnail_2 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.4rem 0.267rem 0 0.96rem;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 5.44rem;
}

.text_6 {
  width: 2.24rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.4rem;
  margin: 0.24rem 0 0 0.32rem;
}

.text-wrapper_12 {
  width: 1.494rem;
  height: 0.587rem;
  margin: 0.534rem 0 0 1.147rem;
}

.text_7 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.box_6 {
  width: 9.04rem;
  height: 0.96rem;
  margin: 0.267rem 0 0 1.147rem;
}

.image-text_2 {
  width: 9.04rem;
  height: 0.96rem;
}

.text-wrapper_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  border: 1px solid rgba(232, 232, 232, 1);
  width: 4.107rem;
}

.text_8 {
  width: 0.24rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.32rem;
}

.text-group_1 {
  width: 4.667rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-top: 0.187rem;
}

.text_9 {
  width: 4.667rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_10 {
  width: 4.667rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.box_7 {
  width: 5.547rem;
  height: 0.96rem;
  margin: 0.96rem 0 1.067rem 3.014rem;
}

.text-wrapper_6 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.374rem;
}

.text_11 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.8rem;
}

.text-wrapper_7 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.374rem;
}

.text_12 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.827rem;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_3 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_3 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_4 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.907rem 0 0 5.334rem;
}

.label_1 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_13 {
  width: 5.867rem;
  height: 0.48rem;
  margin: 0.64rem 0 0 2.88rem;
}

.text_13 {
  width: 5.867rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.group_6 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.227rem 0 1.067rem 4.48rem;
}

.text-wrapper_9 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_14 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.587rem;
}
