.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 69.03vw;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 69.03vw;
  width: 100vw;
}

.text-wrapper_10 {
  width: 40vw;
  height: 1.39vw;
  margin: 7.56vw 0 0 11.52vw;
}

.text_1 {
  width: 6.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
}

.text_2 {
  width: 6.81vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
}

.block_1 {
  width: 63.48vw;
  height: 22.23vw;
  margin: 1.66vw 0 36.18vw 11.52vw;
}

.box_1 {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 22.23vw;
  width: 30.28vw;
}

.box_4 {
  width: 17.23vw;
  height: 2.09vw;
  margin: 0.97vw 0 0 12.01vw;
}

.text_3 {
  width: 6.25vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin-top: 0.7vw;
}

.thumbnail_1 {
  width: 0.77vw;
  height: 0.84vw;
}

.text-wrapper_11 {
  width: 4.87vw;
  height: 1.53vw;
  margin: 0.69vw 0 0 2.98vw;
}

.text_4 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.box_5 {
  width: 24.59vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 2.98vw;
}

.section_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 10.42vw;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_5 {
  width: 5.7vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 0.69vw 0 0 0.83vw;
}

.thumbnail_2 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 1.04vw 0.69vw 0 2.5vw;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 14.17vw;
}

.text_6 {
  width: 5.84vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text-wrapper_12 {
  width: 3.89vw;
  height: 1.53vw;
  margin: 1.38vw 0 0 2.98vw;
}

.text_7 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.box_6 {
  width: 23.55vw;
  height: 2.5vw;
  margin: 0.69vw 0 0 2.98vw;
}

.image-text_2 {
  width: 23.55vw;
  height: 2.5vw;
}

.text-wrapper_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  border: 1px solid rgba(232, 232, 232, 1);
  width: 10.7vw;
}

.text_8 {
  width: 0.63vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text-group_1 {
  width: 12.16vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.49vw;
}

.text_9 {
  width: 12.16vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_10 {
  width: 12.16vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.box_7 {
  width: 14.45vw;
  height: 2.5vw;
  margin: 2.5vw 0 2.77vw 7.84vw;
}

.text-wrapper_6 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.19vw;
}

.text_11 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.08vw;
}

.text-wrapper_7 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.19vw;
}

.text_12 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.15vw;
}

.box_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_3 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_3 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_4 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.36vw 0 0 13.88vw;
}

.label_1 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_13 {
  width: 15.28vw;
  height: 1.25vw;
  margin: 1.66vw 0 0 7.5vw;
}

.text_13 {
  width: 15.28vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  letter-spacing: 1px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.group_6 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 3.19vw 0 2.77vw 11.66vw;
}

.text-wrapper_9 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_14 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.52vw;
}
