.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 1440px;
  height: 1067px;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1067px;
  border: 1px solid rgba(151, 151, 151, 0.5);
  width: 1440px;
}

.block_6 {
  width: 938px;
  height: 386px;
  margin: 57px 0 0 33px;
}

.section_1 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 386px;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 436px;
}

.image-wrapper_9 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_1 {
  width: 12px;
  height: 12px;
}

.image-wrapper_10 {
  width: 204px;
  height: 149px;
  margin: 37px 0 0 116px;
}

.image_1 {
  width: 204px;
  height: 149px;
}

.box_6 {
  width: 304px;
  height: 48px;
  margin: 12px 0 0 66px;
}

.text-wrapper_1 {
  width: 304px;
  height: 48px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
}

.paragraph_1 {
  width: 304px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 24px;
}

.text_1 {
  width: 304px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 24px;
}

.text_2 {
  width: 304px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 24px;
}

.text_3 {
  width: 304px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 24px;
}

.box_7 {
  width: 136px;
  height: 36px;
  margin: 42px 0 36px 150px;
}

.text-wrapper_2 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 136px;
}

.text_4 {
  width: 106px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 15px;
}

.section_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 294px;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-top: 78px;
  width: 436px;
}

.image-wrapper_11 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_2 {
  width: 12px;
  height: 12px;
}

.image-wrapper_12 {
  width: 36px;
  height: 36px;
  margin: 37px 0 0 198px;
}

.label_1 {
  width: 36px;
  height: 36px;
}

.box_8 {
  width: 216px;
  height: 48px;
  margin: 22px 0 0 110px;
}

.text-wrapper_3 {
  width: 216px;
  height: 48px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 24px;
}

.paragraph_2 {
  width: 216px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 24px;
}

.text_5 {
  width: 216px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 24px;
}

.box_9 {
  width: 240px;
  height: 36px;
  margin: 42px 0 47px 114px;
}

.text-wrapper_4 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_6 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}

.text-wrapper_5 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_7 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 22px;
}

.block_7 {
  width: 1374px;
  height: 376px;
  margin: 49px 0 199px 33px;
}

.section_3 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 376px;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 436px;
}

.image-wrapper_13 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_3 {
  width: 12px;
  height: 12px;
}

.text-wrapper_21 {
  width: 64px;
  height: 18px;
  margin: 14px 0 0 186px;
}

.text_8 {
  width: 64px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.text-wrapper_22 {
  width: 56px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_9 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.box_10 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.group_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 124px;
  height: 36px;
  border: 1px solid rgba(235, 235, 240, 1);
}

.image-text_2 {
  width: 105px;
  height: 17px;
  margin: 10px 0 0 12px;
}

.text-group_1 {
  width: 82px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 17px;
}

.thumbnail_4 {
  width: 10px;
  height: 6px;
  margin-top: 5px;
}

.text-wrapper_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 36px;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 178px;
}

.text_10 {
  width: 98px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.text-wrapper_23 {
  width: 28px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_11 {
  width: 28px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.box_11 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.box_4 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 302px;
  height: 36px;
}

.text_12 {
  width: 70px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.label_2 {
  width: 24px;
  height: 24px;
  margin: 6px 0 0 156px;
}

.label_3 {
  width: 24px;
  height: 24px;
  margin: 6px 6px 0 9px;
}

.box_12 {
  width: 230px;
  height: 36px;
  margin: 43px 0 59px 103px;
}

.text-wrapper_10 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_13 {
  width: 70px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 15px;
}

.text-wrapper_11 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_14 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}

.section_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 376px;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 33px;
  width: 436px;
}

.image-wrapper_14 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_5 {
  width: 12px;
  height: 12px;
}

.text-wrapper_24 {
  width: 64px;
  height: 18px;
  margin: 14px 0 0 186px;
}

.text_15 {
  width: 64px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.text-wrapper_25 {
  width: 56px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_16 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_4 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.text-wrapper_14 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 302px;
}

.text_17 {
  width: 102px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.text-wrapper_26 {
  width: 70px;
  height: 24px;
  margin: 22px 0 0 67px;
}

.text_18 {
  width: 70px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_5 {
  width: 302px;
  height: 36px;
  margin: 8px 0 0 67px;
}

.text-wrapper_16 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 202px;
}

.text_19 {
  width: 43px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.text_20 {
  width: 83px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin-top: 6px;
}

.group_6 {
  width: 230px;
  height: 36px;
  margin: 43px 0 59px 103px;
}

.text-wrapper_17 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_21 {
  width: 70px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 15px;
}

.text-wrapper_18 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_22 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 37px;
}

.section_8 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 260px;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 33px;
  width: 436px;
}

.image-wrapper_15 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_6 {
  width: 12px;
  height: 12px;
}

.image-wrapper_16 {
  width: 36px;
  height: 36px;
  margin: 38px 0 0 200px;
}

.label_4 {
  width: 36px;
  height: 36px;
}

.text-wrapper_27 {
  width: 98px;
  height: 18px;
  margin: 22px 0 0 169px;
}

.text_23 {
  width: 98px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.group_7 {
  width: 100px;
  height: 36px;
  margin: 38px 0 46px 168px;
}

.text-wrapper_20 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 36px;
  width: 100px;
}

.text_24 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}
