html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 28.454rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 28.454rem;
  border: 1px solid rgba(151, 151, 151, 0.5);
  width: 38.4rem;
}

.block_6 {
  width: 25.014rem;
  height: 10.294rem;
  margin: 1.52rem 0 0 0.88rem;
}

.section_1 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.294rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_9 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_10 {
  width: 5.44rem;
  height: 3.974rem;
  margin: 0.987rem 0 0 3.094rem;
}

.image_1 {
  width: 5.44rem;
  height: 3.974rem;
}

.box_6 {
  width: 8.107rem;
  height: 1.28rem;
  margin: 0.32rem 0 0 1.76rem;
}

.text-wrapper_1 {
  width: 8.107rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 0.64rem;
}

.paragraph_1 {
  width: 8.107rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.text_1 {
  width: 8.107rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.text_2 {
  width: 8.107rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.text_3 {
  width: 8.107rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.box_7 {
  width: 3.627rem;
  height: 0.96rem;
  margin: 1.12rem 0 0.96rem 4rem;
}

.text-wrapper_2 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 3.627rem;
}

.text_4 {
  width: 2.827rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.4rem;
}

.section_2 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 7.84rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-top: 2.08rem;
  width: 11.627rem;
}

.image-wrapper_11 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_2 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_12 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.987rem 0 0 5.28rem;
}

.label_1 {
  width: 0.96rem;
  height: 0.96rem;
}

.box_8 {
  width: 5.76rem;
  height: 1.28rem;
  margin: 0.587rem 0 0 2.934rem;
}

.text-wrapper_3 {
  width: 5.76rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 0.64rem;
}

.paragraph_2 {
  width: 5.76rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.text_5 {
  width: 5.76rem;
  height: 1.28rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.64rem;
}

.box_9 {
  width: 6.4rem;
  height: 0.96rem;
  margin: 1.12rem 0 1.254rem 3.04rem;
}

.text-wrapper_4 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_6 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_5 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_7 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.587rem;
}

.block_7 {
  width: 36.64rem;
  height: 10.027rem;
  margin: 1.307rem 0 5.307rem 0.88rem;
}

.section_3 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.027rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
}

.image-wrapper_13 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_3 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_21 {
  width: 1.707rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.96rem;
}

.text_8 {
  width: 1.707rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_22 {
  width: 1.494rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_9 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.box_10 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.group_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 3.307rem;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
}

.image-text_2 {
  width: 2.8rem;
  height: 0.454rem;
  margin: 0.267rem 0 0 0.32rem;
}

.text-group_1 {
  width: 2.187rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
}

.thumbnail_4 {
  width: 0.267rem;
  height: 0.16rem;
  margin-top: 0.134rem;
}

.text-wrapper_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 4.747rem;
}

.text_10 {
  width: 2.614rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text-wrapper_23 {
  width: 0.747rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_11 {
  width: 0.747rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.box_11 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.box_4 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 8.054rem;
  height: 0.96rem;
}

.text_12 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.label_2 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0 0 4.16rem;
}

.label_3 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.16rem 0.16rem 0 0.24rem;
}

.box_12 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.147rem 0 1.574rem 2.747rem;
}

.text-wrapper_10 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_13 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.4rem;
}

.text-wrapper_11 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_14 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.section_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.027rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 0.88rem;
  width: 11.627rem;
}

.image-wrapper_14 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_5 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_24 {
  width: 1.707rem;
  height: 0.48rem;
  margin: 0.374rem 0 0 4.96rem;
}

.text_15 {
  width: 1.707rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_25 {
  width: 1.494rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_16 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_4 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_14 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 8.054rem;
}

.text_17 {
  width: 2.72rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text-wrapper_26 {
  width: 1.867rem;
  height: 0.64rem;
  margin: 0.587rem 0 0 1.787rem;
}

.text_18 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_5 {
  width: 8.054rem;
  height: 0.96rem;
  margin: 0.214rem 0 0 1.787rem;
}

.text-wrapper_16 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 5.387rem;
}

.text_19 {
  width: 1.147rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.text_20 {
  width: 2.214rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.16rem;
}

.group_6 {
  width: 6.134rem;
  height: 0.96rem;
  margin: 1.147rem 0 1.574rem 2.747rem;
}

.text-wrapper_17 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_21 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.4rem;
}

.text-wrapper_18 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_22 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.987rem;
}

.section_8 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 6.934rem;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 0.88rem;
  width: 11.627rem;
}

.image-wrapper_15 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_6 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_16 {
  width: 0.96rem;
  height: 0.96rem;
  margin: 1.014rem 0 0 5.334rem;
}

.label_4 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-wrapper_27 {
  width: 2.614rem;
  height: 0.48rem;
  margin: 0.587rem 0 0 4.507rem;
}

.text_23 {
  width: 2.614rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.group_7 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.014rem 0 1.227rem 4.48rem;
}

.text-wrapper_20 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_24 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}
