.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 74.1vw;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 74.1vw;
  border: 1px solid rgba(151, 151, 151, 0.5);
  width: 100vw;
}

.block_11 {
  width: 30.28vw;
  height: 20.42vw;
  margin: 9.37vw 0 0 2.29vw;
}

.group_1 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 20.42vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_7 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_1 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_8 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.56vw 0 0 13.75vw;
}

.label_1 {
  width: 2.5vw;
  height: 2.5vw;
}

.group_2 {
  width: 15vw;
  height: 3.34vw;
  margin: 1.52vw 0 0 7.63vw;
}

.text-wrapper_1 {
  width: 15vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 1.67vw;
}

.paragraph_1 {
  width: 15vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 1.67vw;
}

.text_1 {
  width: 15vw;
  height: 3.34vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 1.67vw;
}

.group_3 {
  width: 16.67vw;
  height: 2.5vw;
  margin: 2.91vw 0 3.26vw 7.91vw;
}

.text-wrapper_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_2 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_3 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_3 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.52vw;
}

.block_12 {
  width: 95.42vw;
  height: 26.12vw;
  margin: 4.37vw 0 13.81vw 2.29vw;
}

.block_5 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.12vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
}

.image-wrapper_9 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_2 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_19 {
  width: 4.45vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.91vw;
}

.text_4 {
  width: 4.45vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_20 {
  width: 3.89vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_5 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.section_2 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.box_1 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 8.62vw;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
}

.image-text_2 {
  width: 7.3vw;
  height: 1.19vw;
  margin: 0.69vw 0 0 0.83vw;
}

.text-group_1 {
  width: 5.7vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
}

.thumbnail_3 {
  width: 0.7vw;
  height: 0.42vw;
  margin-top: 0.35vw;
}

.text-wrapper_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 2.5vw;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 12.37vw;
}

.text_6 {
  width: 6.81vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text-wrapper_21 {
  width: 1.95vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_7 {
  width: 1.95vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.section_3 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.box_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 20.98vw;
  height: 2.5vw;
}

.text_8 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(188, 189, 196, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.label_2 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 0 0 10.83vw;
}

.label_3 {
  width: 1.67vw;
  height: 1.67vw;
  margin: 0.41vw 0.41vw 0 0.62vw;
}

.section_4 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 2.98vw 0 4.09vw 7.15vw;
}

.text-wrapper_8 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_9 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.04vw;
}

.text-wrapper_9 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_10 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.block_9 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.12vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 2.3vw;
  width: 30.28vw;
}

.image-wrapper_10 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_4 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_22 {
  width: 4.45vw;
  height: 1.25vw;
  margin: 0.97vw 0 0 12.91vw;
}

.text_11 {
  width: 4.45vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text-wrapper_23 {
  width: 3.89vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_12 {
  width: 3.89vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.box_7 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_12 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 20.98vw;
}

.text_13 {
  width: 7.09vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(193, 195, 206, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text-wrapper_24 {
  width: 4.87vw;
  height: 1.67vw;
  margin: 1.52vw 0 0 4.65vw;
}

.text_14 {
  width: 4.87vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.box_8 {
  width: 20.98vw;
  height: 2.5vw;
  margin: 0.55vw 0 0 4.65vw;
}

.text-wrapper_14 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 14.03vw;
}

.text_15 {
  width: 2.99vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.9vw;
}

.text_16 {
  width: 5.77vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin-top: 0.42vw;
}

.box_9 {
  width: 15.98vw;
  height: 2.5vw;
  margin: 2.98vw 0 4.09vw 7.15vw;
}

.text-wrapper_15 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_17 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.04vw;
}

.text-wrapper_16 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_18 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.56vw;
}

.block_10 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 18.06vw;
  border: 1px solid rgba(238, 239, 243, 1);
  margin-left: 2.3vw;
  width: 30.28vw;
}

.image-wrapper_11 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_5 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_12 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 2.63vw 0 0 13.88vw;
}

.label_4 {
  width: 2.5vw;
  height: 2.5vw;
}

.text-wrapper_25 {
  width: 6.81vw;
  height: 1.25vw;
  margin: 1.52vw 0 0 11.73vw;
}

.text_19 {
  width: 6.81vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.box_10 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 2.63vw 0 3.19vw 11.66vw;
}

.text-wrapper_18 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_20 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}
