.page {
  position: relative;
  width: 100vw;
  height: 71.12vw;
  overflow: hidden;
}

.block_1 {
  background-image: url(./img/cf2406ffd84f437fbc235fc909d82a6a_mergeImage.png);
  position: relative;
  width: 50vw;
  height: 71.12vw;
}

.section_1 {
  width: 15.07vw;
  height: 15vw;
  background: url(./img/SketchPngeceff6185bf61a6e6cf336413a4cf9cfa4d8500810314e9d2d5418dcd39b3943.png)
    -8.27vw 0vw no-repeat;
  background-size: 31.59vw 23.26vw;
}

.section_2 {
  width: 32.57vw;
  height: 32.57vw;
  background: url(./img/SketchPng9ce1ffdc9f5aed19cdb0af516633e6ff8fde6c0ddfedabde8d743b5aabda977f.png)
    1.39vw -8.62vw no-repeat;
  background-size: 38.54vw 16.11vw;
  margin: 48.61vw 0 25.06vw -1.38vw;
}

.section_3 {
  position: absolute;
  left: -33.61vw;
  top: 9.1vw;
  width: 76.81vw;
  height: 81.81vw;
  background: url(./img/SketchPng6e5f651e88e15886405767937886e4634b5846d67b4ca8933fccafb8eda3909d.png)
    -3.06vw -8.48vw no-repeat;
  background-size: 85.27vw 90.34vw;
}

.text_1 {
  width: 28.27vw;
  height: 4.94vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 4.16vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.94vw;
  margin: 6.87vw 0 0 38.47vw;
}

.text_2 {
  width: 28.2vw;
  height: 3.48vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 2.5vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.99vw;
  margin: 2.98vw 0 0 38.47vw;
}

.group_10 {
  width: 51.25vw;
  height: 24.66vw;
  margin: 0.48vw 0 0 27.84vw;
}

.image-wrapper_1 {
  width: 9.8vw;
  height: 9.8vw;
  background: url(./img/SketchPngc82e9f33dda4dbff8aa8c9f3db5b8cef5cf4399a3dca319b231f4afaca6bf4f5.png)
    5.77vw -8.27vw no-repeat;
  background-size: 12.29vw 26.31vw;
  margin-top: 4.31vw;
}

.thumbnail_1 {
  width: 1.25vw;
  height: 1.25vw;
  margin: 0.06vw 0 0 10.55vw;
}

.thumbnail_2 {
  width: 1.25vw;
  height: 1.25vw;
  margin: 2.43vw 0 4.79vw 10.55vw;
}

.image_1 {
  width: 4.1vw;
  height: 3.96vw;
  margin: 14.44vw 0 0 -0.9vw;
}

.image-text_4 {
  width: 40.7vw;
  height: 10.21vw;
  margin-left: -2.43vw;
}

.thumbnail_3 {
  width: 1.25vw;
  height: 1.25vw;
  margin-top: 1.12vw;
}

.text-group_1 {
  width: 38.55vw;
  height: 10.21vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.45vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 3.41vw;
}

.label_1 {
  width: 1.88vw;
  height: 1.95vw;
  margin: 20.27vw 0 0 -33.88vw;
}

.group_1 {
  border-radius: 50%;
  background-image: url(./img/52bb707c8d7e4204bdd065d22e684fc8_mergeImage.png);
  width: 5.84vw;
  height: 5.84vw;
  margin: 13.05vw 0 0 3.47vw;
}

.group_2 {
  border-radius: 50%;
  background-image: url(./img/998162c72c27452a83451efe6d12465e_mergeImage.png);
  width: 6.25vw;
  height: 6.25vw;
  margin: 18.4vw 3.26vw 0 13.19vw;
}

.group_11 {
  width: 30.49vw;
  height: 9.24vw;
  margin: 2.84vw 0 26.31vw 37.29vw;
}

.group_3 {
  width: 10.35vw;
  height: 1.25vw;
  background: url(./img/SketchPng95f28e4055087f672cf059df2c11b0c511de8a1f9489624393a555bf7098837c.png)
    -1.05vw -1.19vw no-repeat;
  background-size: 12.43vw 3.61vw;
  margin-top: 2.99vw;
}

.group_4 {
  width: 9.24vw;
  height: 9.24vw;
  background: url(./img/4c3853a7b254437e98e972f189d23890_mergeImage.png) 100%
    no-repeat;
  background-size: 100% 100%;
}

.image_2 {
  position: absolute;
  left: 37.37vw;
  top: 39.24vw;
  width: 9.87vw;
  height: 10.7vw;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 50vw;
  top: 0;
  width: 50vw;
  height: 71.12vw;
}

.text_3 {
  width: 8.34vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(47, 51, 54, 1);
  font-size: 1.94vw;
  letter-spacing: 2px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.5vw;
  margin: 11.94vw 0 0 20.83vw;
}

.image-text_5 {
  width: 16.25vw;
  height: 9.1vw;
  margin: 1.38vw 0 0 16.87vw;
}

.image_3 {
  width: 13.41vw;
  height: 5.35vw;
  margin-left: 1.46vw;
}

.text-group_2 {
  width: 16.25vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  letter-spacing: 2px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 2.5vw;
  margin-top: 1.25vw;
}

.group_12 {
  width: 17.85vw;
  height: 2.71vw;
  margin: 4.09vw 0 0 11.38vw;
}

.group_13 {
  width: 7.23vw;
  height: 1.95vw;
  margin-top: 0.77vw;
}

.text_4 {
  width: 7.23vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.12vw;
}

.group_7 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 3px;
  width: 7.23vw;
  height: 0.14vw;
  margin-top: 0.7vw;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.64vw;
  width: 8.75vw;
}

.text_5 {
  width: 7.23vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.69vw 0 0 0.76vw;
}

.text-wrapper_8 {
  width: 28.48vw;
  height: 1.25vw;
  margin: 2.5vw 0 0 10.76vw;
}

.text_6 {
  width: 4.45vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
}

.text_7 {
  width: 12.64vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(239, 157, 0, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.25vw;
}

.group_14 {
  width: 28.48vw;
  height: 3.34vw;
  margin: 0.83vw 0 0 10.76vw;
}

.box_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 10.42vw;
  height: 3.34vw;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_8 {
  width: 6.46vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 1.11vw 0 0 0.83vw;
}

.thumbnail_4 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 1.45vw 0.69vw 0 1.73vw;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 3.34vw;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 18.06vw;
}

.text_9 {
  width: 6.67vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 0.97vw 0 0 0.83vw;
}

.text-wrapper_9 {
  width: 28.48vw;
  height: 1.25vw;
  margin: 2.08vw 0 0 10.76vw;
}

.text_10 {
  width: 3.34vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
}

.text_11 {
  width: 12.02vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(239, 157, 0, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.25vw;
}

.group_15 {
  width: 28.48vw;
  height: 3.34vw;
  margin: 0.83vw 0 0 10.76vw;
}

.text-wrapper_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 3.34vw;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 18.75vw;
}

.text_12 {
  width: 6.67vw;
  height: 1.05vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 1.04vw 0 0 0.83vw;
}

.text-wrapper_6 {
  height: 3.34vw;
  background: url(./img/SketchPng0600d5ba832f036b32f24e88a53dd9bf335aec36359c39a07167ef30b629c41b.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 9.03vw;
}

.text_13 {
  width: 5.56vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 1.11vw 0 0 1.73vw;
}

.text_14 {
  width: 3.89vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 1.11vw 0 0 10.97vw;
}

.text-wrapper_7 {
  height: 3.34vw;
  background: url(./img/SketchPngfeb6b2719ae2f7ace19fad37e98c4fbb88f794a9e7edfa4b9d98e1323d2c169e.png)
    -1.12vw -0.7vw no-repeat;
  background-size: 30.69vw 5.55vw;
  width: 28.48vw;
  margin: 1.8vw 0 0 10.76vw;
}

.text_15 {
  width: 5vw;
  height: 2.09vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 2.09vw;
  margin: 0.62vw 0 0 11.73vw;
}

.image-text_6 {
  width: 19.59vw;
  height: 1.39vw;
  margin: 1.94vw 0 0 10.76vw;
}

.image-wrapper_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 4px;
  height: 1.39vw;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 1.39vw;
}

.thumbnail_5 {
  width: 0.77vw;
  height: 0.56vw;
  margin: 0.41vw 0 0 0.27vw;
}

.text-group_3 {
  width: 17.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text_16 {
  width: 17.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text_17 {
  width: 17.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.text_18 {
  width: 7.78vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
  margin: 5.13vw 0 6.45vw 27.22vw;
}

.image_4 {
  position: absolute;
  left: 10.77vw;
  top: 31.67vw;
  width: 28.48vw;
  height: 0.07vw;
}
