html {
  font-size: 37.5px;
}

.page {
  position: relative;
  width: 38.4rem;
  height: 27.307rem;
  overflow: hidden;
}

.block_1 {
  background-image: url(./img/cf2406ffd84f437fbc235fc909d82a6a_mergeImage.png);
  position: relative;
  width: 19.2rem;
  height: 27.307rem;
}

.section_1 {
  width: 5.787rem;
  height: 5.76rem;
  background: url(./img/SketchPngeceff6185bf61a6e6cf336413a4cf9cfa4d8500810314e9d2d5418dcd39b3943.png)
    -3.174rem 0rem no-repeat;
  background-size: 12.134rem 8.934rem;
}

.section_2 {
  width: 12.507rem;
  height: 12.507rem;
  background: url(./img/SketchPng9ce1ffdc9f5aed19cdb0af516633e6ff8fde6c0ddfedabde8d743b5aabda977f.png)
    0.534rem -3.307rem no-repeat;
  background-size: 14.8rem 6.187rem;
  margin: 18.667rem 0 9.627rem -0.534rem;
}

.section_3 {
  position: absolute;
  left: -12.906rem;
  top: 3.494rem;
  width: 29.494rem;
  height: 31.414rem;
  background: url(./img/SketchPng6e5f651e88e15886405767937886e4634b5846d67b4ca8933fccafb8eda3909d.png)
    -1.174rem -3.254rem no-repeat;
  background-size: 32.747rem 34.694rem;
}

.text_1 {
  width: 10.854rem;
  height: 1.894rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.6rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.894rem;
  margin: 2.64rem 0 0 14.774rem;
}

.text_2 {
  width: 10.827rem;
  height: 1.334rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.96rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.147rem;
  margin: 1.147rem 0 0 14.774rem;
}

.group_10 {
  width: 19.68rem;
  height: 9.467rem;
  margin: 0.187rem 0 0 10.694rem;
}

.image-wrapper_1 {
  width: 3.76rem;
  height: 3.76rem;
  background: url(./img/SketchPngc82e9f33dda4dbff8aa8c9f3db5b8cef5cf4399a3dca319b231f4afaca6bf4f5.png)
    2.214rem -3.174rem no-repeat;
  background-size: 4.72rem 10.107rem;
  margin-top: 1.654rem;
}

.thumbnail_1 {
  width: 0.48rem;
  height: 0.48rem;
  margin: 0.027rem 0 0 4.054rem;
}

.thumbnail_2 {
  width: 0.48rem;
  height: 0.48rem;
  margin: 0.934rem 0 1.84rem 4.054rem;
}

.image_1 {
  width: 1.574rem;
  height: 1.52rem;
  margin: 5.547rem 0 0 -0.347rem;
}

.image-text_4 {
  width: 15.627rem;
  height: 3.92rem;
  margin-left: -0.933rem;
}

.thumbnail_3 {
  width: 0.48rem;
  height: 0.48rem;
  margin-top: 0.427rem;
}

.text-group_1 {
  width: 14.8rem;
  height: 3.92rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.56rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 1.307rem;
}

.label_1 {
  width: 0.72rem;
  height: 0.747rem;
  margin: 7.787rem 0 0 -13.014rem;
}

.group_1 {
  border-radius: 50%;
  background-image: url(./img/52bb707c8d7e4204bdd065d22e684fc8_mergeImage.png);
  width: 2.24rem;
  height: 2.24rem;
  margin: 5.014rem 0 0 1.334rem;
}

.group_2 {
  border-radius: 50%;
  background-image: url(./img/998162c72c27452a83451efe6d12465e_mergeImage.png);
  width: 2.4rem;
  height: 2.4rem;
  margin: 7.067rem 1.254rem 0 5.067rem;
}

.group_11 {
  width: 11.707rem;
  height: 3.547rem;
  margin: 1.094rem 0 10.107rem 14.32rem;
}

.group_3 {
  width: 3.974rem;
  height: 0.48rem;
  background: url(./img/SketchPng95f28e4055087f672cf059df2c11b0c511de8a1f9489624393a555bf7098837c.png)
    -0.4rem -0.454rem no-repeat;
  background-size: 4.774rem 1.387rem;
  margin-top: 1.147rem;
}

.group_4 {
  width: 3.547rem;
  height: 3.547rem;
  background: url(./img/4c3853a7b254437e98e972f189d23890_mergeImage.png) 100%
    no-repeat;
  background-size: 100% 100%;
}

.image_2 {
  position: absolute;
  left: 14.347rem;
  top: 15.067rem;
  width: 3.787rem;
  height: 4.107rem;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 19.2rem;
  top: 0;
  width: 19.2rem;
  height: 27.307rem;
}

.text_3 {
  width: 3.2rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(47, 51, 54, 1);
  font-size: 0.746rem;
  letter-spacing: 2px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
  margin: 4.587rem 0 0 8rem;
}

.image-text_5 {
  width: 6.24rem;
  height: 3.494rem;
  margin: 0.534rem 0 0 6.48rem;
}

.image_3 {
  width: 5.147rem;
  height: 2.054rem;
  margin-left: 0.56rem;
}

.text-group_2 {
  width: 6.24rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  letter-spacing: 2px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  line-height: 0.96rem;
  margin-top: 0.48rem;
}

.group_12 {
  width: 6.854rem;
  height: 1.04rem;
  margin: 1.574rem 0 0 4.374rem;
}

.group_13 {
  width: 2.774rem;
  height: 0.747rem;
  margin-top: 0.294rem;
}

.text_4 {
  width: 2.774rem;
  height: 0.427rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.427rem;
}

.group_7 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 3px;
  width: 2.774rem;
  height: 0.054rem;
  margin-top: 0.267rem;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 1.014rem;
  width: 3.36rem;
}

.text_5 {
  width: 2.774rem;
  height: 0.427rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.427rem;
  margin: 0.267rem 0 0 0.294rem;
}

.text-wrapper_8 {
  width: 10.934rem;
  height: 0.48rem;
  margin: 0.96rem 0 0 4.134rem;
}

.text_6 {
  width: 1.707rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
}

.text_7 {
  width: 4.854rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(239, 157, 0, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.48rem;
}

.group_14 {
  width: 10.934rem;
  height: 1.28rem;
  margin: 0.32rem 0 0 4.134rem;
}

.box_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 6px;
  width: 4rem;
  height: 1.28rem;
  border: 1px solid rgba(235, 235, 240, 1);
}

.text_8 {
  width: 2.48rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.427rem 0 0 0.32rem;
}

.thumbnail_4 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.56rem 0.267rem 0 0.667rem;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 6px 6px 0px;
  height: 1.28rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 6.934rem;
}

.text_9 {
  width: 2.56rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.4rem;
  margin: 0.374rem 0 0 0.32rem;
}

.text-wrapper_9 {
  width: 10.934rem;
  height: 0.48rem;
  margin: 0.8rem 0 0 4.134rem;
}

.text_10 {
  width: 1.28rem;
  height: 0.374rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
}

.text_11 {
  width: 4.614rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(239, 157, 0, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.48rem;
}

.group_15 {
  width: 10.934rem;
  height: 1.28rem;
  margin: 0.32rem 0 0 4.134rem;
}

.text-wrapper_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  height: 1.28rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 7.2rem;
}

.text_12 {
  width: 2.56rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.4rem;
  margin: 0.4rem 0 0 0.32rem;
}

.text-wrapper_6 {
  height: 1.28rem;
  background: url(./img/SketchPng0600d5ba832f036b32f24e88a53dd9bf335aec36359c39a07167ef30b629c41b.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 3.467rem;
}

.text_13 {
  width: 2.134rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.427rem 0 0 0.667rem;
}

.text_14 {
  width: 1.494rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: 0.427rem 0 0 4.214rem;
}

.text-wrapper_7 {
  height: 1.28rem;
  background: url(./img/SketchPngfeb6b2719ae2f7ace19fad37e98c4fbb88f794a9e7edfa4b9d98e1323d2c169e.png)
    -0.427rem -0.267rem no-repeat;
  background-size: 11.787rem 2.134rem;
  width: 10.934rem;
  margin: 0.694rem 0 0 4.134rem;
}

.text_15 {
  width: 1.92rem;
  height: 0.8rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
  margin: 0.24rem 0 0 4.507rem;
}

.image-text_6 {
  width: 7.52rem;
  height: 0.534rem;
  margin: 0.747rem 0 0 4.134rem;
}

.image-wrapper_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 4px;
  height: 0.534rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 0.534rem;
}

.thumbnail_5 {
  width: 0.294rem;
  height: 0.214rem;
  margin: 0.16rem 0 0 0.107rem;
}

.text-group_3 {
  width: 6.72rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text_16 {
  width: 6.72rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text_17 {
  width: 6.72rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text_18 {
  width: 2.987rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
  margin: 1.974rem 0 2.48rem 10.454rem;
}

.image_4 {
  position: absolute;
  left: 4.134rem;
  top: 12.16rem;
  width: 10.934rem;
  height: 0.027rem;
}
