html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 38.4rem;
  height: 27.307rem;
  overflow: hidden;
}

.text-wrapper_35 {
  width: 2.56rem;
  height: 0.56rem;
  margin: 2.134rem 0 0 0.96rem;
}

.text_37 {
  width: 2.56rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
}

.box_10 {
  width: 36.48rem;
  height: 10.027rem;
  margin: 1.44rem 0 0 0.96rem;
}

.section_12 {
  height: 10.027rem;
  background: url(./img/SketchPng97c85224148ee68000cfd12938b034246862c7d9d74a63630d3dcf77676db2d4.png)
    -0.427rem -0.054rem no-repeat;
  background-size: 12.48rem 10.614rem;
  width: 11.627rem;
}

.image-wrapper_12 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.667rem 0 0 10.747rem;
}

.thumbnail_5 {
  width: 0.32rem;
  height: 0.32rem;
}

.block_9 {
  width: 5.6rem;
  height: 2.32rem;
  margin: 3.014rem 0 0 3.014rem;
}

.text-group_9 {
  width: 5.6rem;
  height: 2.32rem;
}

.text_38 {
  width: 4.48rem;
  height: 0.854rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-left: 0.56rem;
}

.text-wrapper_36 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 0.96rem;
  margin-top: 0.507rem;
}

.text_39 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_40 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.96rem;
}

.text_41 {
  width: 5.6rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.block_10 {
  width: 5.867rem;
  height: 1.334rem;
  margin: 1.307rem 0 1.067rem 2.72rem;
}

.text-wrapper_37 {
  height: 1.334rem;
  background: url(./img/SketchPng968ecb0f5340980681d7545eeeec0b27cb542277a7a726272df4ba39abd0f6bf.png)
    -0.267rem -0.214rem no-repeat;
  background-size: 6.4rem 1.867rem;
  width: 5.867rem;
}

.text_42 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 2.08rem;
}

.section_13 {
  width: 11.627rem;
  height: 9.2rem;
  margin: 0.827rem 0 0 0.8rem;
}

.text_23 {
  width: 2.56rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
}

.group_4 {
  width: 11.627rem;
  height: 8.107rem;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.534rem;
}

.text-group_10 {
  width: 8.32rem;
  height: 2.08rem;
  margin: 2.374rem 0 0 0.854rem;
}

.text_24 {
  width: 8.32rem;
  height: 0.854rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text-wrapper_16 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
  margin-top: 0.267rem;
}

.text_25 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_26 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.block_11 {
  width: 9.334rem;
  height: 1.334rem;
  margin: 1.28rem 0 1.04rem 1.12rem;
}

.text-wrapper_17 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 1.334rem;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 4.267rem;
}

.text_27 {
  width: 0.854rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.707rem;
}

.text-wrapper_18 {
  height: 1.334rem;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.267rem -0.214rem no-repeat;
  background-size: 4.8rem 1.867rem;
  width: 4.267rem;
}

.text_28 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.28rem;
}

.section_14 {
  width: 11.627rem;
  height: 9.2rem;
  margin: 0.827rem 0 0 0.8rem;
}

.text_29 {
  width: 3.414rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
}

.section_6 {
  width: 11.627rem;
  height: 8.107rem;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.534rem;
}

.text-group_11 {
  width: 8.32rem;
  height: 3.254rem;
  margin: 1.467rem 0 0 0.854rem;
}

.paragraph_2 {
  width: 8.32rem;
  height: 2.027rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.64rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 1.014rem;
}

.text-wrapper_19 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
  margin-top: 0.267rem;
}

.text_30 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.text_31 {
  width: 6.347rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 0.96rem;
}

.box_11 {
  width: 9.334rem;
  height: 1.334rem;
  margin: 1.014rem 0 1.04rem 1.12rem;
}

.text-wrapper_20 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 1.334rem;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 4.267rem;
}

.text_32 {
  width: 0.854rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.707rem;
}

.text-wrapper_21 {
  height: 1.334rem;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.267rem -0.214rem no-repeat;
  background-size: 4.8rem 1.867rem;
  width: 4.267rem;
}

.text_33 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 1.28rem;
}

.text-wrapper_38 {
  width: 2.987rem;
  height: 0.56rem;
  margin: 1.094rem 0 0 0.747rem;
}

.text_34 {
  width: 2.987rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.56rem;
}

.box_12 {
  width: 11.627rem;
  height: 8.374rem;
  margin: 0.667rem 0 2.454rem 0.96rem;
}

.section_8 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-image: url(./img/9e05f54f5a7e4a939e26f410f985bd3e_mergeImage.png);
  border-radius: 10px;
  height: 8.374rem;
  width: 11.627rem;
}

.image-wrapper_13 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_4 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_14 {
  width: 4.107rem;
  height: 2.454rem;
  margin: 0.56rem 0 0 3.76rem;
}

.image_2 {
  width: 4.107rem;
  height: 2.454rem;
}

.text-wrapper_39 {
  width: 4.774rem;
  height: 0.48rem;
  margin: 0.667rem 0 0 3.414rem;
}

.text_35 {
  width: 4.774rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.group_12 {
  width: 5.867rem;
  height: 1.334rem;
  margin: 1.12rem 0 1.067rem 2.72rem;
}

.text-wrapper_24 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 25px;
  height: 1.334rem;
  width: 5.867rem;
}

.text_36 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.374rem 0 0 2.08rem;
}
