.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100vw;
  height: 71.12vw;
  overflow: hidden;
}

.text-wrapper_35 {
  width: 6.67vw;
  height: 1.46vw;
  margin: 5.55vw 0 0 2.5vw;
}

.text_37 {
  width: 6.67vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
}

.box_10 {
  width: 95vw;
  height: 26.12vw;
  margin: 3.75vw 0 0 2.5vw;
}

.section_12 {
  height: 26.12vw;
  background: url(./img/SketchPng97c85224148ee68000cfd12938b034246862c7d9d74a63630d3dcf77676db2d4.png)
    -1.12vw -0.14vw no-repeat;
  background-size: 32.5vw 27.63vw;
  width: 30.28vw;
}

.image-wrapper_12 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 1.73vw 0 0 27.98vw;
}

.thumbnail_5 {
  width: 0.84vw;
  height: 0.84vw;
}

.block_9 {
  width: 14.59vw;
  height: 6.05vw;
  margin: 7.84vw 0 0 7.84vw;
}

.text-group_9 {
  width: 14.59vw;
  height: 6.05vw;
}

.text_38 {
  width: 11.67vw;
  height: 2.23vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 2.23vw;
  margin-left: 1.46vw;
}

.text-wrapper_36 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 2.5vw;
  margin-top: 1.32vw;
}

.text_39 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.text_40 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 2.5vw;
}

.text_41 {
  width: 14.59vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.block_10 {
  width: 15.28vw;
  height: 3.48vw;
  margin: 3.4vw 0 2.77vw 7.08vw;
}

.text-wrapper_37 {
  height: 3.48vw;
  background: url(./img/SketchPng968ecb0f5340980681d7545eeeec0b27cb542277a7a726272df4ba39abd0f6bf.png)
    -0.7vw -0.56vw no-repeat;
  background-size: 16.66vw 4.86vw;
  width: 15.28vw;
}

.text_42 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 5.41vw;
}

.section_13 {
  width: 30.28vw;
  height: 23.96vw;
  margin: 2.15vw 0 0 2.08vw;
}

.text_23 {
  width: 6.67vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
}

.group_4 {
  width: 30.28vw;
  height: 21.12vw;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 1.39vw;
}

.text-group_10 {
  width: 21.67vw;
  height: 5.42vw;
  margin: 6.18vw 0 0 2.22vw;
}

.text_24 {
  width: 21.67vw;
  height: 2.23vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 2.23vw;
}

.text-wrapper_16 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
  margin-top: 0.7vw;
}

.text_25 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.text_26 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.block_11 {
  width: 24.31vw;
  height: 3.48vw;
  margin: 3.33vw 0 2.7vw 2.91vw;
}

.text-wrapper_17 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 3.48vw;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 11.12vw;
}

.text_27 {
  width: 2.23vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 4.44vw;
}

.text-wrapper_18 {
  height: 3.48vw;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.7vw -0.56vw no-repeat;
  background-size: 12.5vw 4.86vw;
  width: 11.12vw;
}

.text_28 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 3.33vw;
}

.section_14 {
  width: 30.28vw;
  height: 23.96vw;
  margin: 2.15vw 0 0 2.08vw;
}

.text_29 {
  width: 8.89vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
}

.section_6 {
  width: 30.28vw;
  height: 21.12vw;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 1.39vw;
}

.text-group_11 {
  width: 21.67vw;
  height: 8.48vw;
  margin: 3.81vw 0 0 2.22vw;
}

.paragraph_2 {
  width: 21.67vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.66vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 2.64vw;
}

.text-wrapper_19 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
  margin-top: 0.7vw;
}

.text_30 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.text_31 {
  width: 16.53vw;
  height: 2.5vw;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 2.5vw;
}

.box_11 {
  width: 24.31vw;
  height: 3.48vw;
  margin: 2.63vw 0 2.7vw 2.91vw;
}

.text-wrapper_20 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 3.48vw;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 11.12vw;
}

.text_32 {
  width: 2.23vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 4.44vw;
}

.text-wrapper_21 {
  height: 3.48vw;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -0.7vw -0.56vw no-repeat;
  background-size: 12.5vw 4.86vw;
  width: 11.12vw;
}

.text_33 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 3.33vw;
}

.text-wrapper_38 {
  width: 7.78vw;
  height: 1.46vw;
  margin: 2.84vw 0 0 1.94vw;
}

.text_34 {
  width: 7.78vw;
  height: 1.46vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.46vw;
}

.box_12 {
  width: 30.28vw;
  height: 21.81vw;
  margin: 1.73vw 0 6.38vw 2.5vw;
}

.section_8 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-image: url(./img/9e05f54f5a7e4a939e26f410f985bd3e_mergeImage.png);
  border-radius: 10px;
  height: 21.81vw;
  width: 30.28vw;
}

.image-wrapper_13 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_4 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_14 {
  width: 10.7vw;
  height: 6.39vw;
  margin: 1.45vw 0 0 9.79vw;
}

.image_2 {
  width: 10.7vw;
  height: 6.39vw;
}

.text-wrapper_39 {
  width: 12.44vw;
  height: 1.25vw;
  margin: 1.73vw 0 0 8.88vw;
}

.text_35 {
  width: 12.44vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.group_12 {
  width: 15.28vw;
  height: 3.48vw;
  margin: 2.91vw 0 2.77vw 7.08vw;
}

.text-wrapper_24 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 25px;
  height: 3.48vw;
  width: 15.28vw;
}

.text_36 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.97vw 0 0 5.41vw;
}
