.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.text-wrapper_35 {
  width: 96px;
  height: 21px;
  margin: 80px 0 0 36px;
}

.text_37 {
  width: 96px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 21px;
}

.box_10 {
  width: 1368px;
  height: 376px;
  margin: 54px 0 0 36px;
}

.section_12 {
  height: 376px;
  background: url(./img/SketchPng97c85224148ee68000cfd12938b034246862c7d9d74a63630d3dcf77676db2d4.png)
    -16px -2px no-repeat;
  background-size: 468px 398px;
  width: 436px;
}

.image-wrapper_12 {
  width: 12px;
  height: 12px;
  margin: 25px 0 0 403px;
}

.thumbnail_5 {
  width: 12px;
  height: 12px;
}

.block_9 {
  width: 210px;
  height: 87px;
  margin: 113px 0 0 113px;
}

.text-group_9 {
  width: 210px;
  height: 87px;
}

.text_38 {
  width: 168px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 32px;
  margin-left: 21px;
}

.text-wrapper_36 {
  width: 210px;
  height: 36px;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  line-height: 36px;
  margin-top: 19px;
}

.text_39 {
  width: 210px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.text_40 {
  width: 210px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 24px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
}

.text_41 {
  width: 210px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.block_10 {
  width: 220px;
  height: 50px;
  margin: 49px 0 40px 102px;
}

.text-wrapper_37 {
  height: 50px;
  background: url(./img/SketchPng968ecb0f5340980681d7545eeeec0b27cb542277a7a726272df4ba39abd0f6bf.png)
    -10px -8px no-repeat;
  background-size: 240px 70px;
  width: 220px;
}

.text_42 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 14px 0 0 78px;
}

.section_13 {
  width: 436px;
  height: 345px;
  margin: 31px 0 0 30px;
}

.text_23 {
  width: 96px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 21px;
}

.group_4 {
  width: 436px;
  height: 304px;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
}

.text-group_10 {
  width: 312px;
  height: 78px;
  margin: 89px 0 0 32px;
}

.text_24 {
  width: 312px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.text-wrapper_16 {
  width: 238px;
  height: 36px;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
  margin-top: 10px;
}

.text_25 {
  width: 238px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.text_26 {
  width: 238px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.block_11 {
  width: 350px;
  height: 50px;
  margin: 48px 0 39px 42px;
}

.text-wrapper_17 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 50px;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 160px;
}

.text_27 {
  width: 32px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 14px 0 0 64px;
}

.text-wrapper_18 {
  height: 50px;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -10px -8px no-repeat;
  background-size: 180px 70px;
  width: 160px;
}

.text_28 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 14px 0 0 48px;
}

.section_14 {
  width: 436px;
  height: 345px;
  margin: 31px 0 0 30px;
}

.text_29 {
  width: 128px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 21px;
}

.section_6 {
  width: 436px;
  height: 304px;
  background: url(./img/SketchPnge81d2218a06c98418987d3615f7b0838fbd66fec5223a207ba737aacb9a490b4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
}

.text-group_11 {
  width: 312px;
  height: 122px;
  margin: 55px 0 0 32px;
}

.paragraph_2 {
  width: 312px;
  height: 76px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 38px;
}

.text-wrapper_19 {
  width: 238px;
  height: 36px;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.8888888955116272px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
  margin-top: 10px;
}

.text_30 {
  width: 238px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.text_31 {
  width: 238px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(254, 15, 6, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  line-height: 36px;
}

.box_11 {
  width: 350px;
  height: 50px;
  margin: 38px 0 39px 42px;
}

.text-wrapper_20 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 25px;
  height: 50px;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 160px;
}

.text_32 {
  width: 32px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 14px 0 0 64px;
}

.text-wrapper_21 {
  height: 50px;
  background: url(./img/SketchPngdcee882f72a840e05a171f0349955403169176647919d0590eeeb018cb5b9ca9.png)
    -10px -8px no-repeat;
  background-size: 180px 70px;
  width: 160px;
}

.text_33 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 14px 0 0 48px;
}

.text-wrapper_38 {
  width: 112px;
  height: 21px;
  margin: 41px 0 0 28px;
}

.text_34 {
  width: 112px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 21px;
}

.box_12 {
  width: 436px;
  height: 314px;
  margin: 25px 0 92px 36px;
}

.section_8 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-image: url(./img/9e05f54f5a7e4a939e26f410f985bd3e_mergeImage.png);
  border-radius: 10px;
  height: 314px;
  width: 436px;
}

.image-wrapper_13 {
  width: 12px;
  height: 12px;
  margin: 14px 0 0 410px;
}

.thumbnail_4 {
  width: 12px;
  height: 12px;
}

.image-wrapper_14 {
  width: 154px;
  height: 92px;
  margin: 21px 0 0 141px;
}

.image_2 {
  width: 154px;
  height: 92px;
}

.text-wrapper_39 {
  width: 179px;
  height: 18px;
  margin: 25px 0 0 128px;
}

.text_35 {
  width: 179px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.group_12 {
  width: 220px;
  height: 50px;
  margin: 42px 0 40px 102px;
}

.text-wrapper_24 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 25px;
  height: 50px;
  width: 220px;
}

.text_36 {
  width: 64px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 14px 0 0 78px;
}
