.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 69.03vw;
  overflow: hidden;
}

.box_20 {
  width: 100vw;
  height: 5.21vw;
}

.box_21 {
  width: 100vw;
  height: 4.45vw;
  background: url(./img/SketchPngc8919f1a18ac2590737ddad7d2ea044c9fbfb4d0e9ee83de67992a8244a0ce27.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_10 {
  width: 14.24vw;
  height: 4.45vw;
  margin-left: 1.39vw;
}

.text-wrapper_26 {
  height: 2.5vw;
  background: url(./img/SketchPngbebadf366e673fd01a8937d7f9ce2486884992964aae22296d745b7d32e8cf7a.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 2.5vw;
  margin: 0.97vw 0 0 72.84vw;
}

.text_49 {
  width: 1.32vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(111, 111, 111, 1);
  font-size: 1.38vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 0.34vw 0 0 0.62vw;
}

.text_50 {
  width: 3.34vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(29, 33, 41, 1);
  font-size: 0.97vw;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 1.73vw 0 0 1.04vw;
}

.thumbnail_14 {
  width: 0.7vw;
  height: 0.42vw;
  margin: 2.01vw 3.47vw 0 0.48vw;
}

.image_11 {
  width: 100vw;
  height: 0.07vw;
  margin-bottom: 0.7vw;
}

.group_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  position: relative;
  width: 84.31vw;
  height: 63.2vw;
  margin: -0.06vw 0 0 15vw;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 81.74vw;
  height: 3.41vw;
  margin: 1.45vw 0 0 1.38vw;
}

.box_3 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 2px;
  width: 0.21vw;
  height: 0.98vw;
  margin: 1.25vw 0 0 0.13vw;
}

.text_4 {
  width: 5vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(34, 34, 34, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 1.95vw;
  margin: 0.76vw 0 0 0.69vw;
}

.box_4 {
  background-color: rgba(255, 244, 233, 1);
  border-radius: 6px;
  width: 15.98vw;
  height: 2.78vw;
  margin: 0.34vw 0 0 49.44vw;
}

.label_1 {
  width: 2.71vw;
  height: 1.53vw;
  margin: 0.62vw 0 0 0.62vw;
}

.text_5 {
  width: 9.8vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.62vw 2.15vw 0 0.69vw;
}

.box_5 {
  box-shadow: 0px 4px 10px 0px rgba(71, 77, 255, 0.45);
  height: 2.78vw;
  width: 9.03vw;
  margin: 0.34vw 0.48vw 0 0.76vw;
}

.text-wrapper_2 {
  border-radius: 6px;
  background-image: url(./img/874dcb61e6bd4186a5aff022097c82f0_mergeImage.png);
  height: 2.78vw;
  width: 9.03vw;
}

.text_6 {
  text-shadow: 0px 0px 4px rgba(53, 59, 230, 1);
  width: 5.56vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.69vw 0 0 1.73vw;
}

.box_22 {
  width: 11.53vw;
  height: 2.71vw;
  margin: 0.13vw 0 0 1.59vw;
}

.box_6 {
  border-radius: 4px;
  height: 2.64vw;
  width: 6.12vw;
  position: relative;
}

.text_7 {
  width: 3.89vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.76vw 0 0 1.11vw;
}

.group_4 {
  border-radius: 3px;
  position: absolute;
  left: 0.84vw;
  top: 2.57vw;
  width: 4.45vw;
  height: 0.14vw;
}

.group_19 {
  width: 4.73vw;
  height: 1.95vw;
  margin-top: 0.77vw;
}

.text_8 {
  width: 3.89vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.12vw;
  margin-left: 0.42vw;
}

.section_3 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 4px;
  width: 4.73vw;
  height: 0.14vw;
  margin-top: 0.7vw;
}

.box_23 {
  width: 66.39vw;
  height: 2.5vw;
  margin: 1.45vw 0 0 1.25vw;
}

.text_9 {
  width: 3.2vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin-top: 0.42vw;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  margin-left: 0.77vw;
  width: 12.5vw;
}

.text_10 {
  width: 2.92vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_11 {
  width: 3.2vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 1.38vw;
}

.text-wrapper_4 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  margin-left: 0.77vw;
  width: 12.5vw;
}

.text_12 {
  width: 2.92vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_13 {
  width: 4.17vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.55vw 0 0 1.38vw;
}

.group_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 12.5vw;
  height: 2.5vw;
  margin-left: 0.84vw;
}

.text_14 {
  width: 5.91vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.55vw 0 0 0.83vw;
}

.thumbnail_2 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.9vw 0 4.3vw;
}

.group_6 {
  background-color: rgba(233, 237, 255, 1);
  border-radius: 4px;
  width: 5.56vw;
  height: 2.5vw;
  margin-left: 1.39vw;
}

.thumbnail_3 {
  width: 0.91vw;
  height: 0.98vw;
  margin: 0.83vw 0 0 1.25vw;
}

.text_15 {
  width: 1.81vw;
  height: 1.19vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.9vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.19vw;
  margin: 0.62vw 1.25vw 0 0;
}

.group_7 {
  border-radius: 4px;
  width: 5.56vw;
  height: 2.5vw;
  border: 1px solid rgba(223, 225, 236, 1);
  margin-left: 0.7vw;
}

.thumbnail_4 {
  width: 0.91vw;
  height: 0.91vw;
  margin: 0.83vw 0 0 1.25vw;
}

.text_16 {
  width: 1.81vw;
  height: 0.91vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.9vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.91vw;
  margin: 0.83vw 1.25vw 0 0;
}

.box_24 {
  width: 81.53vw;
  height: 15.98vw;
  margin: 1.38vw 0 0 1.38vw;
}

.group_20 {
  width: 18.06vw;
  height: 15.98vw;
}

.text-wrapper_5 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px 0px 0px 0px;
  height: 3.2vw;
  border: 1px solid rgba(223, 225, 236, 1);
  width: 18.06vw;
}

.text_17 {
  width: 2.92vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.9vw 0 0 7.56vw;
}

.text-wrapper_6 {
  height: 3.2vw;
  background: url(./img/SketchPngcfb4acec6bc9b5a1f310ee6b9e0e121e2da541fc6554d7d5b57f6ca3043a4975.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 18.19vw 3.33vw;
  width: 18.06vw;
}

.text_18 {
  width: 12.71vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.76vw 0 0 2.63vw;
}

.text-wrapper_7 {
  height: 3.2vw;
  background: url(./img/SketchPng355373fc29c29b466f5f3bc83cb86fae94bc305890e3762a48871fb82c3e342d.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 18.19vw 3.33vw;
  width: 18.06vw;
}

.text_19 {
  width: 12.71vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.76vw 0 0 2.63vw;
}

.text-wrapper_8 {
  height: 3.2vw;
  background: url(./img/SketchPngcfb4acec6bc9b5a1f310ee6b9e0e121e2da541fc6554d7d5b57f6ca3043a4975.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 18.19vw 3.33vw;
  width: 18.06vw;
}

.text_20 {
  width: 12.71vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.76vw 0 0 2.63vw;
}

.text-wrapper_9 {
  height: 3.2vw;
  background: url(./img/SketchPng355373fc29c29b466f5f3bc83cb86fae94bc305890e3762a48871fb82c3e342d.png)
    -0.07vw -0.07vw no-repeat;
  background-size: 18.19vw 3.33vw;
  width: 18.06vw;
}

.text_21 {
  width: 12.71vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 0.76vw 0 0 2.63vw;
}

.grid_4 {
  width: 63.48vw;
  height: 15.98vw;
  flex-wrap: wrap;
}

.text-wrapper_10-0 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng8ce59831c71bdd5c98ac2705b40a42c0f18e543c1023ff204a53f5428bbd3ce4.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-0 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_10-1 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng8ce59831c71bdd5c98ac2705b40a42c0f18e543c1023ff204a53f5428bbd3ce4.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-1 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_10-2 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng8ce59831c71bdd5c98ac2705b40a42c0f18e543c1023ff204a53f5428bbd3ce4.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-2 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_10-3 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng8ce59831c71bdd5c98ac2705b40a42c0f18e543c1023ff204a53f5428bbd3ce4.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-3 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_10-4 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-right: 0;
  background: url(./img/SketchPngd31b08b44c5e5f3266fa6f2ada2fa94829a6f04404ca3fb50dc0c21361133e63.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-4 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_10-5 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-5 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-6 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-6 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-7 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-7 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-8 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-8 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-9 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-right: 0;
  background: url(./img/SketchPngb59557036dc214bb37208759dc517629a1910acd4d9aef9a7f0ba01cf8424270.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-9 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-10 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-10 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-11 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-11 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-12 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-12 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-13 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-13 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-14 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-right: 0;
  background: url(./img/SketchPngbc3272d60b41c35a82f937ad70630341b062a06ab73cc02b1f5fa9cb2a5d8936.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-14 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-15 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-15 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-16 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-16 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-17 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-17 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-18 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  background: url(./img/SketchPnge674ae569150dd07c9534193444518c41cad9f2ce050a352b93c7297857be54f.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-18 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-19 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-right: 0;
  background: url(./img/SketchPngb59557036dc214bb37208759dc517629a1910acd4d9aef9a7f0ba01cf8424270.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-19 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-20 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-bottom: 0;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-20 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-21 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-bottom: 0;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-21 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-22 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-bottom: 0;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-22 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-23 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-bottom: 0;
  background: url(./img/SketchPng47536a421a10534f42d8e39e24dc911bcb7ee1547b5468ecb4f4f886b708effb.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-23 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_10-24 {
  height: 3.2vw;
  background-size: 12.63vw 3.33vw;
  width: 12.5vw;
  margin-right: 0;
  margin-bottom: 0;
  background: url(./img/SketchPngbc3272d60b41c35a82f937ad70630341b062a06ab73cc02b1f5fa9cb2a5d8936.png)
    -0.07vw -0.07vw no-repeat;
}

.text_22-24 {
  width: 9.45vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.97vw 0 0 4.3vw;
  color: rgba(71, 77, 255, 1);
}

.box_25 {
  width: 42.64vw;
  height: 2.23vw;
  margin: 30.55vw 0 1.38vw 1.38vw;
}

.text_23 {
  width: 5.35vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin-top: 0.7vw;
}

.group_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 5.77vw;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.7vw;
}

.text_24 {
  width: 3.2vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.83vw;
}

.thumbnail_5 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 0.9vw 0.83vw 0 0;
}

.text-wrapper_11 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.7vw;
  width: 4.17vw;
}

.text_25 {
  width: 2.5vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.55vw 0 0 0.83vw;
}

.text-wrapper_12 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_26 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text-wrapper_13 {
  background-color: rgba(233, 237, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_27 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text-wrapper_14 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_28 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.9vw;
}

.text-wrapper_15 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_29 {
  width: 0.56vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text_30 {
  width: 0.7vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.34vw 0 0 0.34vw;
}

.text-wrapper_16 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 2.23vw;
}

.text_31 {
  width: 1.05vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.55vw;
}

.text-wrapper_17 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.42vw;
  width: 4.17vw;
}

.text_32 {
  width: 2.5vw;
  height: 0.98vw;
  overflow-wrap: break-word;
  color: rgba(85, 85, 85, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.98vw;
  margin: 0.62vw 0 0 0.83vw;
}

.text_33 {
  width: 1.67vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.69vw;
}

.text-wrapper_18 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 2.23vw;
  border: 1px solid rgba(230, 230, 230, 1);
  margin-left: 0.28vw;
  width: 3.41vw;
}

.text_34 {
  width: 1.88vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.76vw;
}

.text_35 {
  width: 0.84vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.83vw;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.69vw 0 0 0.27vw;
}

.image_3 {
  position: absolute;
  left: 1.39vw;
  top: 7.64vw;
  width: 81.32vw;
  height: 0.07vw;
}

.box_26 {
  width: 100vw;
  height: 0.77vw;
  margin-bottom: 0.07vw;
}

.box_8 {
  background-color: rgba(255, 255, 255, 1);
  width: 14.31vw;
  height: 64.52vw;
  margin-top: -63.81vw;
}

.group_10 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_6 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_36 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 6.45vw 0 0.62vw;
}

.image_4 {
  width: 11.6vw;
  height: 0.07vw;
  margin: 0.62vw 0 0 1.59vw;
}

.group_11 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.76vw 0 0 0.55vw;
}

.thumbnail_7 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.69vw 0 0 1.11vw;
}

.text_37 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 0.62vw;
}

.thumbnail_8 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_19 {
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_38 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_20 {
  height: 2.5vw;
  background: url(./img/SketchPngcef0a56c5e9f9031b846d95bd15aeda9310557889d7e6fbeee5b65fd3dc02030.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_39 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_21 {
  height: 2.5vw;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_40 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.group_12 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPnga452abf50876cde46c4bb633fe6ab12b5861308f15e4176332b00c2ea81d9a2c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_8 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_9 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_1 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.group_13 {
  width: 13.2vw;
  height: 2.5vw;
  background: url(./img/SketchPng90bc591a5b7acb1464a7b6d4735d46c778704f95453a121a5963d2a76bb01a4d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.69vw 0 0 0.55vw;
}

.image-text_9 {
  width: 5.63vw;
  height: 1.53vw;
  margin: 0.48vw 0 0 1.11vw;
}

.thumbnail_10 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.21vw;
}

.text-group_2 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.thumbnail_11 {
  width: 0.56vw;
  height: 0.35vw;
  margin: 1.11vw 0.76vw 0 5.13vw;
}

.text-wrapper_22 {
  height: 2.5vw;
  background: url(./img/SketchPng1339dbbfd957e84de10ff9b9679407de7620f1d22d80fde5747aa2ef75a2aae5.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 0 0.55vw;
}

.text_41 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}

.text-wrapper_23 {
  height: 2.5vw;
  background: url(./img/SketchPng9a94e3c56c2301514b9af903048f798e9ba05b4cf22935b6d7bef4601f0db791.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 13.2vw;
  margin: 0.69vw 0 34.86vw 0.55vw;
}

.text_42 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.84vw;
}
