.page {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.text_1 {
  width: 84px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 19px;
  margin: 262px 0 0 502px;
}

.section_1 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 436px;
  height: 384px;
  border: 1px solid rgba(238, 239, 243, 1);
  margin: 17px 0 342px 502px;
}

.text_2 {
  width: 160px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  margin: 21px 0 0 20px;
}

.image_1 {
  width: 393px;
  height: 266px;
  margin: 11px 0 0 22px;
}

.image-wrapper_4 {
  width: 386px;
  height: 20px;
  margin: 26px 0 22px 22px;
}

.thumbnail_1 {
  width: 20px;
  height: 20px;
}

.thumbnail_2 {
  width: 20px;
  height: 20px;
  margin-left: 312px;
}

.thumbnail_3 {
  width: 20px;
  height: 20px;
  margin-left: 14px;
}
