html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 28.454rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 38.4rem;
  height: 28.454rem;
  border: 1px solid rgba(151, 151, 151, 0.5);
}

.section_1 {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 13.867rem;
  width: 22.614rem;
  position: relative;
  margin: 1.094rem 0 0 1.494rem;
}

.image-wrapper_4 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 22.027rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
}

.text-wrapper_6 {
  width: 2.88rem;
  height: 0.48rem;
  margin: 0.107rem 0 0 10.4rem;
}

.text_1 {
  width: 2.88rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.48rem;
}

.box_3 {
  width: 21.467rem;
  height: 9.227rem;
  margin: 0.694rem 0 0 0.56rem;
}

.section_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 21.467rem;
  height: 9.227rem;
}

.text_2 {
  width: 20.187rem;
  height: 4.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: justify;
  line-height: 0.64rem;
  margin: 0.427rem 0 0 0.694rem;
}

.text-wrapper_2 {
  width: 1.547rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 2.96rem 0 0.72rem 19.334rem;
}

.text_3 {
  width: 1.547rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.text_4 {
  width: 1.547rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(190, 190, 190, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.box_4 {
  width: 12.827rem;
  height: 0.987rem;
  margin: 0.774rem 0 0.907rem 1.254rem;
}

.section_3 {
  position: relative;
  width: 3.627rem;
  height: 0.96rem;
  background: url(./img/SketchPngf53452f5cf4d34084b830ddd47952042507ec98fba80cb89aa45c6866f88ad5c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.027rem;
}

.image-text_3 {
  width: 2.427rem;
  height: 0.534rem;
  margin: 0.24rem 0 0 0.694rem;
}

.text-group_1 {
  width: 1.84rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.thumbnail_2 {
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.08rem;
}

.box_2 {
  position: absolute;
  left: 0.4rem;
  top: -0.053rem;
  width: 0.294rem;
  height: 0.294rem;
  background: url(./img/SketchPng1bd7631e9630de881c24f45ce3bb0dada597b4ae1392a7f52b2f9e412ee47ee8.png)
    0rem -0.027rem no-repeat;
  background-size: 0.294rem 0.32rem;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 0.96rem;
  margin-left: 3.654rem;
  width: 2.667rem;
}

.text_5 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  margin-left: 0.214rem;
  width: 2.667rem;
}

.text_6 {
  width: 1.707rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.48rem;
}

.label_1 {
  position: absolute;
  left: 0.667rem;
  top: 11.894rem;
  width: 1.04rem;
  height: 1.12rem;
}

.section_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 10.08rem;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 11.627rem;
  margin: 1.707rem 0 1.707rem 1.494rem;
}

.image-wrapper_5 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.374rem 0 0 10.934rem;
}

.thumbnail_3 {
  width: 0.32rem;
  height: 0.32rem;
}

.image-wrapper_6 {
  width: 5.44rem;
  height: 3.974rem;
  margin: 1.12rem 0 0 3.067rem;
}

.image_1 {
  width: 5.44rem;
  height: 3.974rem;
}

.box_5 {
  width: 5.894rem;
  height: 0.48rem;
  margin: 0.827rem 0 0 2.854rem;
}

.image-text_4 {
  width: 5.894rem;
  height: 0.48rem;
}

.thumbnail_4 {
  width: 0.48rem;
  height: 0.48rem;
}

.text-group_2 {
  width: 5.2rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
}

.box_6 {
  width: 2.667rem;
  height: 0.96rem;
  margin: 1.307rem 0 0.72rem 4.48rem;
}

.text-wrapper_5 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  width: 2.667rem;
}

.text_7 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.587rem;
}
