.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 100vw;
  height: 74.1vw;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 74.1vw;
  border: 1px solid rgba(151, 151, 151, 0.5);
}

.section_1 {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 36.12vw;
  width: 58.89vw;
  position: relative;
  margin: 2.84vw 0 0 3.88vw;
}

.image-wrapper_4 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 57.36vw;
}

.thumbnail_1 {
  width: 0.84vw;
  height: 0.84vw;
}

.text-wrapper_6 {
  width: 7.5vw;
  height: 1.25vw;
  margin: 0.27vw 0 0 27.08vw;
}

.text_1 {
  width: 7.5vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 1.25vw;
}

.box_3 {
  width: 55.91vw;
  height: 24.03vw;
  margin: 1.8vw 0 0 1.45vw;
}

.section_2 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  width: 55.91vw;
  height: 24.03vw;
}

.text_2 {
  width: 52.57vw;
  height: 11.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: justify;
  line-height: 1.67vw;
  margin: 1.11vw 0 0 1.8vw;
}

.text-wrapper_2 {
  width: 4.03vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
  margin: 7.7vw 0 1.87vw 50.34vw;
}

.text_3 {
  width: 4.03vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.text_4 {
  width: 4.03vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(190, 190, 190, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.67vw;
}

.box_4 {
  width: 33.41vw;
  height: 2.57vw;
  margin: 2.01vw 0 2.36vw 3.26vw;
}

.section_3 {
  position: relative;
  width: 9.45vw;
  height: 2.5vw;
  background: url(./img/SketchPngf53452f5cf4d34084b830ddd47952042507ec98fba80cb89aa45c6866f88ad5c.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.07vw;
}

.image-text_3 {
  width: 6.32vw;
  height: 1.39vw;
  margin: 0.62vw 0 0 1.8vw;
}

.text-group_1 {
  width: 4.8vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
}

.thumbnail_2 {
  width: 0.98vw;
  height: 0.98vw;
  margin-top: 0.21vw;
}

.box_2 {
  position: absolute;
  left: 1.05vw;
  top: -0.13vw;
  width: 0.77vw;
  height: 0.77vw;
  background: url(./img/SketchPng1bd7631e9630de881c24f45ce3bb0dada597b4ae1392a7f52b2f9e412ee47ee8.png)
    0vw -0.07vw no-repeat;
  background-size: 0.76vw 0.83vw;
}

.text-wrapper_3 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 6px;
  height: 2.5vw;
  margin-left: 9.52vw;
  width: 6.95vw;
}

.text_5 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 2.5vw;
}

.text-wrapper_4 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  margin-left: 0.56vw;
  width: 6.95vw;
}

.text_6 {
  width: 4.45vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.25vw;
}

.label_1 {
  position: absolute;
  left: 1.74vw;
  top: 30.98vw;
  width: 2.71vw;
  height: 2.92vw;
}

.section_4 {
  box-shadow: 0px 5px 14px 1px rgba(61, 61, 84, 0.07);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  height: 26.25vw;
  border: 1px solid rgba(238, 239, 243, 1);
  width: 30.28vw;
  margin: 4.44vw 0 4.44vw 3.88vw;
}

.image-wrapper_5 {
  width: 0.84vw;
  height: 0.84vw;
  margin: 0.97vw 0 0 28.47vw;
}

.thumbnail_3 {
  width: 0.84vw;
  height: 0.84vw;
}

.image-wrapper_6 {
  width: 14.17vw;
  height: 10.35vw;
  margin: 2.91vw 0 0 7.98vw;
}

.image_1 {
  width: 14.17vw;
  height: 10.35vw;
}

.box_5 {
  width: 15.35vw;
  height: 1.25vw;
  margin: 2.15vw 0 0 7.43vw;
}

.image-text_4 {
  width: 15.35vw;
  height: 1.25vw;
}

.thumbnail_4 {
  width: 1.25vw;
  height: 1.25vw;
}

.text-group_2 {
  width: 13.55vw;
  height: 1.25vw;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.25vw;
}

.box_6 {
  width: 6.95vw;
  height: 2.5vw;
  margin: 3.4vw 0 1.87vw 11.66vw;
}

.text-wrapper_5 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 2.5vw;
  width: 6.95vw;
}

.text_7 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.48vw 0 0 1.52vw;
}
