html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 38.4rem;
  height: 27.307rem;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 27.307rem;
  width: 38.4rem;
}

.box_1 {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 25.974rem;
  height: 21.334rem;
  margin: 2.987rem 0 0 6.214rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.534rem 0 0 25.12rem;
}

.text_1 {
  width: 2.88rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 11.547rem;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  height: 0.96rem;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 24.854rem;
  margin: 0.534rem 0 0 0.534rem;
}

.text_2 {
  width: 2.24rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.16rem 0 0 0.347rem;
}

.group_14 {
  width: 24.907rem;
  height: 1.227rem;
  margin: 0.534rem 0 0 0.534rem;
}

.text-wrapper_2 {
  height: 1.227rem;
  background: url(./img/SketchPng2b25b92302d579338ea63bec9abb334f6c41f71e6d6f29bb870eb77aaea4ca85.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_3 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 1.574rem;
}

.text-wrapper_3 {
  height: 1.227rem;
  background: url(./img/SketchPngb43eee77d2a3e3af7194b64a967183b8ed135909bee383e19f5cfe136c6ddd18.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_4 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 6.347rem;
}

.group_15 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_4 {
  height: 1.227rem;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_5 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.214rem;
}

.text-wrapper_5 {
  height: 1.227rem;
  background: url(./img/SketchPngdbac1e11a379323df0ea72a8aab15b3b76c05e2d00a2bcdbe32d31a18c0b2064.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_6 {
  width: 10.827rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.427rem;
}

.group_16 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_6 {
  height: 1.227rem;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_7 {
  width: 1.494rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_7 {
  height: 1.227rem;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_8 {
  width: 12.96rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_17 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_8 {
  height: 1.227rem;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_9 {
  width: 2.24rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_9 {
  height: 1.227rem;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_10 {
  width: 12.96rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_18 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_10 {
  height: 1.227rem;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_11 {
  width: 4.107rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.section_2 {
  height: 1.227rem;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text-wrapper_11 {
  width: 5.28rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.text_12 {
  width: 5.28rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.text_13 {
  width: 5.28rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.text_14 {
  width: 5.28rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.text_15 {
  width: 5.28rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
}

.group_19 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_12 {
  height: 1.227rem;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_16 {
  width: 1.867rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_13 {
  height: 1.227rem;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_17 {
  width: 1.814rem;
  height: 0.32rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.32rem;
  margin: 0.48rem 0 0 0.32rem;
}

.group_20 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_14 {
  height: 1.227rem;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_18 {
  width: 1.12rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_15 {
  height: 1.227rem;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_19 {
  width: 9.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_21 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_16 {
  height: 1.227rem;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_20 {
  width: 2.107rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_17 {
  height: 1.227rem;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_21 {
  width: 9.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_22 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_18 {
  height: 1.227rem;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_22 {
  width: 2.107rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_19 {
  height: 1.227rem;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_23 {
  width: 9.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_23 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_20 {
  height: 1.227rem;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_24 {
  width: 2.107rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_21 {
  height: 1.227rem;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_25 {
  width: 9.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_24 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_22 {
  height: 1.227rem;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_26 {
  width: 2.107rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_23 {
  height: 1.227rem;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_27 {
  width: 9.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_25 {
  width: 24.907rem;
  height: 1.227rem;
  margin-left: 0.534rem;
}

.text-wrapper_24 {
  height: 1.227rem;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 5.92rem 1.28rem;
  width: 5.867rem;
}

.text_28 {
  width: 2.107rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.214rem 0 0 0.32rem;
}

.text-wrapper_25 {
  height: 1.227rem;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -0.027rem -0.027rem no-repeat;
  background-size: 19.094rem 1.28rem;
  width: 19.04rem;
}

.text_29 {
  width: 9.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.294rem 0 0 0.32rem;
}

.group_26 {
  width: 15.307rem;
  height: 0.96rem;
  margin: 0.8rem 0 1.12rem 0.747rem;
}

.image-text_2 {
  width: 3.04rem;
  height: 0.534rem;
  margin-top: 0.214rem;
}

.image-wrapper_1 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 4px;
  height: 0.534rem;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 0.534rem;
}

.thumbnail_2 {
  width: 0.294rem;
  height: 0.214rem;
  margin: 0.16rem 0 0 0.107rem;
}

.text-group_1 {
  width: 2.24rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
}

.text-wrapper_26 {
  background-color: rgba(249, 249, 249, 1);
  border-radius: 6px;
  height: 0.96rem;
  margin-left: 6.134rem;
  width: 2.667rem;
}

.text_30 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.96rem;
}

.text-wrapper_27 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 0.96rem;
  margin-left: 0.8rem;
  width: 2.667rem;
}

.text_31 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.187rem 0 0 0.587rem;
}
