.page {
  background-color: rgba(245, 246, 250, 1);
  position: relative;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1024px;
  width: 1440px;
}

.box_1 {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 974px;
  height: 800px;
  margin: 112px 0 0 233px;
}

.thumbnail_1 {
  width: 12px;
  height: 12px;
  margin: 20px 0 0 942px;
}

.text_1 {
  width: 108px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 433px;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  height: 36px;
  border: 1px solid rgba(235, 235, 240, 1);
  width: 932px;
  margin: 20px 0 0 20px;
}

.text_2 {
  width: 84px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 6px 0 0 13px;
}

.group_14 {
  width: 934px;
  height: 46px;
  margin: 20px 0 0 20px;
}

.text-wrapper_2 {
  height: 46px;
  background: url(./img/SketchPng2b25b92302d579338ea63bec9abb334f6c41f71e6d6f29bb870eb77aaea4ca85.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_3 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 59px;
}

.text-wrapper_3 {
  height: 46px;
  background: url(./img/SketchPngb43eee77d2a3e3af7194b64a967183b8ed135909bee383e19f5cfe136c6ddd18.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_4 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 238px;
}

.group_15 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_4 {
  height: 46px;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_5 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 8px;
}

.text-wrapper_5 {
  height: 46px;
  background: url(./img/SketchPngdbac1e11a379323df0ea72a8aab15b3b76c05e2d00a2bcdbe32d31a18c0b2064.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_6 {
  width: 406px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 16px;
}

.group_16 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_6 {
  height: 46px;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_7 {
  width: 56px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_7 {
  height: 46px;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_8 {
  width: 486px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_17 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_8 {
  height: 46px;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_9 {
  width: 84px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_9 {
  height: 46px;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_10 {
  width: 486px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_18 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_10 {
  height: 46px;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_11 {
  width: 154px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.section_2 {
  height: 46px;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text-wrapper_11 {
  width: 198px;
  height: 24px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.text_12 {
  width: 198px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.text_13 {
  width: 198px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.text_14 {
  width: 198px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.text_15 {
  width: 198px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(71, 77, 255, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
}

.group_19 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_12 {
  height: 46px;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_16 {
  width: 70px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_13 {
  height: 46px;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_17 {
  width: 68px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 12px;
  margin: 18px 0 0 12px;
}

.group_20 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_14 {
  height: 46px;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_18 {
  width: 42px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_15 {
  height: 46px;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_19 {
  width: 364px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_21 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_16 {
  height: 46px;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_20 {
  width: 79px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_17 {
  height: 46px;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_21 {
  width: 364px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_22 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_18 {
  height: 46px;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_22 {
  width: 79px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_19 {
  height: 46px;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_23 {
  width: 364px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_23 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_20 {
  height: 46px;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_24 {
  width: 79px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_21 {
  height: 46px;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_25 {
  width: 364px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_24 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_22 {
  height: 46px;
  background: url(./img/SketchPng8de55894caae4d2d565ef1a5d8f2cd8afb08898c2646ba899deca1e7047aaae3.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_26 {
  width: 79px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_23 {
  height: 46px;
  background: url(./img/SketchPngfd4c38d54802dfe53c24a3bfdb96027cb1944782b9dccf532673da4926d437b8.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_27 {
  width: 364px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_25 {
  width: 934px;
  height: 46px;
  margin-left: 20px;
}

.text-wrapper_24 {
  height: 46px;
  background: url(./img/SketchPng3814ce900d4f563fd77e85127ef8f354e9b5e91e45406f31cb02f496e3caf35d.png)
    -1px -1px no-repeat;
  background-size: 222px 48px;
  width: 220px;
}

.text_28 {
  width: 79px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 8px 0 0 12px;
}

.text-wrapper_25 {
  height: 46px;
  background: url(./img/SketchPng4a2663b45edb813994512b91da4f1483cfecafeff0f880b8da0e58615b566a52.png)
    -1px -1px no-repeat;
  background-size: 716px 48px;
  width: 714px;
}

.text_29 {
  width: 364px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 11px 0 0 12px;
}

.group_26 {
  width: 574px;
  height: 36px;
  margin: 30px 0 42px 28px;
}

.image-text_2 {
  width: 114px;
  height: 20px;
  margin-top: 8px;
}

.image-wrapper_1 {
  background-color: rgba(245, 245, 250, 1);
  border-radius: 4px;
  height: 20px;
  border: 1px solid rgba(71, 77, 255, 1);
  width: 20px;
}

.thumbnail_2 {
  width: 11px;
  height: 8px;
  margin: 6px 0 0 4px;
}

.text-group_1 {
  width: 84px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 18px;
}

.text-wrapper_26 {
  background-color: rgba(249, 249, 249, 1);
  border-radius: 6px;
  height: 36px;
  margin-left: 230px;
  width: 100px;
}

.text_30 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 36px;
}

.text-wrapper_27 {
  background-color: rgba(71, 77, 255, 1);
  border-radius: 6px;
  height: 36px;
  margin-left: 30px;
  width: 100px;
}

.text_31 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 7px 0 0 22px;
}
